


@font-face{
  font-family: thin_;
  src: url('../fonts/Montserrat-Thin.eot');
  src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Thin.woff') format('woff'),
    url('../fonts/Montserrat-Thin.ttf')  format('truetype');
}

@font-face{
  font-family: light;
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),

    url('../fonts/Montserrat-Light.ttf')  format('truetype');
}

@font-face {
  font-family: bold_;
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),

    url('../fonts/Montserrat-Bold.ttf')  format('truetype');
}

@font-face{
  font-family: ultra-light;
  src: url('../fonts/Montserrat-UltraLight.eot');
  src: url('../fonts/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-UltraLight.woff') format('woff');

}
@font-face{
  font-family:regular;
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),

    url('../fonts/Montserrat-Regular.ttf')  format('truetype');
}

a:focus {
  outline: none !important;
  outline-offset: 0px !important;
}

input:focus,input:active{
outline: none ;
border:none;
}
.light{
  font-family: light;
}
.ultra-light{
  font-family: ultra-light;
}
.regular{
  font-family: regular;
}
.thin{
  font-family: thin_;
}
.bold{
  font-family: bold_;
}

a:focus, a:hover,a:active {
  text-decoration: none !important;
}

/*body{
  font-family: light;
}*/

button,a,div,span,img{
  -webkit-transition:all 0.2s ease;
  transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
}

/*div.circle,div.circle img,div.shape,.contain_shape span{
  transition:none !important;
   -moz-transition:none !important;
   -webkit-transition:none !important;
   -o-transition: none !important;
}*/

.montserrat{
  font-family:regular;
}


.dark_{
  color:rgb(93, 91, 91);
  font-size: 13px;
  font-weight: 400;
}

.shadow-bg-section{
box-shadow: inset 0px -12px 16px -11px rgba(0,0,0,0.5);
}

/*
FIRST SECTION
=============================================================*/

 .search_option.search_all:last-child{
  margin-top:15px;
}

.wedgit_search{
position: relative;
display: table;
left: 0px;
right: 0px;
bottom: 0px;
margin: auto;
top:15%;
}

 .wedgit_search .search_name *{
  color:grey ;
}

 .wedgit_search .search_location *{
  color:grey ;
}
.wedgit_search .search_location i.icon-map{
  font-size: 20px;
}
 .wrap-normal{
  padding: 0px !important; 
}

.wedgit_search {
  padding-top: 290px;
transition: all 0.6s ease 0.1s;
/*  padding-bottom: 10%;*/
}

.wedgit_search .filter {
  margin: 0px;
  margin-right: 35px;
}

.wedgit_search .top_content .search_fields{
    z-index: -5;
}

.wedgit_search .bottom_content {
    z-index: -5;
}

.wedgit_search .bottom_content .search_option{
  z-index: 0;
}

.search_name i.icon{
  margin-right: 5px;color: rgb(181, 181, 181);
}

section.home .search_fields .search_name i.icon.icon-map{
  font-size: 18px;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter {
  text-align: center;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter:hover {
  text-decoration: none;
  color:white;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter.active {
  text-decoration: none;
  color:white;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter:visited{
  text-decoration: none;
  color:white;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon{
  line-height: 2.3;
  font-size: 39px;
  color:white;
/*  margin-left: 2px;*/
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-28{
  line-height: 2.5;
  font-size: 42px;
  position: relative;
  left: 2px;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-19{
  font-size: 38px;
  line-height: 2.5;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-22
{
  font-size: 36px;
  line-height: 2.5;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-31{
  font-size: 35px;
  line-height: 2.7;
}

section.home div.wedgit_search .top_content .bottom_content span.icon{
  font-size: 20px;
  text-align: center;
  line-height: 1.7;
}

section.home div.wedgit_search .top_content .bottom_content  span.icon-29{
    font-size: 30px;
  line-height: 1.18;
}

section.home .info_text.personal_info{
  display: block !important;
}

/*
END OF FIRST SECTION
=============================================================*/






/*
 SECOND SECTION
==============================================================*/
#home .section2{
  margin-bottom: -55px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
#home .section2{
  margin-bottom: -55px;
}
}
 .laptop{
  position: relative;
  background: url(../img/laptop.jpg) no-repeat center center;
  background-origin: content-box;
  width: 700px;
  height: 580px;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
  /*margin-bottom: -100px;*/
}
.head_laptop{
  color: #bababa;
  font-size: 1.7em;
  text-align: center;
  font-family: light;
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 5px;
}
/*
START OF CSS3 SHAPES
============================================================*/

/*
GENERAL STYLES FOR ALL SHAPES
========================================================================*/
 .contain_shape{
  display:inline-block;
  position: absolute;
  z-index: 4545 !important;
  overflow-wrap: hidden;

}
 .contain_shape > .circle{
  position: relative;
}
 .contain_shape > .circle  img{
  width:25px;
  height:25px;
  margin:auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
}

 .contain_shape > .circle  span.icon{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(27, 184, 234);
  font-size: 32px;
  line-height: 1.5;
    transition:all ease 0.4s;
  -webkit-transition:all ease 0.4s;
  -moz-transition:all ease 0.4s;
}

.contain_shape > .circle span.icon-31{
  font-size: 30px;
/*    left: 3px;*/
  line-height: 1.6;
  right: 2px;
}

.contain_shape > .circle span.icon-27{
  font-size: 26px;
  line-height: 1.85;
}

/* .contain_shape > .circle  span.icon.icon-25{
    font-size: 26px;
    line-height: 1.9;
 }*/

.contain_shape > .circle span.icon.icon-22{
/*  line-height: 1.8;*/
  top: -2px;
  left: 1px;
}

.contain_shape > .circle  span.icon.icon-28{
  font-size: 36px;
  line-height: 1.5;
  }

.contain_shape > .circle  span.icon.icon-25{
  font-size: 28px;
  line-height: 1.7;
  left: -1px;
     transform: rotatey(180deg);
   -webkit-transform: rotatey(180deg);
   -moz-transform: rotatey(180deg);
   -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

.contain_shape.right:hover .circle > span.icon{
   color:#18D269;

}

.contain_shape.left:hover .circle > span.icon{
   color:#18D269;
}

.contain_shape > .circle  img.second-img{
  opacity: 0;
}

/*
END OF GENERAL STYLES FOR ALL SHAPES
=================================================*/

/*
LEFT SHAPES
==================================================*/
.contain_shape{
  cursor: pointer;
}
 .contain_shape.left{
  left: -180px;
}

 .contain_shape.left > span{
  float: left;
  margin-right: 15px;
    color: rgb(112, 110, 110);
  /*font-family: ultra-light;*/
  font-size: 13px;
  font-family:light;
  margin-top: 12px;
  transition:all ease 0.4s;
  -webkit-transition:all ease 0.4s;
  -moz-transition:all ease 0.4s;
}
 .contain_shape.last_shape.left > span{
  margin-top: 6px;
}

 .contain_shape.left > .circle{
    float:left;
    width:50px;
    height:50px;
    border:2px solid #1cb9eb;
    border-radius:50px;
    margin-right: 22px;
    margin-top: 20px;
    cursor: pointer;
    transition:all ease 0.4s;
    -webkit-transition:all ease 0.4s;
    -moz-transition:all ease 0.4s;
}
 .contain_shape.left > .shape{
  float:left;
  height: 50px;
  width: 200px;
  /*border-top: 2px solid #1cb9eb;
  border-left: 2px solid #1cb9eb;*/
  border-bottom: 2px solid #1cb9eb;
  border-right: 2px solid #1cb9eb;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  transition:all ease 0.4s;
  -webkit-transition:all ease 0.4s;
  -moz-transition:all ease 0.4s;
}

.contain_shape.right,.contain_shape.left{
  z-index: 0;
}
.contain_shape:hover .circle {
  border-color: #18D269;
}

.contain_shape:hover  .shape{
  border-color: #18D269;
}

.contain_shape.right:hover .circle{
  border-color: #18D269;
}
.contain_shape.right:hover .shape{
  border-color: #18D269;
}
.contain_shape:hover span{
  color:#18D269;
}
.contain_shape.right:hover span{
  color:#18D269;
}

.contain_shape.left:hover .first-img{opacity: 0;}
.contain_shape.left:hover .second-img{opacity: 1;}

.contain_shape.right:hover .first-img{opacity: 0;}
.contain_shape.right:hover .second-img{opacity: 1;}
/*
SUMMARY SHAPE
=======================================================*/

 .contain_shape.left.summary{
   top: 108px;
  left: -143px;
    -webkit-transition:all 1s ease;
   transition:all 1s ease;
   -moz-transition:all 1s ease;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 

 .contain_shape.left.summary{
   top: 108px;
  left: -126px;
  -webkit-transition:all 0.3s ease;
   transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
}

}

 .contain_shape.left.summary > .circle{
  margin-right: 6px;
  margin-top: -8px;
    -webkit-transition:all 0.3s ease;
   transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
}
 .contain_shape.left.summary > .shape{
  height: 18px;
  width: 130px;
    -webkit-transition:all 0.3s ease;
   transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
}
/*
END OF SUMMARY SHAPE
===============================================*/

/*
LOCATION SHAPE
=================================================*/

 .contain_shape.left.location{
  top: 183px;
left: -181px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .contain_shape.left.location{
  top: 183px;
  left: -165px;
}
}
 .contain_shape.left.location > .circle{
  margin-right: 6px;
  margin-top: -8px;
}

 .contain_shape.left.location > .circle  img{
  height: 32px;
  width: 18px;
}

 .contain_shape.left.location > .shape{
  height: 18px;
  width: 130px;
}
/*
END OF LOCATION SHAPE
===============================================*/

/*
RELATIVE SHAPE
================================================*/



 .contain_shape.left.relative{
    top: 269px;
    left: -232px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

 .contain_shape.left.relative{
  top: 270px;
  left: -218px;
}
}

 .contain_shape.left.relative > .circle{
  margin-right: 3px;
  margin-top: -14px;
}

 .contain_shape.left.relative > .shape{
  height: 12px;
  width: 325px;
}
/*
END OF RELATIVE SHAPE
==========================================*/


/*
END OF LEFT SHAPES
=============================================*/


/*
RIGHT SHAPES
=============================================*/
 .contain_shape.right{
  right: -128px;
}

 .contain_shape.right > span{
  float: right;
  /*margin-left: 5px;*/
  font-family: light;
  transition:all ease 0.4s;
  -webkit-transition:all ease 0.4s;
  -moz-transition:all ease 0.4s;
  /*display: none;
  position: relative;
  right: 70px;*/
    color: rgb(112, 110, 110);
  /*font-family: ultra-light;*/
  font-size: 13px;
  margin-top: -7px;
}
 .contain_shape.last_ship_right > span{
/*  margin-top: 0px;*/
}
 .contain_shape.right > .circle{
    float:right;
    width:50px;
    height:50px;
    border:2px solid #1cb9eb;
    border-radius:50px;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
      transition:all ease 0.4s;
  -webkit-transition:all ease 0.4s;
  -moz-transition:all ease 0.4s;
}
 .contain_shape.right > .shape{
  float:right;
  height: 50px;
  width: 200px;
  border-top: 2px solid #1cb9eb;
  border-left: 2px solid #1cb9eb;
  /*border-bottom: 2px solid #1cb9eb;
  border-right: 2px solid #1cb9eb;*/
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
    transition:all ease 0.4s;
  -webkit-transition:all ease 0.4s;
  -moz-transition:all ease 0.4s;
}


/*
EMAIL SHAPE
=================================================*/
 .contain_shape.right.email{
  top: 231px;
  right: -102px;
  border-bottom: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .contain_shape.right.email{
  top: 231px;
  right: -92px;
  border-bottom: none;
}

}

 .contain_shape.right.email > .circle{
  margin-left: 8px;
  margin-top: -25px;
}

 .contain_shape.right.email > .circle  img{
  width:25px;
  height:18px;
}

 .contain_shape.right.email > .shape{
  height: 18px;
  width: 130px;
}
/*
END OF EMAIL SHAPE
==================================================*/

/*
PROFILE SHAPE
================================================*/

 .contain_shape.right.profile{
    top: 292px;
    right: -222px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .contain_shape.right.profile{
  top: 292px;
  right: -208px;
  }
}
 .contain_shape.right.profile > .circle{
  margin-left: 2px;
  margin-top: -24px;
}

 .contain_shape.right.profile > .circle  img{
  width:30px; height:30px;
}

 .contain_shape.right.profile > .shape{
  height: 8px;
  width: 130px;
}
/*
END OF PROFILE SHAPE
=================================================*/

/*
PHOTO SHAPE
=================================================*/

 .contain_shape.right.photo{
  top: 371px;
  right: -103px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .contain_shape.right.photo{
  top: 371px;
  right: -96px;
} 
}

 .contain_shape.right.photo > .circle{
  margin-left: 4px;
  margin-top: -24px;
}

 .contain_shape.right.photo > .shape{
  height: 12px;
  width: 145px;
}
/*
END OF PHOTO SHAPE
============================================*/


/*
END OF RGHT SHAPES
===========================================*/


/*
END OF CSS3 SHAPES
==========================================*/


/*
END OF SECOND SECTION
==========================================*/


/*
RESPONSIVE VIEW
===============================================================================*/




@media (min-width:531px) and (max-width: 650px){
  /*
FIRST SECTION
===============================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:16px !important ;
}
/*
FIRST SECTION
================================================*/
}

@media (max-width: 768px){

/*
FIRST SECTION
==============================================*/
.wedgit_search .filter:hover {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
  box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
}
/*
FIRST SECTION
==============================================*/
.head_laptop{
  font-size: 1.4em;
}

#home .section2 {
  margin-bottom: -110px;
}
.contain_shape.left > .shape{
  border-bottom-width: 1px ;
  border-right-width: 1px ;
  }

  .contain_shape.right > .shape{
  border-top-width: 1px ;
  border-left-width: 1px ;
  }

  .contain_shape.right > .circle {
  border-width: 1px ;
}

.contain_shape.left > .circle {
  border-width: 1px ;
}

}




@media (max-width: 1150px){
/*
SECOND SECTION
==========================================*/
     .contain_shape > span{
    visibility: hidden;
  }
/*
SECOND SECTION
===========================================*/
}

@media (max-width: 992px){

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-28 {
  line-height: 2;
}
/*
SECOND SECTION
===========================================*/
   .laptop {
    width:600px;
  }


   .contain_shape > span{
    display: none;
  }
  .contain_shape.left.summary {
    top: 135px !important;
    left: -65px !important;
  }

  .contain_shape.left.location {
    top: 199px !important;
    left: -65px !important;
    }

     .contain_shape.left.relative {
    left: -68px !important;
   }

    .contain_shape.right.email {
      top: 238px !important;
    right: -80px;
  }

   .contain_shape.right.profile {
      top: 292px;
    right: -80px;
   }

   .contain_shape.right.photo {
      top: 358px;
    right: -80px;
   }
/*
END OF SECOND SECTION
========================================*/ 
#home .section2 {
  margin-bottom: -85px;
}
.laptop{
    margin-top: -70px;
}
}

@media (min-width: 680px) and (max-width: 768px){
 .laptop{
    -webkit-transform: scale(1.4,1.5) !important;
    -moz-transform: scale(1.4,1.5) !important;
    transform: scale(1.4,1.5) !important;
  }
}

@media (min-width:570px) and (max-width: 679px){
 .laptop{
    -webkit-transform: scale(1.2,1.3) !important;
    -moz-transform: scale(1.2,1.3) !important;
    transform: scale(1.2,1.3) !important;
  }
}

@media (min-width:531px) and (max-width: 650px){
  /*
FIRST SECTION
=====================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:16px !important ;
}
/*
FIRST SECTION
===================================*/
}

@media (max-width: 850px){
  .contain_shape > .circle span.icon {
  font-size: 24px;
  line-height: 2;
}

.contain_shape > .circle span.icon.icon-28 {
  font-size: 30px;
  line-height: 1.8;
}

}

@media (max-width: 768px){

/*
FIRST SECTION
===================================/
.wedgit_search .filter{
  margin:0px;
  margin-right:22px ;
}*/
section.home div.wedgit_search div.top_content div.search_filters a.filter > i{
    vertical-align: middle;
}
/*

FIRST SECTION
================================*/

/*
SECOND SECTION
========================================*/
.contain_shape > .circle span.icon.icon-25 {
  font-size: 23px;
  line-height: 1.3;
  right: -1px;
}

 .laptop .contain_shape.left > .circle {
  width: 30px;
  height: 30px;
}
.laptop .contain_shape > .circle img {
  width: 15px;
  height: 15px;
 }
.laptop .contain_shape.left.location > .circle > img {
  height: 18px;
  width: 13px;
}
.contain_shape.left.summary {
  top: 187px !important;
  left: -35px !important;
}

 .contain_shape.left.summary > .circle {
  margin-top: -3px;
}

 .contain_shape.left.summary > .shape {
  height: 15px;
  width: 70px;
}
.contain_shape.left.location {
  top: 229px !important;
  left: -35px !important;
}
 .contain_shape.left.location > .circle {
  margin-top: -3px;
}
 .contain_shape.left.location > .shape {
  height: 15px;
  width: 65px;
}
 .contain_shape.left.relative {
  top: 278px;
  left: -35px !important;
}
 .contain_shape.left.relative > .circle {
  margin-top: -6px;
}
 .contain_shape.left.relative > .shape {
  width: 190px;
}

/*RIGHT SHAPES*/
 .contain_shape.right > .circle {
  width: 30px;
  height: 30px;
 }
 .contain_shape.right.email {
  top: 250px !important;
  right: -48px;
}
 .contain_shape.right.email > .circle {
    margin-top: -17px;
}
 .contain_shape.right.email > .shape {
  height: 18px;
  width: 80px;
}
 .contain_shape.right.email > .circle img {
  width: 12px;
  height:12px;
}

 .contain_shape.right.profile {
  top: 288px;
  right: -48px;
}
 .contain_shape.right.profile > .circle{
  margin-top: -17px;
}
 .contain_shape.right.profile > .shape {
  height: 8px;
  width: 80px;
}
 .contain_shape.right.profile > .circle > img {
  width: 15px !important;
  height: 15px !important;
}
 .contain_shape.right.photo {
  top: 332px;
  right: -48px;
}
 .contain_shape.right.photo > .circle{
  margin-top: -14px;
}
 .contain_shape.right.photo > .shape {
  height: 12px;
  width: 100px;
}

.contain_shape > .circle span.icon {
  font-size: 16px;
  line-height: 1.8;
}

.contain_shape > .circle span.icon.icon-22 {
  line-height: 1.99;
}

.contain_shape > .circle span.icon-31 {
  right: 1px;
}

.contain_shape > .circle span.icon.icon-19 {
  left: 2px;
}

.contain_shape > .circle span.icon-27 {
  left:1.5px;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon {
  line-height: 0.9;
   font-size: 24px;
}
section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-31 {
  line-height: 0.9;
   font-size: 28px;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-22
{
  line-height: 0.9;
   font-size: 28px;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-19 {
  line-height: 0.9;
  font-size: 28px;
}

section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-28 {
  line-height: 0.9;
    font-size: 28px;
}

/*
END OF SECOND SECTION
=================================================*/ 
 .laptop{
  width:400px;
  margin-top: -85px;
    -webkit-transform: scale(1,1.1);
}
#home .section2 {
  margin-bottom: -95px;
}
.contain_shape > .circle span.icon.icon-28 {
  font-size: 28px;
  line-height: 1.36;
}



}

@media(max-width: 565px){
  #home .section2 {
  margin-bottom: -45px;
}
.laptop{
  margin-bottom:-80px;
}
}

@media (max-width:530px){

/*
FIRST SECTION
=============================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:18px ;
}
/*
FIRST SECTION
============================================*/
.head_laptop{
  font-size: 1.1em;
}
/*
THIRD SECTION
===============================================*/
.third-section .w-col-3{
  width:100%;
}
/*
END OF THIRD SECTION
=============================================*/
}


@media (max-width:480px){


section.home div.wedgit_search .top_content .bottom_content span.icon {
  font-size: 14px;
}

section.home div.wedgit_search .top_content .bottom_content span.icon-29 {
  font-size: 20px;
}


#home .section2 {
  margin-bottom: -140px;
}
.laptop {
  margin-bottom: 3px;
}
/*
FIRST SECTION
=============================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:14px ;
}
/*
FIRST SECTION
==========================================*/


/*
SECOND SECTION
============================================*/
.head_laptop{
  font-size: 1em;
}
 .laptop {
  /*width: 280px;
   -webkit-transform: scale(1.2,1.3);*/
     width: 90%;
}
.contain_shape{
  display: none!important;
}
/*.contain_shape.left.summary {
  top: 220px !important;
  left: -28px !important;
}
 .contain_shape.left.summary > .shape {
  height: 15px;
  width: 40px;
}
.contain_shape.left.location {
  top: 251px !important;
  left: -28px !important;
}
 .contain_shape.left.relative {
    left: -28px !important;
}*/
/*
END OF SECOND SECTION
===========================================*/

}

@media (max-width: 380px){
  /*
FIRST SECTION
============================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:12px ;
}
/*
FIRST SECTION
==========================================*/
.head_laptop{
font-size: 12px;
}


}

/*
END OF RESPONSIVE VIEW
===============================================================================*/


@media (max-width:678px){
#home .section2 {
  margin-bottom: -115px;
}
.laptop {
  margin-top: -105px;
}

}

@media (max-width:570px){
  #home .section2 {
  margin-bottom: -138px;
}
.laptop {
  margin-top: -125px;
}
}

@media(max-width:564px){
  #home .section2 {
  margin-bottom: -65px;
}
.laptop {
  margin-top: -128px;
}
} 



@media (max-width:442px){
  .laptop {
  margin-top: -140px;
}

#home .section2 {
  margin-bottom: -150px;
}

}

@media (max-width: 400px){
  #home .section2 {
  margin-bottom: -162px;
}
.laptop {
  margin-top: -156px;
}
}

@media (max-width: 350px){
  #home .section2 {
  margin-bottom: -177px;
}
.laptop {
  margin-top: -172px;
}
}

@media (max-width: 690px){
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon {line-height:0 !important; 
font-size: 20px;
  }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-31 {
    line-height:0 !important;font-size: 20px; }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-22 {line-height:0 !important;font-size: 20px; }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-19 {line-height:0 !important;font-size: 20px; }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-28 {line-height:0 !important; font-size: 20px;}
  section.home .wedgit_search .filter {
  padding: 6%;
}

  }

  @media (max-width: 650px){
      section.home .wedgit_search .filter {
  padding: 5.5%;
}
  }

@media (max-width: 480px){
  #home .section2 {
  margin-bottom: -137px;
}

section.home .wedgit_search .filter {
  padding: 5%;
}

}

@media (max-width: 400px){
  section.home .wedgit_search .filter {
  padding: 4%;
}

  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon {line-height:0 !important; 
font-size: 20px;
  }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-31 {
    line-height:0 !important;font-size: 18px; }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-22
 {line-height:0 !important;font-size: 18px; }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-19 {line-height:0 !important;font-size: 18px; }
  section.home div.wedgit_search div.top_content div.search_filters a.filter > i.icon-28 {line-height:0 !important; font-size: 18px;}

}


  
/*BLOG PAGES*/
#blog{
  background-color:#f5f5f5; 
  position: relative;
}

#blog header{
  display: inline-block;
  background-color: white;
  width: 100%;
  height: 50px;
}

#blog header .navbar{
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
}

#blog .logo_white{
background: url(../img/logo_black.png)no-repeat;
  background-size: 96%;
  width: 260px;
  margin-left: 5%;
  margin-top: 2%;
}

#blog .navbar-collapse .icon-chat{
  color:black !important;
}

@media (max-width: 768px){

#blog .logo_white {
  background: url(../img/logo_black.png)no-repeat;
  background-size: 82%;
  width: 234px;
  margin-left: 8%;
  margin-top: 3%;
}

}

/*#blog .navbar-default .navbar-brand {
  color: rgb(0, 0, 0) !important;

}*/

/*#blog .navbar-default .navbar-nav > li:last-child > a{
  color:#227efb !important;
}*/

#blog .navbar-default .navbar-nav > li > a {
  color: black !important;
  font-family: light;

}

#blog .navbar-default .navbar-nav > li > a .icon-5 {
  color: rgb(34, 126, 251);
  font-size: 22px;
}

#blog header > nav a{
  color:black !important;
}

#blog section.blog{
  width:100%;
  /*background-color: grey;*/
  max-width: 1480px;
  margin: auto;
  margin-top:2.5%;
  padding: 0 20px;
  /*display: inline-block;*/
  position: relative;
  text-align: center;
}

#blog .blog.detail{
  margin-top:2.5%;
}

#blog section.blog .cont{
  margin:auto;
  padding: 0 20px;
  display: inline-block;
  width:85%;
  text-align: left;
}

#blog section.blog .cont.detail{
    margin-bottom: 4%;
}

/*LEFT DIV
==================================================*/
#blog .left-div{
  float:left;
  width:65%;
  background-color: white;
/*  padding-left: 5px;
  padding-right: 5px;*/
    box-shadow: 6px 6px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

#blog .left-div.list{
  margin-bottom: 3.5%;
}

#blog .left-div.list:nth-last-of-type(1) {
  margin-bottom: 1%;
}

#blog .left-div .first .date{
  text-align: left;
  width:50%;
  float:left;
  color:#939393;
}

#blog .left-div .first .social{
  text-align: right;
  width:50%;
  float:right;
}

#blog .left-div .second{
  position: relative;
  max-width: 100%;
  float: left;
}



#blog .left-div .second::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 2px 20px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0px 2px 20px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0px 2px 20px rgba(0,0,0,.3);
}


#blog .left-div .second img {
  max-height: 100%;
  width:100%;
}

#blog .left-div .second .two:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #3534a8, #ee2b3b);
  opacity: .8;
}

#blog .left-div .third .article-img{
    max-height: 100%;
    width: 312px;
    height: 180px;
    float: left;
    margin: 9px 16px 10px 0px;
}

#blog .left-div .third p{
  color: #070707;
  font-size: 14px;
}

#blog .left-div .third .writer-name{
  color: #868686;
  font-family: light;
  margin-bottom: 3%;
  margin-top: 3%;
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
}

#blog .left-div .forth .description{
  text-align: left;
  width:50%;
  float:left;
}

#blog .left-div .forth .description span{
  padding-left: 9px;
}

#blog .left-div .forth .social{
  text-align: right;
  width:50%;
  float:right;
}

#blog  .left-div .first,#blog .left-div  .third,#blog .left-div  .forth{
/*  display: inline-block;*/
  overflow: hidden;
  padding: 10px;
  width:100%;
}

#blog  .left-div .first .date span{
  font-size: 14px;
  margin-left: 8px;
}

#blog .left-div .third{
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 0px;
  margin-bottom: -6px;
}

#blog .left-div .third article .main-topic {
  margin-bottom: 18px;
}

#blog .read-more a{
    color: #227efb ;
   font-weight: 300;
}

#blog .read-more{
  padding-top: 13px;
}

#blog .read-more a:hover{
      color: #69A6F8;
      text-decoration: none;
}

#blog  .left-div .social a:last-child {
  margin-right: 0;
}

#blog  .left-div .social a {
  margin-right: 10%;
  color: #4b4b4b;
  transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
    font-size: 14px;
}

#blog  .left-div .social a:hover {
  color: #686868;
  text-decoration: none;
}

#blog .left-div .forth{
  border-top: 1px solid #cccccc;
}

#blog .left-div.list .forth{
  border-top: none;
  padding-top:25px;
}


/*END OF LEFT DIV
==================================================*/

/*RIGHT DIV
=================================================*/
#blog .right-div{
  float:right;
  width:33%;
  padding-left: 5px;
  padding-right: 5px;
}


@-moz-document url-prefix() {

#blog .right-div div.input-group span{
  width:11%;
}

#blog .right-div div.input-group span > .btn{
  padding: 8px 12px;
}

#blog .form-control{
height:auto;
padding: 6px 12px !important;
}

#blog .right-div div.input-group span > .btn {
    padding: 6px 12px;
}

}

#blog .first .input-group > .form-control{
  color: black;
}

#blog .first .input-group > .form-control::-webkit-input-placeholder {
  color: rgb(164, 163, 163);
}

#blog .first .input-group > .form-control:-moz-placeholder { /* Firefox 18- */
  color: rgb(164, 163, 163);
}

#blog .first .input-group > .form-control::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(164, 163, 163);  
}

#blog .first .input-group > .form-controls:-ms-input-placeholder {  
  color: rgb(164, 163, 163); 
}


 #blog .right-div .first, .right-div .second, .right-div .third, .right-div .forth{
  background-color: white;
  padding: 15px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.06);
  margin-bottom: 10%;
  border-radius: 4px;
}

#blog .right-div .forth{
  padding-top: 15px;
  padding-bottom: 13px;
}

 #blog .right-div .first{
    box-shadow: 6px 6px rgba(0, 0, 0, 0.06);
    padding: 0;
 }


#blog .right-div .first input{
  border:none;
  font-family: light;
  font-size:12px;
  font-weight: lighter;
  padding-top: 19px;
  padding-bottom: 19px;
}

#blog .right-div .first input.form-control:focus{
     border-color: transparent; 
   outline: 0; 
  -webkit-box-shadow: none;
  box-shadow: none;
}

#blog .right-div .first .btn-default{
  box-shadow: none;
    background-color: #227efb;
  border-color: #227efb;
  box-shadow: none;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
   transition:all 0.3s ease;
   -webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
  width: 104%;
  height: 141%;
}

#blog .right-div .first .btn-default:hover{
  color:white;
  background-color: #4693FD;
  border-color:#4693FD;
}

#blog .right-div .second dd ,#blog .right-div .third dd {
   color:#217dfa;
   font-family: light;
   margin-bottom: 6%;
   font-size: 13px;
}

#blog .right-div .second dd a,#blog .right-div .third dd a{
   color:#217dfa;
   font-family: light;
   font-size: 13px;
   transition:all 0.2s ease;
   -webkit-transition:all 0.2s ease;
   -moz-transition:all 0.2s ease;
}

#blog .right-div .second dd a:hover,#blog .right-div .third dd a:hover{
  text-decoration: none;
  color:#75B0FE;
}

#blog .right-div .second dd:last-child,#blog .right-div .third dd:last-child{
  margin-bottom: 0;
}
#blog .right-div .second dl{
  margin-bottom:0;
}
#blog .right-div .second dt{
  font-family: light;
  font-size: 18px;
  margin-bottom: 4%;
  font-weight: 500;
}


#blog .right-div .third dd > span.diff{ 
color:#6d6d6d;
margin-left: 4PX;
}

#blog .right-div .third dl{
  margin-bottom:0;
}
#blog .right-div .third dt{
  font-family: light;
  font-size: 18px;
  margin-bottom: 4%;
  font-weight: 500;
}

#blog .right-div .forth .social-right{
  text-align: center;
}

#blog .right-div .forth .social-right a{
  margin-right: 30px;
  font-size: 20px;
  color:#227efb;
   transition:all 0.2s ease;
   -webkit-transition:all 0.2s ease;
   -moz-transition:all 0.2s ease;
}

#blog .right-div .forth .social-right a:last-child{
  margin-right: 0px;
}

#blog .right-div .forth .social-right a:hover{
  color:#69A6F8;
  text-decoration: none;
}

/*END OF RIGHT DIV
=================================================*/

/*
PAGINATON
==========================================*/
#blog nav.pages{
  float: left;
  width: 65%;
  text-align: center;
}

#blog .pagination{
  font-weight: 300;
}

#blog .pagination>li>a, .pagination>li>span{
  background-color: transparent;
  border: none;
  color: #4a4a4a;
  padding-left: 3px;
  font-size: 12px;
}

#blog .pagination>li>a:hover{
  color:#227efb;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#blog .pagination>li>a:active{
  color:#227efb;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}



/*RESPOINSIVE VIEW
============================================*/
#blog .right-responsive .very-responsive{
display: none;
}

#blog .right-responsive{
    background-color: white;
  margin-bottom: 4%;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.06);
  display: none;
}
#blog .right-responsive > .nav-pills > li:first-child{
  width:70%;
  display: table;
}

 #blog .right-responsive input{
  border:none;
  font-family: light;
  font-size:13px;
}

#blog .right-responsive .input-group{
  width:40%;
}

#blog .right-responsive .btn-default{
  box-shadow: none;
    background-color: #227efb;
  border-color: #227efb;
  box-shadow: none;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
   transition:all 0.3s ease;
   -webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
  width: 104%;
  height: 141%;
}

#blog .right-responsive .btn-default:hover{
  color:white;
  background-color: #4693FD;
  border-color:#4693FD;
}

#blog .right-responsive li {
   color:#217dfa;
   font-family: light;
/*   margin-bottom: 6%;*/
   font-size: 14px;
}

#blog .right-responsive li a{
   color:#217dfa;
   font-family: light;
   font-size: 14px;
   transition:all 0.2s ease;
   -webkit-transition:all 0.2s ease;
   -moz-transition:all 0.2s ease;
}

#blog .right-responsive li a:hover{
  text-decoration: none;
  color:#75B0FE;
}

#blog .right-responsive .first li:last-child,.right-responsive .second li:last-child{
  margin-bottom: 0;
}

#blog .right-responsive ul{
  margin-bottom:0;
}


#blog .right-responsive span.diff{ 
color:#6d6d6d;
}

#blog .right-responsive ul{
  margin-bottom:0;
}

#blog .right-responsive .dropdown-menu>li>* {
  display: block;
  padding: 3px 20px;
  padding-right: 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: inherit;
}

#blog .right-responsive .dropdown-menu{
 right:0;
 left:auto;  
}

/*END OF RESPOINSIVE VIEW
============================================*/


/*END OF BLOG PAGES*/

@media (max-width: 420px){

  #blog .right-responsive .very-responsive{
  display: block ;
 }

 #blog .right-responsive .nav-pills li.news.dropdown.second{
  display: none ;
 }

 #blog .right-responsive li.first{
  width:100%;
  text-align: center;
 }

}

@media (max-width:1100px ){

/*  #blog .left-div .second::before {
  width: 50.8%;
  height: 12.3%;
}

#blog .left-div.list .second::before {
  height: 16.42%;
}*/

}

@media (max-width: 992px) {

/*  #blog .left-div .second::before {
   width: 56.5%;
  height: 12.3%;
}

#blog .left-div.list .second::before {
  height: 16.3%;
}*/

  #blog section.blog {
    margin: 4.5% auto;
  }
  #blog section.blog .cont{
    width:95%;
  }
}

@media (max-width: 850px) {
 #blog .left-div{
    width:100%;
  }

  #blog nav.pages{
    width:100%;
  }

 #blog .right-div{
  display: none;
/*    width:100%;
      margin-top: 10%;*/
  }
  #blog .right-responsive{
    display: block;
  }
}

@media (max-width: 800px){

   #blog .right-responsive > .nav-pills > li:first-child{
    width:60%;
  }
 #blog .right-responsive .dropdown-menu{
    right:auto;
    left:0;
  }

}

@media (max-width: 768px){
 #blog .right-responsive > .nav-pills > li:first-child{
    width:60%;
  }
 #blog .right-responsive .dropdown-menu{
    right:auto;
    left:0;
  }

  #blog section.blog {
  margin: 6.5% auto;
}

 #blog .title {
  font-size:27px;
 }

}

@media (max-width: 650px){
/* #blog .dropdown.first,.dropdown.second{
    width: 100%;
    text-align: center;
  }
*/ #blog .right-responsive .dropdown-menu {
  right: 0;
  left: auto;
}

 #blog .title {
  font-size:24px;
 }


}

@media (max-width: 620px){
  #blog .right-responsive > .nav-pills > li:first-child {
  width: 50%;
}

}

@media (max-width:540px){
 #blog .right-responsive  .dropdown-menu>li>*{
    white-space: normal;
  }
  #blog .right-responsive li.dropdown a {
    font-size: 10px;
  }
  #blog .glyphicon {
    font-size:12px;
  }
}

@media (max-width: 480px){
  #blog section.blog {
  margin: 8.5% auto;
 }

 #blog .title {
  font-size:22px;
 }

#blog  .right-responsive .dropdown-menu>li>* {
  display: block;
  padding: 3px 3px;
  padding-right: 3px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: normal;
  font-size:12px;
}

/*#blog .right-responsive .dropdown-menu{
  max-width: 100%;
    right: 0;
  left: 0;
}*/

#blog  .right-responsive li {
  max-width: 100%;
}

}


@media (max-width: 441px){

  #blog .right-responsive .dropdown-menu {
  max-width: 100%;
  right: 0;
  left: 0;
}

#blog .right-responsive > .nav-pills > li:first-child {
  width: 100%;
}



}



/*
 Career page
==========================================================================================*/

/*MAIN SECTION
===========================================*/

button,a,div,span,img{
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
}

#career,.car{
  background-color: #f5f5f5;
}

.career.bg-gredient{

  width: 100%;
  background: url("../img/BG.jpg")  center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80%;
  max-height: 870px;
/*  box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.5) inset;*/
  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);
}

.career.main-section {
  height:80%;
  max-height: 870px;
}

.career.bg-gredient:before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  max-height: 870px;
/*  background-image: linear-gradient(to bottom right,rgba(53,52,168,0.82), rgba(238,43,59,0.82));*/
  background-image: linear-gradient(to bottom right, #ff1c00, #ff1c00);
  opacity: .6;
/*  opacity: .8;*/
}

.career.main-section .opacity- {
/*  width:52%;
  margin:auto;
  padding: 18% 2%;
  text-align: center;
  color:white;*/
        display: table;
  height: 100%;
  position: relative;
}

.career.main-section .opacity- > div{
    color:white;
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  color: #fff;
}

.career.main-section .opacity- >div h1 {
  font-size: 50px;
}

.career.main-section .opacity- > div p{
  padding: 0 16px;
  font-size: 16px;
}

/*END OF  MAIN SECTION
===========================================*/

#career .content-section{
/*  max-width: 970px;*/
  /*height:57%;*/
/*  max-height: 690px;*/
  margin:auto;
  width: 100%;. 
}

.career.bg-gredient{

  width: 100%;
  background: url("../img/BG.jpg")  center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80%;
  max-height: 870px;
/*  box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.5) inset;*/
  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);
}

.career.bg-gredient:before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  max-height: 870px;
/*  background-image: linear-gradient(to bottom right,rgba(53,52,168,0.82), rgba(238,43,59,0.82));*/
  background-image: linear-gradient(to bottom right, #ff1c00, #ff1c00);
  opacity: .6;
/*  opacity: .8;*/
}

.career.main-section .opacity- {
/*  width:52%;
  margin:auto;
  padding: 18% 2%;
  text-align: center;
  color:white;*/
        display: table;
  height: 100%;
  position: relative;
}

.career.main-section .opacity- > div{
    color:white;
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  color: #fff;
}
.career.main-section .opacity- >div h1 {
  font-size: 50px;
}

.career.main-section .opacity- > div p{
  padding: 0 16px;
  font-size: 16px;
}

#career .content-section > .categories{
  width:80%;
  margin:auto;
  color:black;
  margin-top: 4.5%;
}

#career .content-section > .categories .main-category{
  width:100%;
  margin:auto;
}

#career .content-section > .categories .title-main-category h4{
  margin-top:0px;
}

#career .content-section > .categories .main-category:not(.different){
margin-top:50px;
}


#career .content-section > .categories .main-category .sub-categ{
  background-color: white;
/*  padding: 26px 10px 20px 0px;*/
  padding: 26px 10px 26px 0px;
  font-family:light;
  cursor: pointer;
  margin-top: 7px;
  -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
  /*  display: inline-block;*/
}



#career .content-section > .categories .main-category .sub-categ:hover {
  background-color: rgb(248, 248, 248);
}

#career .content-section > .categories .main-category .sub-categ{
  margin-bottom: 2px;
  position: relative;
}

#career .content-section > .categories .main-category:last-child .sub-categ:last-child{
  margin-bottom:6%;
}

#career  .content-section > .categories .main-category .title.col-xs-12 {
  padding-left: 0px;
}

/*#career .categories .main-category .sub-categ .sub-title{
  color:#b7b7b7;
}*/
#career .categories .main-category .sub-categ .new-title
{
  float: left;
  width: auto;
  display:table-cell;
  margin-right: 20px;
}

#career .categories .main-category .sub-categ .new-subtitle{
  display: inline;
  width: auto;
}

#career  .main-category .sub-categ .new-apply a{
  color:#368afb;
   -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
}


#career .sub-categ .new-apply{
  text-align: right;
/*  margin-right: 15px;*/
/*  float:right;*/
    position: absolute;
    right: 15px;
    vertical-align: middle;
    top:40%;
}


#career  .main-category .sub-categ .new-apply a:hover{
  color:#75AFFD;
  text-decoration: none;
}

#career .main-category .accordion-career-{
  padding:15px 15px;
  background-color: white;
  font-family: light;
  padding-left: 25px;
}

#career .sub-categ h6{
  font-size: 16px;
  margin-left: 20px;
  width: 100%;
}

/*#career .sub-categ .sub-title h6 {
  font-size: 15px;
}*/

#career .sub-categ .new-subtitle p{
  font-size: 15px;
  font-family: light;
  color: #b7b7b7;
  margin: 8px 0 0;
  margin-left: 20px;
  width: 90%;
}

#career .main-category .accordion-career- div{
  margin-bottom: 27px;
  font-family: light;
  padding-left: 5px;
} 
#career .main-category .accordion-career- .skills ul{
  list-style: none;
}
#career .main-category .accordion-career- .skills ul li::before{
  content: ".";
  height: 1em;
  width: 16px;
  display: block;
  float: left;
  margin-left: -1.5em;
  font-weight: bold;
}


#career .main-category .accordion-career- .skills ul li {
  margin-bottom: 6px;
}

#career .main-category .accordion-career- h6{
  text-transform: uppercase;
  font-size:15px;
    font-family: light;
}

#career .main-category .accordion-career- .apply-now > button{
  background-color: #1cb9eb;
  color: white;
  font-family: light;
  padding: 8px 96px 12px;
  font-size: 18px;
}

#career .main-category .accordion-career- .apply-now > button:hover{
  background-color:#4CC6ED;
}

#career .main-category .accordion-career- .apply-now{
  margin-bottom: 40px;
}

/*#career footer .second{
  padding: 1%;
}*/

#career .main-category .panel-group .panel {
  margin-bottom:auto;
  border-radius: 0;
}
#career .main-category .panel {
  margin-bottom: auto;
  background-color: transparent;
  border: none;
  border-radius:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#career .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border:none;
}

#career .sub-categ h6.show-h , h6.hide-s{
  margin-left: 0px !important;
    margin: 0 !important;
}

/*
RESPONSIVE VIEW 
====================================================*/

@media(max-width: 1100px){

  #career .main-section .opacity- > div {
  width: 58%;
  }

  #career .main-section .opacity- >div h1 {
  font-size: 45px;
}
#career .main-section .opacity- > div p {
  padding: 0 14px;
  font-size: 14px;
}

}

@media(max-width: 992px){
#career .main-section .opacity- > div{
    padding: 37% 2%;
}

   #career .main-section .opacity- > div{
    width:70%;
  }

  #career .main-section .opacity- >div h1 {
  font-size: 42px;
}

#career .main-section .opacity- > div p {
  padding: 0 12px;
  font-size: 14px;
}

}
@media(max-width: 768px){
  #career .main-section .opacity- > div{
    padding: 28% 2%;
  }

   #career .main-section .opacity- > div{
    width:80%;
  }
#career .sub-categ .new-apply {
  text-align: right;
  position: relative;
  right: auto;
  vertical-align: middle;
}

#career .sub-categ h6.show-h, h6.hide-s {
  margin-top: 2.5% !important;
}

}

@media (max-width: 668px){
  #career .main-section .opacity- > div {
  width: 90%;
}
#career .main-section .opacity- >div h1 {
  font-size: 36px;
}
#career .main-section .opacity- > div p {
  padding: 0 10px;
  font-size: 12px;
}
}

@media(max-width: 505px){
  #career .main-section .opacity- > div {
  width: 93%;
}
#career .main-section .opacity- >div h1 {
  font-size: 32px;
}
#career .main-section .opacity- > div p {
  padding: 0 5px;
  font-size: 12px;
}

}

@media(max-width: 480px){
  #career .main-section .opacity- > div{
      padding: 45% 2%;
  }

    #career .main-section .opacity- > div>h1{
    font-size:28px;
  }

   #career .main-section .opacity- > div{
    width:96%;
  }

  #career .main-section .opacity- > div p {
  padding: 0 5px;
  font-size: 10px;
}

}

@media(max-width:380px){
  #career .main-section .opacity- > div{
    padding: 55% 2%;
  }

#career .main-section h1{font-size: 28px;}

#career .main-category .accordion-career- .apply-now > button{
  padding: 8px 60px;
}

    #career .main-section .opacity- > div>h1{
    font-size:22px;
  }

    #career .main-section .opacity- > div>p{
    font-size:10px;
    padding: 0px 2px;
  }

 #career .main-section .opacity- > div{
    width:100%;
  }

}

/*
END OF Career page
==========================================================================================*/


/*
CONTACT US PAGE
==========================================================================================*/

/*MAIN SECTION
===========================================*/

#contact-us{
  background-color: #f5f5f5;
}

.con{background-color: #f5f5f5;}

.contact-us.bg-gredient{

  width: 100%;
  background: url("../img/BG.jpg")  center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80%;
  max-height: 870px;
/*  box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.5) inset;*/
box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.3);
}

.contact-us.main-section {
  height:80%;
  max-height: 870px;
}

.contact-us.bg-gredient:before{
 content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    opacity: .6;
  height: 80%;
  max-height: 870px;
  background-image: linear-gradient(to bottom right,rgba(30,111,200,0.3), rgba(86,165,222,0.3));
}

.contact-us.main-section .opacity- {
  display: table;
  height: 100%;
  position: relative;
}

.contact-us.main-section .opacity- > div{
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  color: #fff;
}

.contact-us.main-section .opacity- >div h1{
  font-size: 50px;
}

.contact-us.main-section .opacity- >div p{
  font-size: 16px;
}

/*#contact-us .main-section .opacity- > div{
  width:80%;
  margin:auto;
  text-align: center;
  color:white;
  position: absolute;
}*/

/*
CONTENT SECTION
=======================================*/
#contact-us .content-section{
  max-width: 1480px;
  /*height:57%;*/
/*  max-height: 690px;*/
  margin:auto;
}

#contact-us .content-section .first-row-contact{
/*  display: inline-block;*/
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#contact-us .content-section .first-row-contact .column-contact{
  height:200px;
}

#contact-us .content-section .white-div{
  background-color: white;
  padding: 15px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.06);
  color:#5f5f5f;
  text-align: center;
  font-size: 12px;
  height:100%;

}
#contact-us .content-section .white-div:hover{
    box-shadow: 8px 8px rgba(0, 0, 0, 0.06);
}

#contact-us .content-section .white-div .first-contact h4{
  margin-top: 0px;
}

#contact-us .content-section .first-row-contact .first-contact{
  margin-bottom: 5%;
}

#contact-us .content-section  .first-contact h4{

  color:black;
}

#contact-us .content-section .first-row-contact .first-contact span{
  display: block;
}

#contact-us .content-section .first-row-contact .first-contact a{
  display: block;
  margin-bottom: 4%;
  margin-top: 4%;
}

#contact-us .content-section .first-row-contact .second-contact{
  margin-bottom: 10%;
}

#contact-us .content-section .first-row-contact .second-contact span{
  display: block;
}

#contact-us .content-section .blue-{
  color:#1f7dfb;
  font-size: 14px;
}

#contact-us .content-section .second-row-contact{
/*  display: inline-block;*/
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#contact-us .content-section .second-row-contact .first-contact .social{
  text-align: center;
  color:#1f7dfb;
}

#contact-us .content-section .second-row-contact .first-contact .social a{
  color:#1f7dfb;
  margin-right: 10%;
  font-size: 18px;
}

#contact-us .content-section .second-row-contact .first-contact .social a:hover {
  color: #65A6FD;
  text-decoration: none;
}



@media (max-width: 992px){
#contact-us .main-section > div {
  padding: 37% 2%;
}

#contact-us .content-section .first-contact h4 {
  font-size: 12px;
}



}

@media (max-width: 768px){

#contact-us .main-section > .opacity- > div {
  padding: 28% 2%;
}

#contact-us .first-row-contact div {
  margin-bottom: 2%;
}

#contact-us .second-row-contact div {
  margin-bottom: 1%;
}

#contact-us .content-section .white-div{
  padding: 10px;
}

#contact-us .main-section  .opacity- > div > h1 {
  font-size: 28px;
}

}

@media (max-width: 480px){
#contact-us .main-section  > .opacity- > div {
  padding: 45% 2%;
}

#contact-us .main-section  .opacity- > div > h1 {
  font-size: 24px;
}


}

@media (max-width: 380px){

#contact-us .main-section  > div {
  padding: 55% 2%;
}


}


/*
ABOUT US PAGE
=======================================================================================*/
button,a,div,span,img{
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
}

#about_us,.about{
    background-color: #f5f5f5;
}

 .about_us.bg-gredient{

  width: 100%;
  background: url("../img/BG.jpg")  center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80%;
  max-height: 870px;
/*  box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.5) inset;*/
/*  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.8);*/
box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);
}

 .about_us.main-section {
  height:80%;
  max-height: 870px;
}

 .about_us.bg-gredient:before{
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  max-height: 870px;
/*  background-image: linear-gradient(to bottom right,rgba(53,52,168,0.82), rgba(238,43,59,0.82));*/
  background-image: linear-gradient(to bottom right, #3534a8, #ee2b3b);
  opacity: .8;
}

 .about_us.main-section .opacity- {
/*  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
 /* background-image: linear-gradient(to bottom right,rgba(53,52,168,0.82), rgba(238,43,59,0.82));
  width: 100%;
  height:80%;
  max-height: 870px;
  box-shadow: inset 0px -3px 13px 0px rgba(0,0,0,0.5);*/
      display: table;
  height: 100%;
  position: relative;

}

 .about_us.main-section .opacity- > div{
/*  width:50%;
  margin:auto;
  padding: 18% 2%;
  text-align: center;
  color:white;*/
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  color: #fff;

}



 .about_us.main-section .opacity- >div h1 {
  font-size: 50px;
}

 .about_us.main-section .opacity- > div p{
  padding: 0 16px;
  font-size: 16px;
}

/*
CONTENT SECTION
==========================================================================*/

#about_us .content-section{
  width:100%;
  /*height:57%;*/
/*  max-height: 690px;*/
  margin:auto;
  margin-top: 50px;
}


#about_us .about_us_content > .row{
  text-align: center;
}

.about_us_content .col-lg-4.col-md-4{
  width: 32.333333%;
  float: none;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}


#about_us .content-section .about_us_content{
/*  width: 80%;*/
  margin: auto;
/*  margin-top: 5%;*/
    padding-right: 0px;
    padding-left: 0px;
}

#about_us .content-section .thumbnail {
  border: none;
  background-color: transparent;
  position: relative;
  padding-left: 0px;
}

#about_us .content-section .thumbnail .caption{
  padding: 0px;
}



#about_us .content-section .thumbnail p,h1,h2,h3,h4,h5,h6,span {font-family: light;}


#about_us .content-section .thumbnail h3{
  color:#464646;
  font-family: light;
}

#about_us .content-section .thumbnail h6{
  color:black;
}

#about_us .content-section .thumbnail p{
  color:#7d7d7d;
}


#about_us .content-section .thumbnail > .img-shape{
  position: relative;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  height:400px;
  overflow: hidden;
}



#about_us .content-section .thumbnail > .img-shape img{
/*  margin-right: auto;
  margin-left: auto;*/
  display: block;
  max-width: 100%;
  /*height: auto;*/
/*  height: 400px;*/
}

#about_us .content-section .thumbnail .caption .shape {
  border-left: 30px solid transparent;
  border-top: 28px solid #1cb9eb;
  border-right: 110px solid #1cb9eb;
  border-bottom: 0px solid transparent;
  box-shadow: 2px 0 rgba(207, 207, 207, 0.1);
  z-index: 5;
  position: absolute;

 /* right: 3px;*/
  right:-8px;
  /* right: 7%; */
  overflow: visible;
  /*bottom: 20px;*/
  top: -68px;
  opacity: 0;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
}
#about_us .content-section .thumbnail > .img-shape:hover + .caption .shape,
#about_us .content-section .thumbnail .caption .shape:hover{
  opacity: 1;
}
#about_us .content-section .thumbnail .caption {
    position: relative;
}
#about_us .content-section .thumbnail .caption .shape:hover  {
  border-top-color: #37BEE9;
  border-right-color: #37BEE9;
}

#about_us .content-section .thumbnail .caption div.shape::before {
  content: '';
  position: absolute;
  z-index: -2;
  /* top: 33px; */
  right: -110px;
  width: 0px;
  height: 0px;
  border-left: 2px solid transparent;
  border-right: 8px solid transparent;
  border-top: 20px solid #588391;

}

#about_us .content-section .thumbnail .shape a{
   position: absolute;
    top: -26px;
    font-size: 22px;
    transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
}

#about_us .content-section .thumbnail .shape a.skope{
font-size: 32px;
  top: -29px;
}

#about_us .content-section .thumbnail .shape a.linked,a.skope{
  color:#25caff;
}
#about_us .content-section .thumbnail .shape a.linked{
  left: 80px;
}
#about_us .content-section .thumbnail .shape a.hand{
  color: #25caff;
  left: 36px;
  font-size: 35px;
  top: -32px;
}

#about_us .content-section .thumbnail .shape a.linked:hover,a.skope:hover {
  color: white;
}

#about_us .content-section .thumbnail .shape .hand:hover {
  color: white;
}

/*
RESPONSIVE VIEW
============================================================================*/

@media(max-width: 1100px){

  #about_us .main-section .opacity- > div {
  width: 58%;
  }

  #about_us .main-section .opacity- >div h1 {
  font-size: 45px;
}
#about_us .main-section .opacity- > div p {
  padding: 0 14px;
  font-size: 14px;
}

.content-section .about_us_content .col-xs-12{
  width:49%;

}

}

@media(max-width: 992px){
#about_us .main-section .opacity- > div{
    padding: 37% 2%;
}

   #about_us .main-section .opacity- > div{
    width:70%;
  }

  #about_us .main-section .opacity- >div h1 {
  font-size: 42px;
}

#about_us .main-section .opacity- > div p {
  padding: 0 12px;
  font-size: 14px;
}

.content-section .about_us_content .col-xs-12{
  width:49%;

}

}
@media(max-width: 768px){
  #about_us .main-section .opacity- > div{
    padding: 28% 2%;
  }

   #about_us .main-section .opacity- > div{
    width:80%;
  }

}

@media (max-width: 700px){

.content-section .about_us_content .col-xs-12{
  width:100%;
}
#about_us .content-section .thumbnail > .img-shape {
  height: 540px;
}



}

@media (max-width: 668px){
  #about_us .main-section .opacity- > div {
  width: 90%;
}
#about_us .main-section .opacity- >div h1 {
  font-size: 36px;
}
#about_us .main-section .opacity- > div p {
  padding: 0 10px;
  font-size: 12px;
}
}

@media(max-width: 505px){

#about_us .main-section .opacity- > div {
  width: 93%;
}

#about_us .main-section .opacity- >div h1 {
  font-size: 32px;
}

#about_us .main-section .opacity- > div p {
  padding: 0 5px;
  font-size: 12px;
}

.content-section .about_us_content .col-xs-12{
  width:100%;
}

}

@media(max-width: 480px){
  #about_us .main-section .opacity- > div{
      padding: 45% 2%;
  }

    #about_us .main-section .opacity- > div>h1{
    font-size:28px;
  }

   #about_us .main-section .opacity- > div{
    width:96%;
  }

  #about_us .main-section .opacity- > div p {
  padding: 0 5px;
  font-size: 10px;
}

#about_us .content-section .thumbnail > .img-shape {
  height: 400px;
}

}

@media(max-width:380px){
  #about_us .main-section .opacity- > div{
    padding: 55% 2%;
  }

#about_us .main-section h1{font-size: 28px;}

    #about_us .main-section .opacity- > div>h1{
    font-size:22px;
  }

    #about_us .main-section .opacity- > div>p{
    font-size:10px;
    padding: 0px 2px;
  }

 #about_us .main-section .opacity- > div{
    width:100%;
  }


#about_us .content-section .thumbnail > .img-shape {
  height: 340px;
}

}

@media (max-width: 340px){
  #about_us .content-section .thumbnail > .img-shape {
  height: 310px;
}
}



