
section{
  /*max-width: 1480px;*/
}

section.main-section.API{
  height:80%;
  max-height: 870px;
  background: url("../img/BG.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);
}

section.main-section.API:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  max-height: 870px;
  background-image: linear-gradient(to bottom right, #000000, #062023);
  opacity: .8;
}

section.main-section.API .opacity- {
    display: table;
    height: 100%;
    position: relative;
}
section.main-section.API  .opacity- > div.row{
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #fff;
}

section.main-section.API  .opacity-.container div.row  h1{
  font-size: 50px;
}

section.main-section.API  .opacity-.container  div.row  p{
  padding: 0 16px;
  font-size: 16px;
}
/*
SECTION1
===================================================================================*/
#API section.section1{
  height:50%;
  max-height: 600px;
  background-color: white;
}

#API section.section1 .container.head{text-align: center;}

#API section.section1 .container.head h2{
  color:#bababa;
}

#API section.section1 .container.API-response{
  margin-top: 25px;
  margin-bottom: 50px;
}

#API section.section1 .container.API-response .each-response .content{
  padding: 15px;
  /*color: #5f5f5f;*/
  text-align: center;
  font-size: 12px;
  height: 100%;
  font-family: light;
  border-radius: 5px;

}

#API section.section1 .container.API-response .each-response .content .content-text span{
  color:#777777;
  font-family: light;
  display: block;
  font-weight: 700;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.5px;
}

/*end of content*/


/*
GENRERAL STYLES FOR CIRCLES&ICONS
===========================================================================*/
#API section.section1 .container.API-response .each-response .content .content-circles {
  display: inline-block;
    margin: 10px auto;
}

#API section.section1 .container.API-response .each-response .content .content-circles .circle{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
    float: left;
  position: relative;
    margin-left: 12px;
}

#API section.section1 .container.API-response .each-response .content .content-circles .circlesa{
    width: 50px;
  height: 50px;
  float: left;
  position: relative;
  margin-left: 12px;
  color: rgb(112, 93, 170);
}

#API section.section1 .container.API-response .each-response .content .content-circles 
.circle span.icon{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  font-size: 32px;
  line-height: 1.5;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
}

#API section.section1 .container.API-response .each-response .content .content-circles .circle span.icon-24{
  left:3px;
}

#API section.section1 .container.API-response .each-response .content .content-circles .circle span.icon-3{
  left:4px;
  font-size:38px;
}


#API section.section1 .container.API-response .each-response .content .content-text a{
  padding: 13px 60px;
  border-radius: 5px;
  color: white;
  font-family: light;
  font-weight: 600;
  margin-top: 5px;
  box-shadow: none;
}

/*
END OF GENRERAL STYLES FOR CIRCLES&ICONS
===========================================================================*/

/*
FIRST CIRCLE
===========================================================================*/
#API section.section1 .container.API-response .each-response .content.first{
    border: 2px solid #acc1f7;
}

#API section.section1 .container.API-response .each-response .content.first > h4{
  color:#5983f0;
}

#API section.section1 .container.API-response .each-response .content.first .content-circles
.circle{
  border: 2px solid #5983f0;
  color:#5983f0;
}

#API section.section1 .container.API-response .each-response .content.first .content-circles .circle:hover {
  border: 2px solid #949FE3;
  color: #949FE3;
}


#API section.section1 .container.API-response .each-response .content.first .content-text a{
  background-color: #5567de;
  border-color: #5567de;
}

#API section.section1 .container.API-response .each-response .content.first .content-text a:hover{
  background-color: #6C7CE0;
}

#API section.section1 .container.API-response .each-response .content.first  .content-circles
.circle span.icon-31 {
  font-size: 30px;
  /* left: 3px; */
  line-height: 1.6;
  right: 2px;
}

#API section.section1 .container.API-response .each-response .content.first .content-circles 
.circle span.icon.icon-22 {
  /* line-height: 1.8; */
  top: -2px;
  left: 1px;
}

/*
END OF FIRST CIRCLE
===========================================================================*/

/*
SECOND CIRCLE
===========================================================================*/

#API section.section1 .container.API-response .each-response .content.second{
    border: 2px solid #8dd1f5;
}

#API section.section1 .container.API-response .each-response .content.second > h4{
  color:#1ca3eb;
}

#API section.section1 .container.API-response .each-response .content.second .content-circles
.circle{
  border: 2px solid #1ca3eb;
  color:#1ca3eb;
}

#API section.section1 .container.API-response .each-response .content.second .content-circles .circle:hover {
  border: 2px solid #8AC8EB;
  color: #8AC8EB;
}

#API section.section1 .container.API-response .each-response .content.second  .content-circles
.circle span.icon-31 {
  font-size: 30px;
  /* left: 3px; */
  line-height: 1.6;
  right: 2px;
}

#API section.section1 .container.API-response .each-response .content.second .content-circles 
.circle span.icon.icon-22 {
  /* line-height: 1.8; */
  top: -2px;
  left: 1px;
}

#API section.section1 .container.API-response .each-response .content.second .content-text a{
  background-color: #1ca3eb;
  border-color: #5ca2e0;
}

#API section.section1 .container.API-response .each-response .content.second .content-text a:hover{
  background-color: #4EB2E9;
}

/*
END OF SECOND CIRCLE
===========================================================================*/

/*
THIRD CIRCLE
===========================================================================*/

#API section.section1 .container.API-response .each-response .content.third{
    border: 2px solid #b7aed4;
}

#API section.section1 .container.API-response .each-response .content.third > h4{
  color:#705daa;
}

#API section.section1 .container.API-response .each-response .content.third .content-circles
.circle{
  border: 2px solid #705daa;
  color:#705daa;
}

#API section.section1 .container.API-response .each-response .content.third .content-circles .circle:hover {
  border: 2px solid #8E86A8;
  color: #8E86A8;
}

#API section.section1 .container.API-response .each-response .content.third  .content-circles
.circle span.icon-31 {
  font-size: 30px;
  /* left: 3px; */
  line-height: 1.6;
  right: 2px;
}

#API section.section1 .container.API-response .each-response .content.third .content-circles 
.circle span.icon.icon-22 {
  /* line-height: 1.8; */
  top: -2px;
  left: 1px;
}

#API section.section1 .container.API-response .each-response .content.third .content-text a{
  background-color: #705daa;
  border-color: #7676c6;
}

#API section.section1 .container.API-response .each-response .content.third .content-text a:hover{
    background-color: #8072AC;
}
/*
END OF THIRD CIRCLE
===========================================================================*/

/*
FORTH CIRCLE
===========================================================================*/

#API section.section1 .container.API-response .each-response .content.forth{
    border: 2px solid #b7aed4;
}

#API section.section1 .container.API-response .each-response .content.forth > h4{
  color:#885fc1;
}

#API section.section1 .container.API-response .each-response .content.forth .content-circles
.circle{
  border: 2px solid #885fc1;
  color:#885fc1;
}

#API section.section1 .container.API-response .each-response .content.forth .content-circles .circle:hover {
  border: 2px solid #A495B4;
  color: #A495B4;
}

#API section.section1 .container.API-response .each-response .content.forth  .content-circles
.circle span.icon-31 {
  font-size: 30px;
  /* left: 3px; */
  line-height: 1.6;
  right: 2px;
}

#API section.section1 .container.API-response .each-response .content.forth .content-circles 
.circle span.icon.icon-22 {
  /* line-height: 1.8; */
  top: -2px;
  left: 1px;
}

#API section.section1 .container.API-response .each-response .content.forth .content-text a{
  background-color: #8e6fb1;
  border-color: #885fc1;
}

#API section.section1 .container.API-response .each-response .content.forth .content-text a:hover{
  background-color: #9A84B2;
}

/*
END OF FORTH CIRCLE
===========================================================================*/

/*
END OF SECTION1
===================================================================================*/


/*
SECTION2
===================================================================================*/
#API section.section2{
  height:100%;
  background-color: #f2f2f2;
}

#API section.section2 .container.head{
  text-align: center;
}

#API section.section2 .container.head h2.light,#API section.section2 .container.head span.light{
  color:#8a8a8a;
}

#API section.section2 .container.head h2 span{
  font-weight: 600;
}

#API section.section2 .container.head span.light{
   font-size: 18px;
}

#API section.section2 .container.tab{
  margin-bottom: 4%;
  margin-top: 4%;
}

#API section.section2 .container.tab > div{
  display: table;

}

#API section.section2 .container.tab .nav-tabs{
  border-bottom: none;
    display: table-cell;
}

#API section.section2 .container.tab .nav-tabs>li{
  float:none;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
/*  margin-right: 15px;*/
  color: #555;
  font-family: light;
  border-bottom-color: transparent;
}

/*
RIGHT ARROW
=====================================================*/
#API section.section2 .container.tab .nav-tabs>li:after, #API section.section2 .container.tab .nav-tabs>li:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#API section.section2 .container.tab .nav-tabs>li.act:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #ddd;
  border-width: 21px;
  margin-top: -21px;
/*  display: none;*/
z-index: 2000;
}

#API section.section2 .container.tab .nav-tabs>li.act:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 20px;
  margin-top: -20px;
  /*  display: none;*/
  z-index: 2000;
}
/*
END OF RIGHT ARROW
=====================================================*/

/*
BOTTOM ARROW
===========================================*/

#API section.section2 .container.tab .nav-tabs>li.act_bottom:after, #API section.section2 .container.tab .nav-tabs>li.act_bottom:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#API section.section2 .container.tab .nav-tabs>li.act_bottom:after {
  border-color: rgba(252, 249, 248, 0);
  border-top-color: white;
  border-width: 20px;
  margin-left: -20px;
  z-index: 2000;
}

#API section.section2 .container.tab .nav-tabs>li.act_bottom:before  {
  border-color: rgba(250, 250, 250, 0);
  border-top-color: white;
  border-width: 21px;
  margin-left: -21px;
  z-index: 2000;
}

/*
END OF BOTTOM ARROW
===========================================*/

#API section.section2 .container.tab .nav-tabs>li:last-child{
  border-bottom-color: #ddd;
}

#API section.section2 .container.tab .nav-tabs>li>:hover{
  background-color: #EEE;
}

#API section.section2 .container.tab .nav-tabs>li>a{
  display: block;
  padding: 30px 60px;
  cursor:pointer;
  background-color: #fff;
  border: 0;
  margin-right: 0;
}

#API section.section2 .container.tab .nav-tabs>li>a>img{
  width: 55%;
  height: 40%;
  margin: auto;
}

#API section.section2 .container.tab .tab-content{
  display: table-cell;
  vertical-align: top;
  width: 77%;
  height:100%;
}

#API section.section2 .container.tab .tab-content>.active {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/*
END OF SECTION2
===================================================================================*/


/*
SECTION3
===================================================================================*/
#API section.section3{
  height:75%;
  max-height: 690px;
  background-color: #ffffff;
  margin-bottom: 4%;
  margin-top: 4%;
}

#API section.section3 .container .caption h3 {
  font-size: 19px;
  text-align: center;
  margin-bottom: 14px;
  font-weight: 600;
}

#API section.section3 .container .caption p {
  font-size: 12px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 301;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  height: 48px;
  letter-spacing: 0.5px;
}

#API section.section3 .container  .thumbnail{
  border: none;
  border-radius: 50%;
}
#API section.section3 .container .first,#API section.section3 .container .second,#API section.section3 .container .third,
#API section.section3 .container .fourth{
  padding-right: 35px;
}
#API section.section3 .container .first .thumbnail{
  background-color: #4b4b4b;
}

#API section.section3 .container .first .thumbnail img {
  width: 80%;
  padding-top: 19.6%;
  position: relative;
  left: 9.8%;
  top: 0%;
}

#API section.section3 .container .second .thumbnail{
  background-color: #14c88f;
}

#API section.section3 .container .second .thumbnail img {
  width: 80%;
  padding-top: 19.6%;
  position: relative;
  left: 7.8%;
  top: 0%;
}

#API section.section3 .container .third .thumbnail{
  background-color: #52d464;
}

#API section.section3 .container .third .thumbnail img {
  width: 90%;
  padding-top: 20.5%;
  position: relative;
  left: 8%;
  top: -3.6%;
}

#API section.section3 .container .fourth .thumbnail{
  background-color: #ff7171;
}

#API section.section3 .container .fourth .thumbnail img {
  width: 80%;
  padding-top: 20.5%;
  position: relative;
  left: 12.9%;
  top: -3.6%;
}

#API section.section3 .container.buttons{
  margin-top:20px;
}

#API section.section3 .container.buttons .center-block{
  width: 80%;
  text-align: center;
}

#API section.section3 .container.buttons .center-block a{
  width:35%;
  box-shadow: none;
}

#API section.section3 .container.buttons .center-block a.btn.green
{
  background-color: #52d464;
  color: white !important;
}

#API section.section3 .container.buttons .center-block a.btn:hover
{
  background-color: #62D8FF;
  border-color: #62D8FF;
}

#API section.section3 .container.buttons .center-block a.btn.green:hover{
  background-color: #78D184;
  border-color: #78D184;
}

@-moz-document url-prefix() {

 #API section{
    overflow: hidden;
}

#API section.section2 .container.tab .tab-content {
    background: #272822 none repeat scroll 0% 0%;
}

pre{
  border:0;
}

.line-highlight::before, .line-highlight[data-end]::after {
  display: none;
}

}

/*
END OF SECTION3
===================================================================================*/


/*
RESPONSIVE VIEW 
===================================================================================*/

@media(max-width: 1100px){
#API section.section1 .container.API-response  .each-response .content .content-circles .circle {
  width: 45px;
  height: 45px;
}

#API section.section1 .container.API-response .each-response .content .content-circles .circle span.icon {
  font-size: 24px;
  line-height: 1.85;
}

#API section.section1 .container.API-response .each-response .content .content-circles .circle span.icon-31 {
  font-size: 24px !important;
  line-height: 1.85 !important;
}

}

@media(min-width: 992px){

#API section.section2 .container.tab .nav-tabs>li.act_bottom:before {
  display: none;
}

#API section.section2 .container.tab .nav-tabs>li.act_bottom:after {
  display: none;
}

}

@media(max-width: 992px){

#API section.section1 .API-response .each-response{
  margin-bottom: 10px;
}

#API section.section1 .container.head h2 {
  font-size: 26px;
}

/*
SECTION 2
=====================================================================*/
#API section.section1 {
  max-height: none;
}

#API section.section2 .container.tab .nav-tabs>li>a {
  padding: 20px 20px;
}

#API section.section2 .container.tab .nav-tabs>li>a>img {
  width: 45px;
  height:auto;
}

pre[data-line] {
  overflow-y: hidden !important;
}

#API section.section2 .container.head h2.light{
  font-size: 26px;
}

#API section.section2 .container.head span.light {
  font-size: 16px;
}

#API section.section2 .container.tab > div {
  text-align: center;
  display: block;
}
#API section.section2 .container.tab .nav-tabs{
  width: 100%;
  /* float: left; */
/*  height: 100%;*/
  text-align: center;
  margin: auto;
  display: inline-block;
  background-color: white;
  border: 1px solid #ddd;
}

#API section.section2 .container.tab .nav-tabs>li {
  float:left;
  width:20%;
  height: 96px;
}

#API section.section2 .container.tab .nav-tabs>li:first-child {
  border-left-color: transparent;
}

#API section.section2 .container.tab .nav-tabs>li:last-child {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

#API section.section2 .container.tab .nav-tabs>li>a {
  padding: 20px 10px;
  height: 94px;
}

#API section.section2 .container.tab .nav-tabs>li>a>img {
  width: 35px;
  height: auto;
}

#API section.section2 .container.tab .tab-content {
  display: inline-block;
  width: 100%;
}

#API section.section2 .container.tab .tab-content>.active {
/*  height:auto;*/
}

#API section.section2 .container.tab .tab-content {
  height: auto;
  margin-top: -5px;
}

#API section.section2 .container.tab .nav-tabs>li.act:before {
  display: none;
}

#API section.section2 .container.tab .nav-tabs>li.act:after {
  display: none;
}

#API section.section2 .container.tab .nav-tabs>li.act_bottom:before {
  display: block;
}

#API section.section2 .container.tab .nav-tabs>li.act_bottom:after {
  display: block;
}
/*
END OF SECTION 2
=====================================================================*/

#API section.section3 {
  max-height: none;
}

#API section.section3 .container .col-xs-12{
  margin-bottom: 10px;
}

}

@media(max-width: 768px){
/*
SECTION ONE
==========================================*/
#API section.section1 {
  max-height: none;
}

#API section.section1 .API-response .each-response{
  margin-bottom: 10px;
  width:50%;
}

#API section.section1 .container.head h2 {
  font-size: 20px;
}

/*
END OF SECTION ONE
==========================================*/


/*
SECTION TWO
==========================================*/

#API section.section2 .container.head h2.light{
  font-size: 20px;
}

#API section.section2 .container.head span.light {
  font-size: 14px;
}



/*
END OF SECTION TWO
==========================================*/


/*
SECTION THREE
==========================================*/

#API section.section3 {
  max-height: none;
}

#API section.section3 .container .col-xs-12{
  margin-bottom: 10px;
  width:50%;
}

/*
END OF SECTION THREE
==========================================*/

}


@media (max-width: 670px){

#API section.section2 .container.tab .nav-tabs {
  width: 100%;
}

#API section.section2 .container.tab .tab-content {
  display: inline-block;
  width: 100%;
}

}

@media(max-width: 515px){

  #API section.section1 .API-response .each-response{
  margin-bottom: 10px;
  width:100%;
}

}

@media(max-width: 480px){
  #API section.section3 .container.buttons .center-block {
  width: 85%;
}

#API section.section3 .container.buttons .center-block a {
  width: 40%;
}

#API section.section3 .container .col-xs-12{
  margin-bottom: 10px;
  width:100%;
}

#API section.section3 .container .second .thumbnail img {
  left: 6.8%;
}

#API section.section3 .container .third .thumbnail img{
  left: 7.3%;
}

#API section.section3 .container .fourth .thumbnail img {
  left: 12%;
}

#API section.section2 .container.tab .nav-tabs>li>a>img {
  width: 35px;
}

#API section.section2 .container.tab .nav-tabs>li>a {
  padding: 15px 10px;
}

}

/*@media (max-width: 460px){




}*/
@media (max-width: 533px) {


#API section.section2 .container  .tabordion {
    width: 100%;
  }
  
#API section.section2 .container  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

#API section.section2 .container .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 
  
#API section.section2 .container  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}



/*
END OF RESPONSIVE VIEW 
===================================================================================*/
