     @font-face {
         font-family: 'Montserrat-Ultra';
         src: url('../fonts/Montserrat-UltraLight.eot');
         src: url('../fonts/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype');
         font-weight: 200;
         font-style: normal;
     }
     @font-face {
         font-family: 'Montserrat';
         src: url('../fonts/Montserrat-ExtraBold.eot');
         src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
         font-weight: bold;
         font-style: normal;
     }
     @font-face {
         font-family: 'Montserrat';
         src: url('../fonts/Montserrat-Light.eot');
         src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.ttf') format('truetype');
         font-weight: 300;
         font-style: normal;
     }
     @font-face {
         font-family: 'Montserrat-Semi';
         src: url('../fonts/Montserrat-SemiBold.eot');
         src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
         font-weight: bold;
         font-style: normal;
     }
     @font-face {
         font-family: 'Montserrat';
         src: url('../fonts/Montserrat-Bold.eot');
         src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
         font-weight: bold;
         font-style: normal;
     }
     @font-face {
         font-family: 'Montserrat';
         src: url('../fonts/Montserrat-Regular.eot');
         src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
     }
     @font-face {
         font-family: 'Montserrat';
         src: url('../fonts/Montserrat-Black.eot');
         src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.ttf') format('truetype');
         font-weight: 900;
         font-style: normal;
     }
     html,
     body {
         height: 100%;
         padding-bottom: 0 !important;
     }
     .btn-default {
         outline: none !important;
     }
    
     /*============================================
                    Icon Font
==================================================*/
     

	@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ua17ij');
	src:url('../fonts/icomoon.eot?#iefix-ua17ij') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-ua17ij') format('truetype'),
		url('../fonts/icomoon.woff?-ua17ij') format('woff'),
		url('../fonts/icomoon.svg?-ua17ij#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
	content: "\e600";
}
.icon-2:before {
	content: "\e601";
}
.icon-3:before {
	content: "\e602";
}
.icon-4:before {
	content: "\e603";
}
.icon-5:before {
	content: "\e604";
}
.icon-6:before {
	content: "\e605";
}
.icon-7:before {
	content: "\e606";
}
.icon-8:before {
	content: "\e607";
}
.icon-9:before {
	content: "\e608";
}
.icon-10:before {
	content: "\e609";
}
.icon-11:before {
	content: "\e60a";
}
.icon-12:before {
	content: "\e60b";
}
.icon-13:before {
	content: "\e60c";
}
.icon-14:before {
	content: "\e60d";
}
.icon-15:before {
	content: "\e60e";
}
.icon-16:before {
	content: "\e60f";
}
.icon-17:before {
	content: "\e610";
}
.icon-18:before {
	content: "\e611";
}
.icon-19:before {
	content: "\e612";
}
.icon-20:before {
	content: "\e613";
}
.icon-21:before {
	content: "\e614";
}
.icon-22:before {
	content: "\e615";
}
.icon-23:before {
	content: "\e616";
}
.icon-24:before {
	content: "\e617";
}
.icon-25:before {
	content: "\e618";
}
.icon-26:before {
	content: "\e619";
}
.icon-27:before {
	content: "\e61a";
}
.icon-28:before {
	content: "\e61b";
}
.icon-29:before {
	content: "\e61c";
}
.icon-30:before {
	content: "\e61d";
}
.icon-31:before {
	content: "\e61e";
}
.icon-32:before {
	content: "\e61f";
}
.icon-33:before {
	content: "\e620";
}
.icon-34:before {
	content: "\e621";
}
.icon-35 .path1:before {
	content: "\e622";
	color: rgb(255, 255, 255);
}
.icon-35 .path2:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-35 .path3:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-35 .path4:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-35 .path5:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-35 .path6:before {
	content: "\e627";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-36:before {
	content: "\e628";
}

     /*====================================================
                      Start Navbar
====================================================*/
     
     .navbar-default {
         background-color: transparent;
         border-color: transparent;
         z-index: 100;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
         margin-top: 0px;
     }
     .navbar-default .navbar-toggle {
         border-color: #fff;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
     }
     .navbar-default .navbar-toggle:hover {
         background-color: transparent;
     }
     .navbar-default .navbar-toggle:focus {
         background-color: transparent;
     }
     .navbar-default .navbar-toggle .icon-bar {
         background-color: #FFF;
     }
     .navbar-default .navbar-toggle:hover .icon-bar {
         background-color: #000;
     }
     .navbar-default li {
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
     }
     .navbar-default .navbar-brand {
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
     }
     .logo_white {
         background: url(../img/logo_white.png)no-repeat;
         background-size: 96%;
         width: 260px;
         margin-left: 6%;
         margin-top: 2%;
     }
     .logo_black {
         background: url(../img/logo_black.png)no-repeat;
         background-size: 96%;
         width: 260px;
         margin-left: 6%;
         margin-top: 2%;
     }
     .navbar-default .navbar-nav > li > a {
         color: #fff;
         font-size: 11.5px;
         font-family: 'Montserrat';
         font-weight: 300;
         font-style: normal;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
     }
     .navbar-default .navbar-nav li span {
         transition: 0s !important
     }
     .navbar-default .navbar-nav > li > a:hover {
         color: #36ff00 !important;
     }
     .navbar-default .icon-5 {
         font-size: 26px;
         margin-left: -56%;
     }
     .navbar-default .icon-5:hover {
         color: #2A84FF!important;
     }
     .nav_white {
         background-color: #fff;
         color: black;
         margin-top: 0px;
         box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
     }
     .nav_transparent {
         background-color: rgba(0, 0, 0, 0);
         color: white;
         margin-top: 0px;
         box-shadow: 0px 0px 0px 0px transparent
     }
     @media screen and (-webkit-min-device-pixel-ratio:0) {
         .navbar-default .icon-5 {
             margin-right: 55%;
             margin-left: -92%;
         }
     }
     /*====================================================
                      Start Section-1
====================================================*/
     
     .home {
         overflow: hidden;
     }
     #home {
         overflow: hidden;
         letter-spacing: 0.5px
     }
     .home.section1 {
         background: url(../img/BG.jpg) center center no-repeat;
         background-size: cover;
         background-attachment: fixed;
         margin: auto;
         height: 95%;


    /*    max-height: 870px;*/

         display: inline-table;
         width: 100%;
     }
     .home.section1 .opacity {
         background-image: linear-gradient(to bottom right, rgba(28, 124, 255, 0.7), rgba(0, 209, 59, 0.8));
         height: 100%;
         display: inline-table;
         width: 100%;
     }
     /*End Section 1*/
     /*====================================================
                      Start Section-3
====================================================*/
     
     #home .section3 {
         width: 100%;
         background: url("../img/BG.jpg") fixed center center no-repeat;
         background-size: cover;
         position: relative;
         padding-top: 6%;
         padding-bottom: 7.3%;
         height: 95%;
     }
     #home .section3:before {
         content: '';
         content: '';
         position: absolute;
         top: 0%;
         right: 0;
         bottom: 0;
         left: 0;
         background-image: linear-gradient(to right bottom, #90C, #6633ff);
         opacity: .7;
     }
     #home .section3 .container {
         max-width: 1480px;
     }
     /*#home .section3 .col-lg-3{
width:23.5%
}*/
     
     #home .section3 .caption h3 {
         color: #FFFFFE;
         font-size: 19px;
         text-align: center;
         margin-bottom: 14px;
         text-shadow: 2px 2px 2px #666;
     }
     #home .section3 .caption p {
         color: #fffffe;
         font-size: 11px;
         text-align: center;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         text-shadow: 2px 2px 2px #666;
         font-style: normal;
         font-weight: 200;
         line-height: 1.2;
         height: 48px
     }
     #home .section3 .thumbnail {
         padding: 0px !important;
         position: relative;
         box-shadow: 13px 11px 1px rgba(0, 0, 0, 0.1);
         margin-top: 10%;
         display: block;
         margin-bottom: 20px;
         line-height: 1.42857;
         background-color: #FFF;
         border: none;
         border-radius: 0px;
         -webkit-transition:  all .5s ease-in-out;
         -moz-transition: all  .5s ease-in-out;
         -o-transition:  all .5s ease-in-out;
         transition: all .5s ease-in-out;
     }
     #home .section3 .first .btn-default {
         font-size: 13px
     }
     #home .section3 .first .thumbnail img {
         width: 87%;
         padding-top: 31.6%;
         position: relative;
         left: 6.8%;
         top: 0%;
     }
     #home .section3 .second .thumbnail img {
         width: 90%;
         padding-top: 20.5%;
         position: relative;
         left: 5.9%;
         top: -3.6%;
     }
     #home .section3 .third .thumbnail img {
         width: 86%;
         padding-top: 12.4%;
         position: relative;
         left: 6.8%;
         top: 2.5%;
     }
     #home .section3 .fourth .thumbnail img {
         width: 89%;
         padding-top: 9%;
         position: relative;
         left: 5.8%;
         top: 4.4%;
     }
     #home .section3 .first .thumbnail {
         background-color: rgba(75, 75, 75, 1) !important;
     }
   #home .section3 .first .thumbnail:hover {
        background-color: rgba(71, 71, 71, 0.9) !important;
     }
     #home .section3 .second .thumbnail {
         background-color: rgba(0, 204, 153, 1);
         !important;
     }
     #home .section3 .second .thumbnail:hover {
         background-color: rgba(0, 204, 153, 0.9);
        
     }
     #home .section3 .third .thumbnail {
         background-color: rgba(204, 255,153, 1);
     }
     #home .section3 .third .thumbnail:hover {
  background-color: rgba(204, 255,153, 0.9);
     }
     #home .section3 .fourth .thumbnail {
         background-color: rgba(255, 102, 102, 1)!important;
     }
     #home .section3 .fourth .thumbnail:hover {
        background-color: rgba(255, 102, 102, 0.9)!important;
     }
     #home .section3 .btn-default {
         width: 100%;
         background-color: #33ccff;
         border-color: #33ccff;
         color: #fff;
         font-family: 'Montserrat';
         font-weight: 30 !important;
         font-style: normal;
         box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.1);
         padding: 1.8%;
         margin-top: 3%;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
         outline: none !important;
     }
     #home .section3 .btn-default:hover {
         background-color: #1cb9eb;
         border-color: #1cb9eb;
     }

#home .section3 .btn-default:active, .btn-default.active {
 background-color: #33ccff;
         border-color: #33ccff;
    color: #a9a9a9

}

     /*====================================================
                      Start Section-4
====================================================*/
     
     #home .section4 {
         width: 100%;
         height: 95%;
         background-color: #fff;
         padding-bottom: 4.2%;
     }
     #home .section4 .container {
         max-width: 1480px;
     }
     #home .section4 h2 {
         font-family: "Montserrat";
         font-weight: 200;
         font-style: normal;
         margin-bottom: 1%;
         margin-top: 4%;
         color: #666;
         font-size: 26px;
     }
     #home .section4 .head {
         margin-bottom: 20px
     }
     #home .section4 .head img {
         width: 18%;
         margin-top: 1%;
         margin-bottom: -1%;
     }
     #home .section4 ul {
         height: 136px;
     }
     #home .section4 li {
         line-height: 1.8;
         font-size: 12px;
         font-weight: 100
     }
     #home .section4 h4 {
         text-transform: uppercase;
     }
     #home .section4 .first h4 {
         color: #66C;
         border-bottom: 1px solid #CCC;
         padding-bottom: 12px;
         font-family: "Montserrat";
         font-style: normal;
         font-size: 22px;
         font-weight: 100 !important;
     }
     #home .section4 .first > p {
         color: #666666;
         border-bottom: 1px solid #ccc;
         padding-bottom: 12px;
         padding-top: 1.5%;
         line-height: 1.2;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         font-size: 13px;
         margin-bottom: 23px;
         height: 67px;
         font-weight: 100;
     }
     #home .section4 .first li {
         color: #6666cc
     }
     #home .section4 .second h4 {
         color: #5da3df;
         border-bottom: 1px solid #ccc;
         padding-bottom: 12px;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         font-size: 22px;
         font-weight: 100 !important;
             letter-spacing: 0!important;
     }
     #home .section4 .second > p {
         color: #666666;
         border-bottom: 1px solid #ccc;
         padding-bottom: 13px;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         font-size: 13px;
         margin-bottom: 23px;
         height: 67px;
         padding-top: 1.5%;
         line-height: 1.2;
         font-weight: 100;
     }
     #home .section4 .second li {
         color: #6699cc
     }
     #home .section4 .third h4 {
         color: #6666cc;
         border-bottom: 1px solid #ccc;
         padding-bottom: 12px;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         font-size: 22px;
         font-weight: 100 !important;
     }
     #home .section4 .third > p {
         color: #666666;
         border-bottom: 1px solid #ccc;
         padding-bottom: 13px;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         font-size: 13px;
         margin-bottom: 23px;
         height: 67px;
         padding-top: 1.5%;
         line-height: 1.2;
         font-weight: 100;
     }
     #home .section4 .third li {
         color: #6666cc;
     }
     #home .section4 .fourth h4 {
         color: #9966cc;
         border-bottom: 1px solid #ccc;
         padding-bottom: 12px;
         font-size: 22px;
         font-weight: 100 !important;
     }
     #home .section4 .fourth > p {
         color: #666666;
         border-bottom: 1px solid #ccc;
         padding-bottom: 13px;
         font-family: 'Montserrat';
         font-weight: 301;
         font-style: normal;
         font-size: 13px;
         margin-bottom: 23px;
         height: 67px;
         padding-top: 1.5%;
         line-height: 1.2;
         font-weight: 100;
     }
     #home .section4 .fourth li {
         color: #9966cc;
     }
     #home .section4 .content {
         color: #FFF;
         padding-top: 6%;
         padding-bottom: 10.5%;
         border-radius: 4px;
         font-family: "Montserrat";
         font-weight: 300;
         font-style: normal;
         margin-top: 6%;
         height: 195px;
         width: 100%;
         overflow: hidden
     }
     #home .section4 .content .btn-default {
         background-color: transparent;
         height: 63px;
         width: 77%;
         border: 3px solid #fff;
         color: #fff;
         font-family: 'Montserrat';
         font-weight: 300;
         font-style: normal;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
         outline: none !important;
     }
     #home .section4 .first .content .btn-default {
         box-shadow: 0px 0px #4354c8, 1px 1px #4354c8, 2px 2px #4354c8, 3px 3px #4354c8, 4px 4px #4354c8, 5px 5px #4354c8, 6px 6px #4354c8, 7px 7px #4354c8, 8px 8px #4354c8, 9px 9px #4354c8, 10px 10px #4354c8, 11px 11px #4354c8, 12px 12px #4354c8, 13px 13px #4354c8, 14px 14px #4354c8, 15px 15px #4354c8, 16px 16px #4354c8, 17px 17px #4354c8, 18px 18px #4354c8, 19px 19px #4354c8, 20px 20px #4354c8, 21px 21px #4354c8, 22px 22px #4354c8, 23px 23px #4354c8, 24px 24px #4354c8, 25px 25px #4354c8, 26px 26px #4354c8, 27px 27px #4354c8, 28px 28px #4354c8, 29px 29px #4354c8, 30px 30px #4354c8, 31px 31px #4354c8, 32px 32px #4354c8, 33px 33px #4354c8, 34px 34px #4354c8, 35px 35px #4354c8, 36px 36px #4354c8, 37px 37px #4354c8, 38px 38px #4354c8, 39px 39px #4354c8, 40px 40px #4354c8, 41px 41px #4354c8, 42px 42px #4354c8, 43px 43px #4354c8, 44px 44px #4354c8, 45px 45px #4354c8, 46px 46px #4354c8, 47px 47px #4354c8, 48px 48px #4354c8, 49px 49px #4354c8, 50px 50px #4354c8, 51px 51px #4354c8, 52px 52px #4354c8, 53px 53px #4354c8, 54px 54px #4354c8, 55px 55px #4354c8, 56px 56px #4354c8, 57px 57px #4354c8, 58px 58px #4354c8, 59px 59px #4354c8, 60px 60px #4354c8, 61px 61px #4354c8, 62px 62px #4354c8, 63px 63px #4354c8, 64px 64px #4354c8, 65px 65px #4354c8, 66px 66px #4354c8, 67px 67px #4354c8, 68px 68px #4354c8, 69px 69px #4354c8, 70px 70px #4354c8, 71px 71px #4354c8, 72px 72px #4354c8, 73px 73px #4354c8, 74px 74px #4354c8, 75px 75px #4354c8, 76px 76px #4354c8, 77px 77px #4354c8, 78px 78px #4354c8, 79px 79px #4354c8, 80px 80px #4354c8, 81px 81px #4354c8, 82px 82px #4354c8, 83px 83px #4354c8, 84px 84px #4354c8, 85px 85px #4354c8;
     }
     #home .section4 .second .content .btn-default {
         box-shadow: 0px 0px #5091c9, 1px 1px #5091c9, 2px 2px #5091c9, 3px 3px #5091c9, 4px 4px #5091c9, 5px 5px #5091c9, 6px 6px #5091c9, 7px 7px #5091c9, 8px 8px #5091c9, 9px 9px #5091c9, 10px 10px #5091c9, 11px 11px #5091c9, 12px 12px #5091c9, 13px 13px #5091c9, 14px 14px #5091c9, 15px 15px #5091c9, 16px 16px #5091c9, 17px 17px #5091c9, 18px 18px #5091c9, 19px 19px #5091c9, 20px 20px #5091c9, 21px 21px #5091c9, 22px 22px #5091c9, 23px 23px #5091c9, 24px 24px #5091c9, 25px 25px #5091c9, 26px 26px #5091c9, 27px 27px #5091c9, 28px 28px #5091c9, 29px 29px #5091c9, 30px 30px #5091c9, 31px 31px #5091c9, 32px 32px #5091c9, 33px 33px #5091c9, 34px 34px #5091c9, 35px 35px #5091c9, 36px 36px #5091c9, 37px 37px #5091c9, 38px 38px #5091c9, 39px 39px #5091c9, 40px 40px #5091c9, 41px 41px #5091c9, 42px 42px #5091c9, 43px 43px #5091c9, 44px 44px #5091c9, 45px 45px #5091c9, 46px 46px #5091c9, 47px 47px #5091c9, 48px 48px #5091c9, 49px 49px #5091c9, 50px 50px #5091c9, 51px 51px #5091c9, 52px 52px #5091c9, 53px 53px #5091c9, 54px 54px #5091c9, 55px 55px #5091c9, 56px 56px #5091c9, 57px 57px #5091c9, 58px 58px #5091c9, 59px 59px #5091c9, 60px 60px #5091c9, 61px 61px #5091c9, 62px 62px #5091c9, 63px 63px #5091c9, 64px 64px #5091c9, 65px 65px #5091c9, 66px 66px #5091c9, 67px 67px #5091c9, 68px 68px #5091c9, 69px 69px #5091c9, 70px 70px #5091c9, 71px 71px #5091c9, 72px 72px #5091c9, 73px 73px #5091c9, 74px 74px #5091c9, 75px 75px #5091c9, 76px 76px #5091c9, 77px 77px #5091c9, 78px 78px #5091c9, 79px 79px #5091c9, 80px 80px #5091c9, 81px 81px #5091c9, 82px 82px #5091c9, 83px 83px #5091c9, 84px 84px #5091c9, 85px 85px #5091c9;
     }
     #home .section4 .third .content .btn-default {
         box-shadow: 0px 0px #6464aa, 1px 1px #6464aa, 2px 2px #6464aa, 3px 3px #6464aa, 4px 4px #6464aa, 5px 5px #6464aa, 6px 6px #6464aa, 7px 7px #6464aa, 8px 8px #6464aa, 9px 9px #6464aa, 10px 10px #6464aa, 11px 11px #6464aa, 12px 12px #6464aa, 13px 13px #6464aa, 14px 14px #6464aa, 15px 15px #6464aa, 16px 16px #6464aa, 17px 17px #6464aa, 18px 18px #6464aa, 19px 19px #6464aa, 20px 20px #6464aa, 21px 21px #6464aa, 22px 22px #6464aa, 23px 23px #6464aa, 24px 24px #6464aa, 25px 25px #6464aa, 26px 26px #6464aa, 27px 27px #6464aa, 28px 28px #6464aa, 29px 29px #6464aa, 30px 30px #6464aa, 31px 31px #6464aa, 32px 32px #6464aa, 33px 33px #6464aa, 34px 34px #6464aa, 35px 35px #6464aa, 36px 36px #6464aa, 37px 37px #6464aa, 38px 38px #6464aa, 39px 39px #6464aa, 40px 40px #6464aa, 41px 41px #6464aa, 42px 42px #6464aa, 43px 43px #6464aa, 44px 44px #6464aa, 45px 45px #6464aa, 46px 46px #6464aa, 47px 47px #6464aa, 48px 48px #6464aa, 49px 49px #6464aa, 50px 50px #6464aa, 51px 51px #6464aa, 52px 52px #6464aa, 53px 53px #6464aa, 54px 54px #6464aa, 55px 55px #6464aa, 56px 56px #6464aa, 57px 57px #6464aa, 58px 58px #6464aa, 59px 59px #6464aa, 60px 60px #6464aa, 61px 61px #6464aa, 62px 62px #6464aa, 63px 63px #6464aa, 64px 64px #6464aa, 65px 65px #6464aa, 66px 66px #6464aa, 67px 67px #6464aa, 68px 68px #6464aa, 69px 69px #6464aa, 70px 70px #6464aa, 71px 71px #6464aa, 72px 72px #6464aa, 73px 73px #6464aa, 74px 74px #6464aa, 75px 75px #6464aa, 76px 76px #6464aa, 77px 77px #6464aa, 78px 78px #6464aa, 79px 79px #6464aa, 80px 80px #6464aa, 81px 81px #6464aa, 82px 82px #6464aa, 83px 83px #6464aa, 84px 84px #6464aa, 85px 85px #6464aa;
     }
     #home .section4 .fourth .content .btn-default {
         box-shadow: 0px 0px #7653a7, 1px 1px #7653a7, 2px 2px #7653a7, 3px 3px #7653a7, 4px 4px #7653a7, 5px 5px #7653a7, 6px 6px #7653a7, 7px 7px #7653a7, 8px 8px #7653a7, 9px 9px #7653a7, 10px 10px #7653a7, 11px 11px #7653a7, 12px 12px #7653a7, 13px 13px #7653a7, 14px 14px #7653a7, 15px 15px #7653a7, 16px 16px #7653a7, 17px 17px #7653a7, 18px 18px #7653a7, 19px 19px #7653a7, 20px 20px #7653a7, 21px 21px #7653a7, 22px 22px #7653a7, 23px 23px #7653a7, 24px 24px #7653a7, 25px 25px #7653a7, 26px 26px #7653a7, 27px 27px #7653a7, 28px 28px #7653a7, 29px 29px #7653a7, 30px 30px #7653a7, 31px 31px #7653a7, 32px 32px #7653a7, 33px 33px #7653a7, 34px 34px #7653a7, 35px 35px #7653a7, 36px 36px #7653a7, 37px 37px #7653a7, 38px 38px #7653a7, 39px 39px #7653a7, 40px 40px #7653a7, 41px 41px #7653a7, 42px 42px #7653a7, 43px 43px #7653a7, 44px 44px #7653a7, 45px 45px #7653a7, 46px 46px #7653a7, 47px 47px #7653a7, 48px 48px #7653a7, 49px 49px #7653a7, 50px 50px #7653a7, 51px 51px #7653a7, 52px 52px #7653a7, 53px 53px #7653a7, 54px 54px #7653a7, 55px 55px #7653a7, 56px 56px #7653a7, 57px 57px #7653a7, 58px 58px #7653a7, 59px 59px #7653a7, 60px 60px #7653a7, 61px 61px #7653a7, 62px 62px #7653a7, 63px 63px #7653a7, 64px 64px #7653a7, 65px 65px #7653a7, 66px 66px #7653a7, 67px 67px #7653a7, 68px 68px #7653a7, 69px 69px #7653a7, 70px 70px #7653a7, 71px 71px #7653a7, 72px 72px #7653a7, 73px 73px #7653a7, 74px 74px #7653a7, 75px 75px #7653a7, 76px 76px #7653a7, 77px 77px #7653a7, 78px 78px #7653a7, 79px 79px #7653a7, 80px 80px #7653a7, 81px 81px #7653a7, 82px 82px #7653a7, 83px 83px #7653a7, 84px 84px #7653a7, 85px 85px #7653a7;
     }
     #home .section4 .content .btn-default:hover {
         background-color: rgba(0, 0, 0, 0.1)
     }
     #home .section4 .first .content {
         /*background: url(../img/shadow11.png) no-repeat right bottom /89.5% 48.9%;*/
         background-color: #5567de;
     }
     #home .section4 .second .content {
         /*background: url(../img/shadow22.png) no-repeat right bottom /89.5% 48.9%;*/
         background-color: #5da3df;
     }
     #home .section4 .third .content {
         /*background: url(../img/shadow33.png) no-repeat right bottom /89.5% 48.9%;*/
         background-color: #7676c6;
     }
     #home .section4 .fourth .content {
         /*background: url(../img/shadow44.png) no-repeat right bottom /89.5% 48.9%;*/
         background-color: #885fc1;
     }
     #home .section4 .content p {
         color: #fff
     }
     #home .section4 .content > p:nth-child(4) {
         font-size: 12px;
         margin-top: -2.5%;
         margin-bottom: 14px;
     }
     #home .section4 .content > p:nth-child(1) {
         margin-bottom: -10px
     }
     #home .section4 .price {
         margin-top: 4.1%
     }
     #home .section4 .price p {
         font-size: 16px;
         color: #333;
         line-height: 0.7;
         font-weight: 200;
     }
     .transforn {
         font-size: 15px;
         color: #333;
         text-transform: uppercase;
         font-weight: 200
     }
     #home .section4 .content span:nth-child(2) {
         font-size: 39px;
         font-family: "Montserrat";
         font-weight: 200!important;
         font-style: normal;
     }
     /*====================================================
                      Start Section-5
====================================================*/
     
     #home .section5 {
         width: 100%;
         background-color: #F1EBDC;
         height: auto;
         padding-top: 0.7%;
     }
     #home .section5 .container {
         max-width: 1480px;
     }
     #home .section5 .head h2 {
         color: #999;
         margin-bottom: 0px;
         font-size: 1.7em;
         font-weight: 100
     }
     #home .section5 .head span {
         color: #908e8f;
     }
     #home .section5 .holder {
         width: 100%;
         height: 387px;
         margin: 5% auto 2%;
         position: relative;
         background: url(../img/screen5.png) no-repeat;
         background-size: 100%;
     }
     #home .section5 .holder .video {
         position: absolute;
         top: 3%;
         left: 4.3%;
         width: 91.4%;
         height: 382px;
         overflow: hidden;
     }
     .section5 .list ul {
         margin-top: 12%;
     }
     .section5 .list ul li {
         margin-left: 0px !important;
         color: #999;
         margin-bottom: 5%;
         line-height: 3;
         overflow: hidden;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
     }
     .section5 .list ul li:hover span {
         color: #444
     }
     #home .section5 .list ul li span:first-child {
         font-size: 22px;
         border-radius: 50%;
         background-color: #CCC8BD;
         padding: 2%;
         margin-right: 5%;
         float: left;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
         margin-top: 0.4%;
         width: 40px;
         height: 40px;
     }
     padding-top: 9.5px;
     padding-left: 9.3px;
     #home .section5 .list ul li span:first-child:hover {
         color: #444;
     }
     #home .section5 .list ul li span:last-child {
         float: left;
         font-family: 'Montserrat';
         font-weight: 300;
         font-style: normal;
         font-size: 15px;
     }
     #home .section5 .icon-10 {
         font-size: 1.5em !important;
         padding: 2% !important;
     }
     #home .section5 .icon-13 {
         font-size: 27px !important;
         padding-left: 6.5px !important;
         padding-top: 1.6% !important;
     }
     #home .section5 .icon-23 {
         font-size: 26px !important;
         padding: 1.4% !important;
     }
     #home .section5 .icon-14 {
         padding-top: 9.5px !important;
         padding-left: 9.3px !important;
     }
     /*====================================================
                      Start Footer
====================================================*/
     
     footer {
         font-family: 'Montserrat';
         font-weight: 300;
         font-style: normal;
         overflow: hidden;
     }
     footer .first {
         background-color: #fff;
         padding-bottom: 3%;
         padding-top: 4%;
     }
     footer .first h3 {
         font-size: 17px;
         font-weight: 200;
         margin-top: 0px !important;
         margin-bottom: 4px !important;
     }
     footer .first .support-icon {
         margin-left: -6%;
         overflow: hidden
     }
     footer .first .support-icon .icon-31 {
         font-size: 13px;
         margin-right: 1.9px;
         padding-left: 1.9%;
     }
     footer .first .support-icon .icon-22 {
         font-size: 15px;
         vertical-align: middle !important;
         margin-right: 2px;
         margin-left: 0px;
     }
     footer .first .support-icon .icon-5 {
         font-size: 21px;
         vertical-align: middle !important;
         margin-left: -4%;
         margin-right: -1.7px;
     }
     footer .first li {
         line-height: 1.4;
         overflow: hidden
     }
     footer .first li a {
         text-decoration: none;
         color: #999;
         font-size: 14px;
         -webkit-transition: all .3s ease-in-out;
         -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
         transition: all .3s ease-in-out;
         float: left;
     }
     footer .first li a:hover {
         color: #333
     }
     footer .second {
         background-color: #efefef;
         padding: 2%;
     }
     footer .padding-footer {
         padding-left: 5%
     }
     footer .justify {
         margin-right: 2% !important;
         margin-left: 4.2% !important;
     }
     footer .second p {
         font-size: 12.9px;
         color: rgb(83, 83, 83);
         line-height: 1.8;
         text-align: left;
         font-weight: 200;
     }
     footer .second span {
         color: #0677fb;
     }
     footer .third {
         background-color: #232425;
         padding: 0.5%;
         color: #fff
     }
     footer .third .copyright p {
         margin-top: 4%
     }
     footer .third .social {
         margin-left: -18%;
         margin-top: 4.5%;
     }
     footer .third .social a {
         float: left;
         margin-left: 4s%;
         margin-top: 3%;
     }
     footer .third .fa {
         color: #00ff66;
         font-size: 21px;
         width: 45px;
         height: 45px;
         padding: 25% 30%;
         border-radius: 13%;
         margin-top: -13px;
         -webkit-transition: all .4s ease-in-out;
         -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
         transition: all .4s ease-in-out;
     }
     footer .third .fa-linkedin {
         padding: 30% 27%;
     }
     footer .third .fa-facebook {
         padding: 26% 34%;
     }
     footer .third .fa-twitter {
         padding: 30% 24%;
     }
     footer .third .fa {
         background-color: #323232;
     }
     footer .third .fa:hover {
         background-color: #464646;
     }
     footer .third .certificate {
         margin-left: 38%;
         margin-top: -3%;
     }
     footer .third .certificate a {
         float: left;
         padding-left: 2%;
         margin-top: 3%;
     }
     footer .third .certificate a img {
         width: 97px;
         margin-top: 0
     }
     .certificate > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > img:nth-child(1) {
         margin-right: 25.2%;
         margin-top: 0;
         margin-left: 19%;
     }
     .social > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) {
         margin-right: 11px;
         margin-left: 9px;
     }
     /*End Footer*/
     /*===========================================
                Media Screen
=============================================*/
     
     @media (min-width:320px) and (max-width:340px) {
         #home .section5 .list ul {
             margin-top: -52%
         }
         #home .section4 .content {
             height: 198px
         }
     }
     @media (min-width:340px) and (max-width:400px) {
         #home .section4 .content {
             height: 201px
         }
     }
     @media (min-width:320px) and (max-width:399px) {
         #home .section3 .caption p {
             height: 6px;
         }
         #home .section3 .first,
         #home .section3 .second,
         #home .section3 .third,
         #home .section3 .fourth {
             margin-bottom: 8%
         }
         footer .first .support-icon {
             margin-left: -12%;
         }
         #home .section5 .holder .video {
             top: 2.3%;
             width: 91.6%;
         }
         #home .section3 .caption p {
             height: 30px;
         }
     }
     @media (min-width:400px) and (max-width:450px) {
         footer .first .support-icon {
             margin-left: -9%;
         }
     }
     @media (min-width:570px) and (max-width:631px) {
         footer .first .support-icon {
             margin-left: -13%;
         }
     }
     @media (min-width:631px) and (max-width:700px) {
         footer .first .support-icon {
             margin-left: -12%;
         }
     }
     @media (min-width:700px) and (max-width:1000px) {
         footer .first .support-icon {
             margin-left: -10%
         }
     }
     @media (min-width:340px) and (max-width:424px) {
         #home .section5 .list ul {
             margin-top: -24%
         }
     }
     @media (min-width:421px) and (max-width:499px) {
         #home .section5 .list ul {
             margin-top: -10%
         }
     }
     @media (min-width:480px) and (max-width:550px) {
         footer .third .social {
             margin-left: 31% !important;
         }
         footer .third .certificate {
             margin-left: 25%;
         }
         footer .third .copyright {
             margin-left: 30%
         }
         .certificate > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > img:nth-child(1) {
             margin-right: 25.2%;
             margin-top: 0% !important;
         }
     }
     @media (min-width:500px) and (max-width:550px) {
         #home .section5 .holder .video {
             top: 3.7%
         }
     }
     @media (min-width:505px) and (max-width:550px) {
         #home .section5 .list ul {
             margin-top: 0%;
         }
     }
     @media (min-width:551px) and (max-width:600px) {
         #home .section5 .holder .video {
             top: 2.4%;
             left: 4.2%;
         }
     }
     @media (min-width:600px) and (max-width:700px) {
         #home .section5 .holder .video {
             position: absolute;
             top: 2.9%;
             left: 4.2%;
         }
     }
     @media (min-width:743px) and (max-width:767px) {
         #home .section5 .holder .video {
             top: 3.2%;
             left: 4.3%;
         }
     }
     @media (min-width:480px) and (max-width:767px) {
         .navbar-default .navbar-brand {
             padding-top: 2% !important
         }
     }
     @media (min-width:435px) and (max-width:618px) {
         #home .section3 .caption p {
             height: 26px;
         }
     }
     @media (min-width:619px) and (max-width:768px) {
         #home .section3 .caption p {
            height: 11px;
         }
         #home .section3 .first,
         #home .section3 .second,
         #home .section3 .third,
         #home .section3 .fourth {
             margin-bottom: 8%
         }
     }
     @media (min-width:320px) and (max-width:550px) {
         #home .section5 .icon-10{
         padding: 3%
         }
         #home .section5 .head h2 {
             font-size: 16px
         }
         footer .first li a {
             text-decoration: none;
             color: #999;
             font-size: 11px;
         }
         footer .justify {
             margin-right: 2% !important;
             margin-left: 0% !important;
         }
         footer .padding-footer {
             padding-left: 4%;
         }
     }
     @media (min-width:400px) and (max-width:500px) {
         #home .section5 .holder .video {
             top: 3.2%;
             left: 4.2%;
         }
     }
     @media (min-width:550px) and (max-width:650px) {
         
         #home .section3 .thumbnail {
         
         margin-top: 14%
         }
         footer .third .social {
             margin-left: 34%;
         }
         footer .third .certificate {
             margin-left: 24%;
         }
         footer .third .copyright p {
             text-align: center
         }
         footer .justify {
             margin-right: 2% !important;
             margin-left: 0% !important;
         }
         footer .padding-footer {
             padding-left: 4%;
         }
     }
     @media (min-width:650px)and (max-width:767px) {
         footer .third .social {
             margin-left: 37%;
         }
         footer .third .certificate {
             margin-left: 29%;
         }
         footer .third .copyright p {
             text-align: center
         }
     }
     @media (min-width:551px) and (max-width:767px) {
         /*#home .section5 .holder .video {
                top: 2%;
            }*/
         #home .section5 .head h2 {
             font-size: 19px
         }
         .section5 .list ul li {
             line-height: 2;
             font-size: 11px;
             margin-top: 4%;
         }
         #home .section5 .holder {
             height: 302px !important;
         }
         #home .section5 .list ul li span:last-child {
             float: left;
             margin-top: 2%;
         }
         #home .section5 .list ul {
             margin-top: 0 !important;
         }
         #home .section5 .col-xs-12 {
             width: 50%;
         }
     }
     @media (min-width:768px) and (max-width:1000px) {
         #home .section5 .holder .video {
             top: 3.4%;
             left: 4.4%;
         }
         #home .section5 .head h2 {
             font-size: 19px
         }
     }
     @media (min-width:400px) and (max-width:550px) {
         #home .section4 h4 {
             font-size: 16px !important;
         }
         #home .section4 .first > p {
             font-size: 11px
         }
         #home .section4 .second > p {
             font-size: 11px
         }
         #home .section4 .third > p {
             font-size: 11px
         }
         #home .section4 .fourth > p {
             font-size: 11px
         }
         #home .section4 li {
             font-size: 11px;
             line-height: 1.5;
             letter-spacing: 0 !important
         }
         #home .section4 .content {
             height: 169px;
         }
         #home .section4 p {
             font-size: 12px
         }
         #home .section3 .caption p {
            
             font-size: 9px !important;
             height: 30px;
         }
         #home .section3 .caption h3 {
             font-size: 13px;
         }
         #home .section4 .content .btn-default {
             background-color: transparent;
             height: 53px;
         }
         #home .section4 .content > p:nth-child(4) {
             margin-bottom: 6px;
         }
     }
     @media (min-width:400px) and (max-width:480px) {
         #home .section4 .content {
             height: 165px;
         }
     }
     @media (min-width:470px) and (max-width:570px) {
         #home .section4 li {
             font-size: 10px;
             line-height: 2;
         }
     }
     @media (min-width:570px) and (max-width:767px) {
         footer .first .col-xs-6 {
             width: 25%
         }
         footer .first li a {
             font-size: 10px;
         }
     }
     @media (min-width:400px) and (max-width:768px) {
         #home .section3 .col-xs-12 {
             width: 50%
         }
         #home .section4 .col-xs-12 {
             width: 50%
         }
         .section3 .caption p {
             font-size: 12px
         }
     }
     @media(max-width:480px) {
         .section5 h2 {
             font-size: 19px;
         }
         .navbar-default .navbar-brand {
             padding-top: 4% !important;
         }
         /*.navbar {
        height: 70px
    }*/
         /*.navbar-default .navbar-toggle {
        margin-top: 6%
    }*/
         footer .certificate > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > img:nth-child(1) {
             margin-right: 28.2%;
             margin-top: -30%;
             margin-left: 122px;
         }
         footer .social {
             margin-left: 22% !important;
             margin-top: 0 !important;
         }
         footer .copyright {
             margin-left: 21%;
             margin-top: -4%;
             text-align: left;
         }
         footer .third .certificate {
             margin-left: 12% !important;
             margin-bottom: -37% !important;
         }
     }
     @media (min-width:768px) {
         .navbar-default {
             height: 50px;
         }
     }
     @media (min-width:320px)and (max-width:550px) {
         #home .section5 .list ul li {
             margin-left: 0% !important;
             color: #999;
             font-size: 13px;
         }
         #home .section4 .price p {
             font-size: 15px;
             line-height: 1.2;
         }
     }
     @media (min-width:535px)and (max-width:549px) {
         #home .section5 .holder {
             width: 100%;
             height: 407px;
         }
     }
     @media(max-width:767px) {
         footer .justify {
             margin-right: 2% !important;
             margin-left: 0% !important;
         }
         navbar-nav {
             background-color: #fff;
         }
         .navbar-default .navbar-nav > li > a {
             color: #000 !important;
             background-color: #fff
         }
           .navbar-default .navbar-nav > li > a:hover {
       
             background-color: #fff
         }
         #home .section5 h2 {
             font-size: 20px
         }
         .navbar-default .icon-5 {
             margin-left: 0;
         }
         .logo_white {
             background: url(../img/logo_white.png)no-repeat;
             background-size: 82%;
             width: 234px;
             margin-left: 8%;
             margin-top: 3%;
         }
         .logo_black {
             background: url(../img/logo_black.png)no-repeat;
             background-size: 82%;
             width: 234px;
             margin-left: 8%;
             margin-top: 3%;
         }
         .navbar-default .navbar-brand {
             height: 28px
         }
         .navbar-toggle {
             margin-top: 2%
         }
         #home .section5 .list ul li span:last-child {
             font-size: 11px
         }
     }
     @media (min-width:400px)and (max-width:480px) {
         #home .section3 .caption p {
             font-size: 11px;
         }
     }
     @media (min-width:370px)and(max-width:550px) {
         footer .third .certificate {
             margin-left: 0;
         }
     }
     @media (min-width:700px) and (max-width:990px) {
         #home .section4 .content {
             height: 201px;
         }
     }
     @media (min-width:700px) and (max-width:750px) {
         #home .section4 .content {
             height: 199px;
         }
     }
     @media (min-width:750px) and (max-width:767px) {
         #home .section5 .holder {
             height: 345px !important;
         }
     }
     @media (min-width:991px) and (max-width:1200px) {
         #home .section4 .content {
             height: 191px;
             
         }
         #home .section4 li{
            font-size: 11px;
    letter-spacing: 0 !important;
         }
         #home .section4 .first > p{
         font-size: 12px
         }
          #home .section4 .second > p{
         font-size: 12px
         }
          #home .section4 .third > p{
         font-size: 12px
         }
          #home .section4 .fourth > p{
         font-size: 12px
         }
         #home .section3 .caption h3 {
             font-size: 17px;
         }
     }
@media (max-width:990px){

    #home .section4 .content{
    margin-bottom: 6%
    }
}
@media (min-width:768px) and (max-width:991px){
    #home .section3 .caption h3 {
             font-size: 12px;
         }
         #home .section3 .caption p {
             font-size: 9px;
             height: 38px;
         }
}
     @media (min-width:768px) and (max-width:989px) {
     
         #home .section5 .holder {
             height: 339px
         }
         #home .section5 .list ul li {
             font-size: 12px;
         }
     }
     @media (min-width:1000px) {
         #home .section5 .holder .video {
             position: absolute;
             top: 4%;
         }
         footer .padding_footer_support {
             padding-left: 10.5%
         }
     }
     @media (min-width:990px) and (max-width:1200px) {
         #home .section5 .holder {
             height: 427px
         }
     }
     @media (min-width:1200px) {
         #home .section5 .holder {
             width: 100%;
             height: 524px;
         }
         #home .section3 .caption p {
             font-size: 12px
         }
         #home .section3 .thumbnail {
             margin-top: 7%
         }
     }
     @media (min-width:768px) and (max-width:1200px) {
         footer .third .certificate a img {
             width: 72px;
         }
         footer .third .fa {
             height: 36px;
         }
     }
     @media (min-width:768px) {
         footer .third .col-lg-2 {
             padding-left: 4% !important;
             padding-top: 0.3% !important;
         }
         footer .padding_footer_support {
             padding-left: 10.5%
         }
     }
     @media (min-width:768px) and (max-width:999px) {
         footer .padding-footer {
             padding-left: 0 !important;
         }
         footer .justify {
             margin-left: 0 !important
         }
         footer.padding_footer_support {
             padding-left: 10%;
         }
         #home .section5 .list ul li span:last-child {
             font-size: 12px;
         }
     }
     /*=========================================
        Start Industries Page
===========================================*/
     /*Start Section1*/
     
     #Industries .bg-gredient {
         width: 100%;
         background: url("../img/BG.jpg") center center no-repeat;
         background-size: cover;
     }
     #Industries .section1 {
         height: 80%;
         max-height: 870px;
     }
     #Industries .section1 .opacity- {
             background-image: linear-gradient(to bottom right, #5a449a, #5a449a);
    opacity: .6;
         width: 100%;
         height: 80%;
         max-height: 870px;
         opacity: 0.8;
         box-shadow: 0px -6px 13px 0px rgba(0, 0, 0, 0.5) inset;
     }
     .italic {
         font-style: italic;
         font-size: 12px
     }
     #Industries .section1 .opacity- .btn-default {
         width: 41% !important;
         font-weight: bold;
         outline: none !important;
         height: 45px;
         font-size: 20px;
     }
     #Industries .section1 .opacity- .content {
         width: 63%;
         margin: auto;
                 padding: 18% 2%;
         text-align: center;
         color: white;
     }
     #Industries .section1 .opacity- .content h1 {
         font-size: 50px;
         margin-bottom: 13px;
     }
     #Industries .section1 .opacity- .content p {
         padding: 0 0;
         font-size: 16px;
         margin-bottom: 28px;
     }
     #Industries .section1 .opacity- .content a {
         display: block;
         color: #fff;
         margin-top: 3px;
         font-size: 13px;
     }
     /*End Section1*/
     /*Start Section insurance*/
     
     #Industries .btn-default {
          background-color: #33ccff ;
         color: #fff ;
         border-color: #33ccff;
         height: 45px;
     }

     #Industries .bg-insurance {
         background: url("../img/insurance.png") center center no-repeat;
         background-size: cover;
         box-shadow: inset 0px -3px 13px 0px rgba(0, 0, 0, 0.5);
     }
     #Industries .insurance {
         height: 100%;
     }
     #Industries .insurance .insurance-content {
         width: 70%;
         margin: auto 8.5%;
              
         color: white;
     }
     #Industries .insurance .insurance-content span:first-child {
         font-size: 70px;
         border: 2px solid #fff;
         border-radius: 50%;
         float: left;
     }
     #Industries .insurance .insurance-content span:nth-child(2) {
         font-size: 30px;
         display: inline;
         margin-right: 32%;
         float: left;
         margin-top: 4%;
             margin-left: 4%;
     }
     #Industries .insurance .insurance-content p {
         font-size: 16px;
         margin-bottom: 29px;
         margin-top: 11px;
         float: left;
         letter-spacing: 0.7px;
     }
     #Industries .insurance .insurance-content .btn-default {
         width: 86%;
         font-size: 20px;
         font-weight: bold;
     }
     /*End Section insurance*/
     /*Start Section government*/
     
     #Industries .bg-government {
         width: 100%;
         background: url("../img/government.png") no-repeat center center / cover transparent;
     }
     #Industries .government {
         height: 100%
     }
     #Industries .government .government-content {
         width: 74%;
         margin: auto 13% auto auto;
   
         color: white;
     }
     #Industries .government .government-content span:first-child {
        font-size: 70px;
        width: 70px;
        height: 70px;
        border: 2px solid #FFF;
        border-radius: 50%;
        float: left;
        margin-right: 4%;
     }
     #Industries .government .government-content span:nth-child(2) {
         font-size: 30px;
         display: inline;
         margin-right: 30%;
         float: left;
         margin-top: 4%;
     }
     #Industries .government .government-content p {
         font-size: 16px;
         margin-bottom: 24px;
         margin-top: 10px;
         letter-spacing: 1px;
         float: left
     }
     #Industries .government .government-content .btn-default {
         width: 86%;
         font-size: 20px;
         font-weight: bold;
     }
     /*End Section government*/
     /*Start Section Human Resource*/
     
     #Industries .bg-human-resource {
         width: 100%;
         background: url("../img/human-resource.png") center right no-repeat;
         background-size: cover;
         box-shadow: inset 0px -3px 13px 0px rgba(0, 0, 0, 0.5);
     }
     #Industries .human-resource {
         height: 100%;
     }
     #Industries .human-resource .human-resource-content {
         width: 75%;
         margin: auto 8.5%;
         padding: 18% 2%;
         color: white
     }
     #Industries .human-resource .human-resource-content span:first-child {
         font-size: 70px;
         border: 2px solid #fff;
         border-radius: 50%;
         padding: 0;
         float: left;
         margin-right: 3%;
         
     }
     #Industries .human-resource .human-resource-content span:nth-child(2) {
         font-size: 30px;
         display: inline;
         margin-right: 9%;
         float: left;
         margin-top: 5%;
     }
     #Industries .human-resource .human-resource-content p {
         font-size: 16px;
         margin-bottom: 19px;
         margin-top: 5%;
         float: left;
     }
     #Industries .human-resource .human-resource-content .btn-default {
         width: 86%;
         font-size: 20px;
         font-weight: bold;
     }
     /*End Section Human Resource*/
     /*Start Section Eduction*/
     
     #Industries .bg-education {
         width: 100%;
         background: url("../img/education.png") center left no-repeat;
         background-size: cover;
         box-shadow: inset 0px -3px 13px 0px rgba(0, 0, 0, 0.5);
     }
     #Industries .education {
         height: 100%;
     }
     #Industries .education .education-content {
         width: 64%;
         margin: 7% 13% auto auto;
         color: white;
     }
     #Industries .education .education-content span:first-child {
         font-size: 70px;
         border: 2px solid #fff;
         border-radius: 50%;
         padding: 0;
         float: left;
         margin-right: 7%;
     }
     #Industries .education .education-content span:nth-child(2) {
         font-size: 30px;
         display: inline;
         float: left;
         margin-top: 5%;
     }
     #Industries .education .education-content p {
         font-size: 16px;
         float: left;
         margin-bottom: 27px;
         margin-top: 2.2%;
     }
     #Industries .education .education-content .btn-default {
         width: 86%;
         font-size: 20px;
         font-weight: bold;
     }
     /*End Section Eduction*/
     /*Start Section law*/
     
     #Industries .bg-law {
         width: 100%;
         background: url("../img/law.png") center right no-repeat;
         background-size: cover;
         box-shadow: inset 0px -3px 13px 0px rgba(0, 0, 0, 0.5);
     }
     #Industries .law {
         height: 100%;
     }
     #Industries .law .law-content {
         width: 75%;
         margin: auto 8.5%;
       
         color: white;
     }
     #Industries .law .law-content span:first-child {
         font-size: 48px;
         border: 2px solid #FFF;
         border-radius: 50%;
         padding: 2%;
         float: left;
         margin-right: 4%;
     }
     #Industries .law .law-content span:nth-child(2) {
         font-size: 30px;
         display: inline;
         
         float: left;
         margin-top: 3%;
     }
     #Industries .law .law-content p {
         font-size: 16px;
         margin-bottom: 35px;
         margin-top: 2.2%;
         float: left;
     }
     #Industries .law .law-content .btn-default {
         width: 86%;
         font-size: 20px;
         font-weight: bold;
     }
     /*End Section law*/
     /*Start Section consumers*/
     
     #Industries .bg-consumers {
         width: 100%;
         background: url("../img/consumers.png") center left no-repeat;
         background-size: cover;
         padding-bottom: 2%;
     }
     #Industries .consumers {
         height: 100%;
     }
     #Industries .consumers .consumers-content {
         width: 71%;
         margin: auto 13% auto auto;
         
         color: white;
     }
     #Industries .consumers .consumers-content span:first-child {
    font-size: 31px;
border: 2px solid #FFF;
border-radius: 50%;
padding: 5%;
float: left;
margin-right: 6%;
     }
     #Industries .consumers .consumers-content span:nth-child(2) {
         font-size: 30px;
         display: inline;
         margin-right: 28%;
         float: left;
         margin-top: 4%;
     }
     #Industries .consumers .consumers-content p {
         font-size: 16px;
         margin-bottom: 35px;
         margin-top: 4%;
         letter-spacing: 0.8px;
         float: left;
     }
     #Industries .full-width {
         width: 0%
     }
#Industries .padding-sm{

padding: 18% 2% ;
}
     #Industries .consumers .consumers-content .btn-default {
         width: 86%;
         font-size: 20px;
         font-weight: bold;
     }

#Industries ul li:hover  {
color:#33CCFF;
    border-color:#33CCFF !important
}
#Industries ul li span:first-child:hover {

    border: 2px solid #33CCFF !important
}

     /*End Section consumers*/
     
     @media (min-width:320px) and (max-width:500px) {
       
         #Industries .section1 .opacity- .content h1 {
             font-size: 24px
         }
         #Industries .section1 .opacity- .btn-default {
            width: 50% !important;
height: 30px;
font-size: 12px;
margin-top: 2%;
         }
         #Industries .section1 .opacity- .content a{
         font-size: 9px;
         }
         #Industries .section1 .opacity- .content p {
             padding: 0px 0px;
             font-size: 10px !important;
         }
         #Industries .section1 .opacity- .content {
             width: 90%;
         }
     }
@media (min-width:500px) and (max-width:650px){
  #Industries .section1 .opacity- .content h1 {
             font-size: 37px
         }
    #Industries .section1 .opacity- .btn-default {
    width: 41% !important;
    font-weight: bold;
    outline: medium none !important;
    height: 38px;
    font-size: 14px;
    }

}
@media (min-width:650px) and (max-width:700px){
 #Industries .section1 .opacity- .content h1 {
             font-size: 47px
         }
}

     @media (min-width:501px) and (max-width:1170px) {
         #Industries .section1 .opacity- .content {
             width: 90% !important
         }
     }
     @media (min-width:320px) and (max-width:600px) {
         #Industries .full-width {
             width: 100% !important
         }
       
       
         #Industries .insurance .insurance-content {
             margin: auto auto;
         }
     
   
         #Industries .government .government-content p {
             letter-spacing: 0px;
         }
         #Industries .government .government-content {
             margin: auto auto;
         }
        
        
         #Industries .human-resource .human-resource-content {
             margin: auto;
         }
       
      
         #Industries .education .education-content {
             margin: auto auto;
         }
      
       
         #Industries .law .law-content {
             margin: auto auto;
         }
        
        
         #Industries .consumers .consumers-content p {
             letter-spacing: 0px
         }
         #Industries .consumers .consumers-content {
             margin: auto auto;
         }
     }
@media (min-width:600px) and (max-width:1000px){
   #Industries .full-width {
             width: 74% !important
         }
}
@media (min-width:1000px) and (max-width:1200px){
   #Industries .full-width {
             width: 46% !important
         }
}
     @media (min-width:400px) and (max-width:1200px) {
         #Industries .insurance .insurance-content,
         #Industries .human-resource .human-resource-content,
         #Industries .law .law-content {
             margin-left: 0 !important;
         }

         #Industries .government .government-content,
         #Industries .education .education-content,
         #Industries .consumers .consumers-content {
             margin-right: 0 !important;
            
         }
           #Industries .btn-default:not(.main-btn){
  
         float: left !important;
         margin-bottom: 20% !important;
         
    }
     }
     /*section insurance*/
     
     .wedgit_search .bottom_content .search_option:first-child label.active {
         border-radius: 0 0 0 12px;
         -moz-border-radius: 0 0 0 12px;
         -webkit-border-radius: 0 0 0 12px;
     }
     
@media (min-width:320px) and (max-width:600px){
      #Industries .padding-sm{

             padding: 0 !important;
         }
    #Industries  span:first-child{
    font-size: 30px
    }
     #Industries  span:nth-child(2){
    font-size: 15px !important;
         margin-top: 2% !important;
         margin-left: 0%
    }
       #Industries  p{
    font-size: 12px !important;
         margin-bottom: 2% !important;
        
    }
    #Industries .icon-2{
    font-size: 35px !important;
width: 37px !important;
height: 37px !important;
     
    }
    #Industries .icon-23{
      width: 33px !important;
    height: 33px !important;
font-size: 18px !important;
            padding: 1% !important;
    }
      #Industries .icon-33{
 
font-size: 30px !important;
    }
    
      #Industries .icon-1{
 
font-size: 30px !important;
    }
      #Industries .icon-24{
    font-size: 17px !important;
    width: 35px !important;
    height: 36px !important;
    padding: 2% !important;
    }
      #Industries .icon-3{
 
font-size: 30px !important;
    }

     #Industries .btn-default:not(.main-btn){
        width: 40% !important;
         float: left;
         font-size: 13px !important;
         font-weight: 200 !important;
         margin-bottom: 2% !important;
         height: 30px !important;
         line-height: 1 !important;
       
         
    }
  
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
         .fixed_padding {
             padding-top: 280px;
         }
         .main-section.bg-gredient.fixed_bg,
         .main-section.bg-gredient.fixed_bg .opacity- {
             height: 98%;
             position: fixed;
             top: 0;
             transition: all 0s ease 0s;
         }
     }


.active-btn {
    color: #a9a9a9 !important;
background-color:#fff !important;
    border-color: #fff !important;
}



/*===============================================
                        API PAGE
=================================================*/
/* Start Main Section*/


.API.main-section .content {
    display: table;
    height: 100%;
    position: relative;
    padding-top: 16%;
}


.API.main-section .content > div {
    color: white;
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    color: #fff;
}
.API.main-section .content >div h1 {
    font-size: 50px;
    margin-bottom: 0;
    color: #fff;
}
.API.main-section .content >div h2 {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-top: 17px;
}
.API.main-section .content >div p {
 font-size: 15px;
font-style: italic;
color: #969696;
margin: 0px 0px 5px;
letter-spacing: 0.5px;
}
.API.main-section .content .center-block {
    margin-top: 3.2%;
}
.API.main-section .content .center-block .btn.btn-default{

margin-right: 2%;
    height: 32px;
box-shadow: 1px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;
    margin-left: 1%;
}
.API.main-section .content .center-block a.btn.btn-default {
    width: 44% !important;
    text-align: center;
    height: 32px;
    font-weight: bold;
}

.API.main-section .content .center-block a.btn.green {
    background-color: #00D768;
    color:#fff !important;
    border-color: #00D768;
    border-radius: 3px !important;
    box-shadow: 1px 8px 0px rgba(0, 0, 0, 0.1);
    margin-left: 1.7%;
}
.API.main-section .content .center-block a.btn.green:hover {
    background-color: rgba(11, 197, 101, 1); !important;
    color:#fff !important;
    border-color: rgba(11, 197, 101, 1); !important;
}
.API.main-section .content .center-block a.btn.green:active,
.btn-default.active {
   background-color: rgba(8, 140, 72, 1) !important;
    border-color: rgba(8, 140, 72, 1)!important;
    color: #fff
}
.API.main-section .content .center-block .btn.btn-default:hover {
    background-color: #1cb9eb;
    border-color: #1cb9eb;
}

.API.main-section .content .center-block .btn.btn-default:active,
.btn-default.active {
   background-color: #05A2D6 !important;
    border-color: #05A2D6 !important;
    color: #fff
}
/*Start haif circle*/
.API.main-section .haif-circle{
position: absolute;
left: 16%;
top: 17%;
width: 67% !important;
border-width: 12px 12px 0px;
border-style: solid solid none;
border-color: #FFF ;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-top-left-radius: 500px;
border-top-right-radius: 500px;
height: 83% !important;
}

.API.main-section .haif-circle .big-circle{
color: #FFF;
width: 106px;
height: 106px;
border-radius: 50%;
overflow: hidden !important;
position: relative;
right: 0%;
line-height: 2 !important;
text-align: center !important;
font-size: 56px !important;

}
.API.main-section .haif-circle .big-circle.person{

background-color: #00B9EB;
position: absolute!important;
top: -13%;
left: 43%;
text-shadow: 0px 0px #00A7D0, 1px 1px #00A7D0, 2px 2px #00A7D0, 3px 3px #00A7D0, 4px 4px #00A7D0, 5px 5px #00A7D0, 6px 6px #00A7D0, 7px 7px #00A7D0, 8px 8px #00A7D0, 9px 9px #00A7D0, 10px 10px #00A7D0, 11px 11px #00A7D0, 12px 12px #00A7D0, 13px 13px #00A7D0, 14px 14px #00A7D0, 15px 15px #00A7D0, 16px 16px #00A7D0, 17px 17px #00A7D0, 18px 18px #00A7D0, 19px 19px #00A7D0, 20px 20px #00A7D0, 21px 21px #00A7D0, 22px 22px #00A7D0, 23px 23px #00A7D0, 24px 24px #00A7D0, 25px 25px #00A7D0, 26px 26px #00A7D0, 27px 27px #00A7D0, 28px 28px #00A7D0, 29px 29px #00A7D0, 30px 30px #00A7D0, 31px 31px #00A7D0, 32px 32px #00A7D0, 33px 33px #00A7D0, 34px 34px #00A7D0, 35px 35px #00A7D0, 36px 36px #00A7D0, 37px 37px #00A7D0, 38px 38px #00A7D0, 39px 39px #00A7D0, 40px 40px #00A7D0, 41px 41px #00A7D0, 42px 42px #00A7D0, 43px 43px #00A7D0, 44px 44px #00A7D0, 45px 45px #00A7D0, 46px 46px #00A7D0, 47px 47px #00A7D0, 48px 48px #00A7D0, 49px 49px #00A7D0, 50px 50px #00A7D0, 51px 51px #00A7D0, 52px 52px #00A7D0, 53px 53px #00A7D0, 54px 54px #00A7D0, 55px 55px #00A7D0, 56px 56px #00A7D0, 57px 57px #00A7D0, 58px 58px #00A7D0, 59px 59px #00A7D0, 60px 60px #00A7D0, 61px 61px #00A7D0, 62px 62px #00A7D0, 63px 63px #00A7D0, 64px 64px #00A7D0, 65px 65px #00A7D0, 66px 66px #00A7D0, 67px 67px #00A7D0, 68px 68px #00A7D0, 69px 69px #00A7D0, 70px 70px #00A7D0, 71px 71px #00A7D0, 72px 72px #00A7D0, 73px 73px #00A7D0, 74px 74px #00A7D0, 75px 75px #00A7D0, 76px 76px #00A7D0, 77px 77px #00A7D0, 78px 78px #00A7D0, 79px 79px #00A7D0, 80px 80px #00A7D0, 81px 81px #00A7D0, 82px 82px #00A7D0, 83px 83px #00A7D0, 84px 84px #00A7D0, 85px 85px #00A7D0;
}
.API.main-section .haif-circle .big-circle.person span.icon-39 {
    font-size: 60px !important;
    line-height: 1.8 !important;
}
.API.main-section .haif-circle .big-circle.email{
background-color:#FF6970;
/*position: relative !important;
left: 79%;
top: -12%;*/
    position: absolute !important;
right: 8%;
top: 11%;
text-shadow: 0px 0px #FF5860, 1px 1px #FF5860, 2px 2px #FF5860, 3px 3px #FF5860, 4px 4px #FF5860, 5px 5px #FF5860, 6px 6px #FF5860, 7px 7px #FF5860, 8px 8px #FF5860, 9px 9px #FF5860, 10px 10px #FF5860, 11px 11px #FF5860, 12px 12px #FF5860, 13px 13px #FF5860, 14px 14px #FF5860, 15px 15px #FF5860, 16px 16px #FF5860, 17px 17px #FF5860, 18px 18px #FF5860, 19px 19px #FF5860, 20px 20px #FF5860, 21px 21px #FF5860, 22px 22px #FF5860, 23px 23px #FF5860, 24px 24px #FF5860, 25px 25px #FF5860, 26px 26px #FF5860, 27px 27px #FF5860, 28px 28px #FF5860, 29px 29px #FF5860, 30px 30px #FF5860, 31px 31px #FF5860, 32px 32px #FF5860, 33px 33px #FF5860, 34px 34px #FF5860, 35px 35px #FF5860, 36px 36px #FF5860, 37px 37px #FF5860, 38px 38px #FF5860, 39px 39px #FF5860, 40px 40px #FF5860, 41px 41px #FF5860, 42px 42px #FF5860, 43px 43px #FF5860, 44px 44px #FF5860, 45px 45px #FF5860, 46px 46px #FF5860, 47px 47px #FF5860, 48px 48px #FF5860, 49px 49px #FF5860, 50px 50px #FF5860, 51px 51px #FF5860, 52px 52px #FF5860, 53px 53px #FF5860, 54px 54px #FF5860, 55px 55px #FF5860, 56px 56px #FF5860, 57px 57px #FF5860, 58px 58px #FF5860, 59px 59px #FF5860, 60px 60px #FF5860, 61px 61px #FF5860, 62px 62px #FF5860, 63px 63px #FF5860, 64px 64px #FF5860, 65px 65px #FF5860, 66px 66px #FF5860, 67px 67px #FF5860, 68px 68px #FF5860, 69px 69px #FF5860, 70px 70px #FF5860, 71px 71px #FF5860, 72px 72px #FF5860, 73px 73px #FF5860, 74px 74px #FF5860, 75px 75px #FF5860, 76px 76px #FF5860, 77px 77px #FF5860, 78px 78px #FF5860, 79px 79px #FF5860, 80px 80px #FF5860, 81px 81px #FF5860, 82px 82px #FF5860, 83px 83px #FF5860, 84px 84px #FF5860, 85px 85px #FF5860;
}
.API.main-section .haif-circle .big-circle.email span.icon-22{
font-size: 70px !important;
line-height: 1.4 !important;
}
.API.main-section .haif-circle .big-circle.key{
 background-color :#FF932F;
/*position: relative !important;
 top: -9%;
left: 94%;*/
    position: absolute !important;
top: 69%;
right: -7%;
text-shadow: 0px 0px #EF872B, 1px 1px #EF872B, 2px 2px #EF872B, 3px 3px #EF872B, 4px 4px #EF872B, 5px 5px #EF872B, 6px 6px #EF872B, 7px 7px #EF872B, 8px 8px #EF872B, 9px 9px #EF872B, 10px 10px #EF872B, 11px 11px #EF872B, 12px 12px #EF872B, 13px 13px #EF872B, 14px 14px #EF872B, 15px 15px #EF872B, 16px 16px #EF872B, 17px 17px #EF872B, 18px 18px #EF872B, 19px 19px #EF872B, 20px 20px #EF872B, 21px 21px #EF872B, 22px 22px #EF872B, 23px 23px #EF872B, 24px 24px #EF872B, 25px 25px #EF872B, 26px 26px #EF872B, 27px 27px #EF872B, 28px 28px #EF872B, 29px 29px #EF872B, 30px 30px #EF872B, 31px 31px #EF872B, 32px 32px #EF872B, 33px 33px #EF872B, 34px 34px #EF872B, 35px 35px #EF872B, 36px 36px #EF872B, 37px 37px #EF872B, 38px 38px #EF872B, 39px 39px #EF872B, 40px 40px #EF872B, 41px 41px #EF872B, 42px 42px #EF872B, 43px 43px #EF872B, 44px 44px #EF872B, 45px 45px #EF872B, 46px 46px #EF872B, 47px 47px #EF872B, 48px 48px #EF872B, 49px 49px #EF872B, 50px 50px #EF872B, 51px 51px #EF872B, 52px 52px #EF872B, 53px 53px #EF872B, 54px 54px #EF872B, 55px 55px #EF872B, 56px 56px #EF872B, 57px 57px #EF872B, 58px 58px #EF872B, 59px 59px #EF872B, 60px 60px #EF872B, 61px 61px #EF872B, 62px 62px #EF872B, 63px 63px #EF872B, 64px 64px #EF872B, 65px 65px #EF872B, 66px 66px #EF872B, 67px 67px #EF872B, 68px 68px #EF872B, 69px 69px #EF872B, 70px 70px #EF872B, 71px 71px #EF872B, 72px 72px #EF872B, 73px 73px #EF872B, 74px 74px #EF872B, 75px 75px #EF872B, 76px 76px #EF872B, 77px 77px #EF872B, 78px 78px #EF872B, 79px 79px #EF872B, 80px 80px #EF872B, 81px 81px #EF872B, 82px 82px #EF872B, 83px 83px #EF872B, 84px 84px #EF872B, 85px 85px #EF872B;
}
.API.main-section .haif-circle .big-circle.map{
 background-color: #BA42CF;
/*position: relative !important;
top: -87%;
left: 8%;*/
    position: absolute !important;
top: 11%;
left: 6%;
text-shadow: 0px 0px #9E32B3, 1px 1px #9E32B3, 2px 2px #9E32B3, 3px 3px #9E32B3, 4px 4px #9E32B3, 5px 5px #9E32B3, 6px 6px #9E32B3, 7px 7px #9E32B3, 8px 8px #9E32B3, 9px 9px #9E32B3, 10px 10px #9E32B3, 11px 11px #9E32B3, 12px 12px #9E32B3, 13px 13px #9E32B3, 14px 14px #9E32B3, 15px 15px #9E32B3, 16px 16px #9E32B3, 17px 17px #9E32B3, 18px 18px #9E32B3, 19px 19px #9E32B3, 20px 20px #9E32B3, 21px 21px #9E32B3, 22px 22px #9E32B3, 23px 23px #9E32B3, 24px 24px #9E32B3, 25px 25px #9E32B3, 26px 26px #9E32B3, 27px 27px #9E32B3, 28px 28px #9E32B3, 29px 29px #9E32B3, 30px 30px #9E32B3, 31px 31px #9E32B3, 32px 32px #9E32B3, 33px 33px #9E32B3, 34px 34px #9E32B3, 35px 35px #9E32B3, 36px 36px #9E32B3, 37px 37px #9E32B3, 38px 38px #9E32B3, 39px 39px #9E32B3, 40px 40px #9E32B3, 41px 41px #9E32B3, 42px 42px #9E32B3, 43px 43px #9E32B3, 44px 44px #9E32B3, 45px 45px #9E32B3, 46px 46px #9E32B3, 47px 47px #9E32B3, 48px 48px #9E32B3, 49px 49px #9E32B3, 50px 50px #9E32B3, 51px 51px #9E32B3, 52px 52px #9E32B3, 53px 53px #9E32B3, 54px 54px #9E32B3, 55px 55px #9E32B3, 56px 56px #9E32B3, 57px 57px #9E32B3, 58px 58px #9E32B3, 59px 59px #9E32B3, 60px 60px #9E32B3, 61px 61px #9E32B3, 62px 62px #9E32B3, 63px 63px #9E32B3, 64px 64px #9E32B3, 65px 65px #9E32B3, 66px 66px #9E32B3, 67px 67px #9E32B3, 68px 68px #9E32B3, 69px 69px #9E32B3, 70px 70px #9E32B3, 71px 71px #9E32B3, 72px 72px #9E32B3, 73px 73px #9E32B3, 74px 74px #9E32B3, 75px 75px #9E32B3, 76px 76px #9E32B3, 77px 77px #9E32B3, 78px 78px #9E32B3, 79px 79px #9E32B3, 80px 80px #9E32B3, 81px 81px #9E32B3, 82px 82px #9E32B3, 83px 83px #9E32B3, 84px 84px #9E32B3, 85px 85px #9E32B3;
}
.API.main-section .haif-circle .big-circle.tel{
background-color: #00D768;
/*position: relative !important;
top: 16%;
left: -6%;*/
    position: absolute !important;
top: 69%;
left: -7%;
text-shadow: 0px 0px #00B95B, 1px 1px #00B95B, 2px 2px #00B95B, 3px 3px #00B95B, 4px 4px #00B95B, 5px 5px #00B95B, 6px 6px #00B95B, 7px 7px #00B95B, 8px 8px #00B95B, 9px 9px #00B95B, 10px 10px #00B95B, 11px 11px #00B95B, 12px 12px #00B95B, 13px 13px #00B95B, 14px 14px #00B95B, 15px 15px #00B95B, 16px 16px #00B95B, 17px 17px #00B95B, 18px 18px #00B95B, 19px 19px #00B95B, 20px 20px #00B95B, 21px 21px #00B95B, 22px 22px #00B95B, 23px 23px #00B95B, 24px 24px #00B95B, 25px 25px #00B95B, 26px 26px #00B95B, 27px 27px #00B95B, 28px 28px #00B95B, 29px 29px #00B95B, 30px 30px #00B95B, 31px 31px #00B95B, 32px 32px #00B95B, 33px 33px #00B95B, 34px 34px #00B95B, 35px 35px #00B95B, 36px 36px #00B95B, 37px 37px #00B95B, 38px 38px #00B95B, 39px 39px #00B95B, 40px 40px #00B95B, 41px 41px #00B95B, 42px 42px #00B95B, 43px 43px #00B95B, 44px 44px #00B95B, 45px 45px #00B95B, 46px 46px #00B95B, 47px 47px #00B95B, 48px 48px #00B95B, 49px 49px #00B95B, 50px 50px #00B95B, 51px 51px #00B95B, 52px 52px #00B95B, 53px 53px #00B95B, 54px 54px #00B95B, 55px 55px #00B95B, 56px 56px #00B95B, 57px 57px #00B95B, 58px 58px #00B95B, 59px 59px #00B95B, 60px 60px #00B95B, 61px 61px #00B95B, 62px 62px #00B95B, 63px 63px #00B95B, 64px 64px #00B95B, 65px 65px #00B95B, 66px 66px #00B95B, 67px 67px #00B95B, 68px 68px #00B95B, 69px 69px #00B95B, 70px 70px #00B95B, 71px 71px #00B95B, 72px 72px #00B95B, 73px 73px #00B95B, 74px 74px #00B95B, 75px 75px #00B95B, 76px 76px #00B95B, 77px 77px #00B95B, 78px 78px #00B95B, 79px 79px #00B95B, 80px 80px #00B95B, 81px 81px #00B95B, 82px 82px #00B95B, 83px 83px #00B95B, 84px 84px #00B95B, 85px 85px #00B95B;
}


.API.main-section .haif-circle .sm-circle{
color: #FFF;
width: 57px;
height: 57px;
background-color: #566268;
border: 3px solid #FFF;
border-radius: 50%;
overflow: hidden !important;
position: relative;
right: 0%;
line-height: 2.5 !important;
text-align: center !important;
font-size: 22px !important;
text-shadow: 0px 0px #50595B, 1px 1px #50595B, 2px 2px #50595B, 3px 3px #50595B, 4px 4px #50595B, 5px 5px #50595B, 6px 6px #50595B, 7px 7px #50595B, 8px 8px #50595B, 9px 9px #50595B, 10px 10px #50595B, 11px 11px #50595B, 12px 12px #50595B, 13px 13px #50595B, 14px 14px #50595B, 15px 15px #50595B, 16px 16px #50595B, 17px 17px #50595B, 18px 18px #50595B, 19px 19px #50595B, 20px 20px #50595B, 21px 21px #50595B, 22px 22px #50595B, 23px 23px #50595B, 24px 24px #50595B, 25px 25px #50595B, 26px 26px #50595B, 27px 27px #50595B, 28px 28px #50595B, 29px 29px #50595B, 30px 30px #50595B, 31px 31px #50595B, 32px 32px #50595B, 33px 33px #50595B, 34px 34px #50595B, 35px 35px #50595B, 36px 36px #50595B, 37px 37px #50595B, 38px 38px #50595B, 39px 39px #50595B, 40px 40px #50595B, 41px 41px #50595B, 42px 42px #50595B, 43px 43px #50595B, 44px 44px #50595B, 45px 45px #50595B, 46px 46px #50595B, 47px 47px #50595B, 48px 48px #50595B, 49px 49px #50595B, 50px 50px #50595B, 51px 51px #50595B, 52px 52px #50595B, 53px 53px #50595B, 54px 54px #50595B, 55px 55px #50595B, 56px 56px #50595B, 57px 57px #50595B, 58px 58px #50595B, 59px 59px #50595B, 60px 60px #50595B, 61px 61px #50595B, 62px 62px #50595B, 63px 63px #50595B, 64px 64px #50595B, 65px 65px #50595B, 66px 66px #50595B, 67px 67px #50595B, 68px 68px #50595B, 69px 69px #50595B, 70px 70px #50595B, 71px 71px #50595B, 72px 72px #50595B, 73px 73px #50595B, 74px 74px #50595B, 75px 75px #50595B, 76px 76px #50595B, 77px 77px #50595B, 78px 78px #50595B, 79px 79px #50595B, 80px 80px #50595B, 81px 81px #50595B, 82px 82px #50595B, 83px 83px #50595B, 84px 84px #50595B, 85px 85px #50595B;
}

.API.main-section .haif-circle .sm-circle.linkedin{
    /*position: relative;
top: -126%;
left: 66%;*/
    position: absolute;
top: 0%;
right: 26%;
}
.API.main-section .haif-circle .sm-circle.facebook{
    /*position: relative;
top: -139%;
left: 27%*/
position: absolute;
top: 0%;
left: 26%;
}

.API.main-section .haif-circle .sm-circle.twitter{
/*position: relative;
top: -106%;
left: 2%;*/
    position: absolute;
top: 42%;
left: 0;
}

.API.main-section .haif-circle .sm-circle.instagram{
position: absolute;
top: 42%;
right: 1%;
}
.API.main-section .haif-circle .sm-circle.instagram span.icon-38 {
    font-size: 29px;
    line-height: 1.8;
}
section.main-section.API{
overflow: hidden
}
.API.main-section .content .row {
    position: relative;
}
@media(min-width:400px) and (max-width:450px){
    .API.main-section .haif-circle {
        left: 8%;
    top: 67%;
    width: 85% !important;
    border-width: 8px 8px 0px;
    height: 33% !important;
}
   
    .API.main-section .haif-circle .big-circle {
    width: 35px;
    height: 35px;
    line-height: 2 !important;
    font-size: 20px !important;
    }
.API.main-section .haif-circle .sm-circle {
    width: 25px;
    height: 25px;
    border: 1px solid #FFF;
    line-height: 2.7 !important;
    font-size: 10px !important;
}
    .API.main-section .content {
    padding-top: 98%;
    }
    .API.main-section .content >div h1 {
        font-size: 12px;
    }
    .API.main-section .content >div h2 {
    font-size: 6px;
    font-weight: bold;
    margin-top: 2px;
    }
    .API.main-section .content .center-block a.btn.btn-default {
    width: 44% !important;
    text-align: center;
    height: 22px;
    font-weight: 100;
    font-size: 10px;
    line-height: 1;
    }
    .API.main-section .haif-circle .big-circle.person span.icon-39 {
    font-size: 20px !important;
    line-height: 1.8 !important;
    }
    .API.main-section .haif-circle .big-circle.email span.icon-22 {
    font-size: 20px !important;
    line-height: 1.4 !important;
}
    .API.main-section .content >div p {
    font-size: 8px !important;
            letter-spacing: 0 !important;
    }
    .API.main-section .haif-circle .sm-circle.instagram span.icon-38 {
    font-size: 11px;
    line-height: 1.8;
    }
    .API.main-section .haif-circle .sm-circle.instagram {
    
    right: 0%;
    }
    .API.main-section .haif-circle .sm-circle.twitter {

    left: 0px;
    }
    .API.main-section .haif-circle .big-circle.map {
    background-color: #BA42CF;
    position: absolute !important;
    top: 11%;
    left: 8%;
    }
    .API.main-section .haif-circle .sm-circle.linkedin {
    position: absolute;
    top: -2%;
    }
    .API.main-section .haif-circle .sm-circle.facebook {
    position: absolute;
    top: -2%;
    }
}

@media(min-width:450px) and (max-width:650px){
    .API.main-section .content {
    position: relative;
    padding-top: 340px;
    }
    .API.main-section .content >div h1 {
    font-size: 24px;
    }
    .API.main-section .content >div h2 {
    font-size: 7px;
    }
    .API.main-section .content .center-block a.btn.btn-default {
    width: 44% !important;
    text-align: center;
    height: 22px;
    font-weight: 100;
    line-height: 0.7;
    font-size: 12px;
    }
    .API.main-section .content >div p {
    font-size: 8px;
    }
    .API.main-section .haif-circle {
    position: absolute;
    left: 6%;
    top: 56%;
    width: 87% !important;
    height: 45% !important;
     border-width: 8px 8px 0px; 
    }
    .API.main-section .haif-circle .big-circle {
    width: 50px;
    height: 50px;
    line-height: 2 !important;
    font-size: 30px !important;
    }
    .API.main-section .haif-circle .big-circle.person span.icon-39 {
    font-size: 30px !important;
    line-height: 1.8 !important;
    }
    .API.main-section .haif-circle .big-circle.email span.icon-22 {
    font-size: 30px !important;
    line-height: 1.4 !important;
    }
    .API.main-section .haif-circle .sm-circle {
    width: 35px;
    height: 35px;
    border: 2px solid #FFF;
    line-height: 2.5 !important;
    font-size: 14px !important;
           
    }
    .API.main-section .haif-circle .sm-circle.instagram {
    right: -2% !important;
    }
    .API.main-section .haif-circle .sm-circle.linkedin {
    position: absolute;
    top: -2% !important;
    left: 66% !important;
    }
    .API.main-section .haif-circle .sm-circle.facebook {
    position: absolute;
    top: -2% !important;
    left: 26% !important;
    }
    .API.main-section .haif-circle .sm-circle.twitter {
    position: absolute;
    top: 42% !important;
    left: -2% !important;
    }
    .API.main-section .haif-circle .big-circle.map {
  
    top: 11% !important;
    left: 7% !important;
    }
    .API.main-section .haif-circle .sm-circle.instagram span.icon-38 {
    font-size: 15px;
    line-height: 1.8;
    }
}


@media(min-width:650px) and (max-width:830px){
    .API.main-section .content  {
  padding-top: 46%
    
    }
     .API.main-section .content >div h1 {
    font-size: 20px
    }
     .API.main-section .content >div h2 {
    font-size: 10px
    }
    .API.main-section .content >div p {
    font-size: 12px
    }
.API.main-section .haif-circle {
    position: absolute;
    left: 9%;
    top: 45%;
    width: 82% !important;
        height: 56% !important;
    border-width: 8px 8px
    
}
    .API.main-section .haif-circle .big-circle {
    
    width: 70px;
    height: 70px;
            font-size: 45px !important;
    }
    .API.main-section .haif-circle .big-circle.person span.icon-39 {
    font-size: 46px !important;
    line-height: 1.8 !important;
    }
    .API.main-section .haif-circle .big-circle.email span.icon-22 {
  font-size: 51px !important;
    line-height: 1 !important;
    }
.API.main-section .haif-circle .sm-circle {
    color: #FFF;
    width: 50px;
    height: 50px;
}
}
@media(min-width:830px) and (max-width:990px){
    .API.main-section .haif-circle{
    width:98%   !important;
        left:0% !important;
    }
    .API.main-section .content >div h1 {
    font-size: 30px
    }
     .API.main-section .content >div h2 {
    font-size: 12px
    }
    .API.main-section .content >div p {
    font-size: 14px
    }
}
@media(min-width:990px) and (max-width:999px){
 .API.main-section .haif-circle{
    width:86%   !important;
        left:7% !important;
    }
      .API.main-section .content >div h1 {
    font-size: 30px
    }
     .API.main-section .content >div h2 {
    font-size: 12px
    }
    .API.main-section .content >div p {
    font-size: 14px
    }

}
@media(min-width:1000px) and (max-width:1200px){
    .API.main-section .haif-circle{
    width:80%   !important;
        left:10% !important;
    }

}
/* End Main Section*/


/*Start Section 4*/
#API section.section4 {
    height:100%
}
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
#API .section4 {
    background-color: #f4f4f4;
    padding-bottom: 3.7%;
}
#API .section4 .head {
    margin-bottom: 1%;
    margin-top: 0.6%;
    font-weight: 100 !important;
}
#API .section4 .head h2 {
    font-weight: 100 !important;
    color: #565656;
    margin-bottom: 0px !important;
}
#API .section4 .head h4 {
    font-weight: 100 !important;
    color: #575757;
    margin-bottom: 0px !important;
}
#API .section4 .info {
    width:100%;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    line-height: 3
}
#API .section4 .info .col-lg-2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#API .section4 .info .first {
    background-color: #8189D1;
    height: 46px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    line-height: 3.3
}
#API .section4 .info .second {
    background-color: #5763DD;
    height: 46px;
}
#API .section4 .info .third {
    background-color: #525252;
    height: 46px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 3.2;
}
#API .section4 .btn-default {
    width: 24%;
    margin-top: 3%;
    height: 55px;
    line-height: 2.2;
    box-shadow: 0px 0px 0px 0px !important;
    font-size: 18px !important;
}
#API .section4 .btn-default:active,
.btn-default.active {
   background-color: #05A2D6 !important;
    border-color: #05A2D6 !important;
    color: #fff
}
#API .section4 h5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#API .section4 h6 {
    font-size: 10px;
    margin-top: 3% !important;
    margin-bottom: 0 !important;
}
#API .section4 .main {
    display: table;
    width: 100%;
    margin: 2.2% auto 3.6%;
    background-color: #FFF;
    border: 1px solid #A1A1A1;
    border-radius: 4px
}
#API .section4 .first-table {
    padding-left: 0!important;
    padding-right: 10px;
}
#API .section4 .second-table {
    padding-right: 0!important;
    padding-left: 10px;
}
#API .section4 .main .t-row {
    display: table-row
}
#API .section4 .main .t-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 1.3%;
    text-align: center
}
#API .section4 .main .t-row:not(:last-child) .t-cell {
    border-bottom: 1px solid #CCC
}
#API .section4 .main .t-cell:not(:last-child) {
    border-right: 1px solid #CCC;
}
#API .section4 .main .t-cell:nth-child(3) {
    text-align: left
}
#API .section4 .main .t-cell h5 {
    margin: 0;
    font-weight: normal;
    font-size: 14px
}
#API .section4 .main .t-cell h6 {
    margin: 5px 0 0;
    font-size: 11px;
}
#API .section4 .info .middle {
    font-size: 15px;
    color: #9BA3F8;
}
#API .section4 .main .t-cell .call {
    position: relative;
    top:5px !important;
    font-size: 8.3px;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
    color: #A0A0A0;
}
#API .section4 .info .third .info-price {
    margin-left: 9%;
}
#API .section4 .info .third .info-call {
    position: relative;
    top:5px !important;
    font-size: 8.3px;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
    color: #fff;
}
#API .section4 .main .t-cell .price {
    font-size: 15px;
    color: #5564DB;
}
#API .section4 .main .t-row {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
API .section4 .main .span {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#API .section4 .main .t-row:hover {
    background-color: #5763DD;
    color: #FFF !important;
}
#API .section4 .main .t-row:hover span:not(.call) {
    color: #FFF !important;
}

#API .section4 .main .selected .circle-table {
    background-color: #00D768;
    text-shadow:0 0 #00B95B,
    1px 1px #00B95B,
    2px 2px #00B95B,
    3px 3px #00B95B,
    4px 4px #00B95B,
    5px 5px #00B95B,
    6px 6px #00B95B,
    7px 7px #00B95B,
    8px 8px #00B95B,
    9px 9px #00B95B,
    10px 10px #00B95B,
    11px 11px #00B95B,
    12px 12px #00B95B,
    13px 13px #00B95B,
    14px 14px #00B95B,
    15px 15px #00B95B,
    16px 16px #00B95B,
    17px 17px #00B95B,
    18px 18px #00B95B,
    19px 19px #00B95B,
    20px 20px #00B95B,
    21px 21px #00B95B,
    22px 22px #00B95B,
    23px 23px #00B95B,
    24px 24px #00B95B,
    25px 25px #00B95B,
    26px 26px #00B95B,
    27px 27px #00B95B,
    28px 28px #00B95B,
    29px 29px #00B95B,
    30px 30px #00B95B,
    31px 31px #00B95B,
    32px 32px #00B95B,
    33px 33px #00B95B,
    34px 34px #00B95B,
    35px 35px #00B95B,
    36px 36px #00B95B,
    37px 37px #00B95B,
    38px 38px #00B95B,
    39px 39px #00B95B,
    40px 40px #00B95B,
    41px 41px #00B95B,
    42px 42px #00B95B,
    43px 43px #00B95B,
    44px 44px #00B95B,
    45px 45px #00B95B,
    46px 46px #00B95B,
    47px 47px #00B95B,
    48px 48px #00B95B,
    49px 49px #00B95B,
    50px 50px #00B95B,
    51px 51px #00B95B,
    52px 52px #00B95B,
    53px 53px #00B95B,
    54px 54px #00B95B,
    55px 55px #00B95B,
    56px 56px #00B95B,
    57px 57px #00B95B,
    58px 58px #00B95B,
    59px 59px #00B95B,
    60px 60px #00B95B,
    61px 61px #00B95B,
    62px 62px #00B95B,
    63px 63px #00B95B,
    64px 64px #00B95B,
    65px 65px #00B95B,
    66px 66px #00B95B,
    67px 67px #00B95B,
    68px 68px #00B95B,
    69px 69px #00B95B,
    70px 70px #00B95B,
    71px 71px #00B95B,
    72px 72px #00B95B,
    73px 73px #00B95B,
    74px 74px #00B95B,
    75px 75px #00B95B,
    76px 76px #00B95B,
    77px 77px #00B95B,
    78px 78px #00B95B,
    79px 79px #00B95B,
    80px 80px #00B95B,
    81px 81px #00B95B,
    82px 82px #00B95B,
    83px 83px #00B95B,
    84px 84px #00B95B,
    85px 85px #00B95B
}
#API .section4 .main .selecte .t-row{
background-color: #00f !important
}
#API .section4 .circle-table {
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #A9A9A9;
    border: 3px solid #D7D7D7;
    border-radius: 50%;
    overflow: hidden !important;
    position: relative;
    right:0%;
    line-height:1.5 !important;
    text-align: center !important;
    font-size: 30px !important;
    text-shadow:0 0 #848484,
    1px 1px #848484,
    2px 2px #848484,
    3px 3px #848484,
    4px 4px #848484,
    5px 5px #848484,
    6px 6px #848484,
    7px 7px #848484,
    8px 8px #848484,
    9px 9px #848484,
    10px 10px #848484,
    11px 11px #848484,
    12px 12px #848484,
    13px 13px #848484,
    14px 14px #848484,
    15px 15px #848484,
    16px 16px #848484,
    17px 17px #848484,
    18px 18px #848484,
    19px 19px #848484,
    20px 20px #848484,
    21px 21px #848484,
    22px 22px #848484,
    23px 23px #848484,
    24px 24px #848484,
    25px 25px #848484,
    26px 26px #848484,
    27px 27px #848484,
    28px 28px #848484,
    29px 29px #848484,
    30px 30px #848484,
    31px 31px #848484,
    32px 32px #848484,
    33px 33px #848484,
    34px 34px #848484,
    35px 35px #848484,
    36px 36px #848484,
    37px 37px #848484,
    38px 38px #848484,
    39px 39px #848484,
    40px 40px #848484,
    41px 41px #848484,
    42px 42px #848484,
    43px 43px #848484,
    44px 44px #848484,
    45px 45px #848484,
    46px 46px #848484,
    47px 47px #848484,
    48px 48px #848484,
    49px 49px #848484,
    50px 50px #848484,
    51px 51px #848484,
    52px 52px #848484,
    53px 53px #848484,
    54px 54px #848484,
    55px 55px #848484,
    56px 56px #848484,
    57px 57px #848484,
    58px 58px #848484,
    59px 59px #848484,
    60px 60px #848484,
    61px 61px #848484,
    62px 62px #848484,
    63px 63px #848484,
    64px 64px #848484,
    65px 65px #848484,
    66px 66px #848484,
    67px 67px #848484,
    68px 68px #848484,
    69px 69px #848484,
    70px 70px #848484,
    71px 71px #848484,
    72px 72px #848484,
    73px 73px #848484,
    74px 74px #848484,
    75px 75px #848484,
    76px 76px #848484,
    77px 77px #848484,
    78px 78px #848484,
    79px 79px #848484,
    80px 80px #848484,
    81px 81px #848484,
    82px 82px #848484,
    83px 83px #848484,
    84px 84px #848484,
    85px 85px #848484
}

/*Custom checkbox*/
#API .section4 .check-box {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin: 2px 13px 0px 20px !important;
    position: relative !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    background: none repeat scroll 0% 0% #CCC !important;
}
#API .section4 .check-box i {
    background: url("../img/check2.png") no-repeat center center !important;
    color: #fff !important;
    position: absolute !important;
    left: 3px !important;
    bottom: -15px !important;
    width: 12px !important;
    height: 13px !important;
    -webkit-transition: all 400ms ease-in-out !important;
    -moz-transition: all 400ms ease-in-out !important;
    -o-transition: all 400ms ease-in-out !important;
    transition: all 400ms ease-in-out !important;
    -webkit-transform:rotateZ(-180deg) !important;
    -moz-transform:rotateZ(-180deg) !important;
    -o-transform:rotateZ(-180deg) !important;
    transform:rotateZ(-180deg) !important;
}
#API .section4  .checkedBox {
    background-color: #00D768 !important;
}
#API .section4 .checkedBox i {
    bottom: 5px !important;
    left: 3px !important;
    -webkit-transform:rotateZ(0deg) !important;
    -moz-transform:rotateZ(0deg) !important;
    -o-transform:rotateZ(0deg) !important;
    transform:rotateZ(0deg) !important;
}
#API .section4 .check-box input[type="checkbox"] {
    visibility: hidden;
}

@media (min-width:768px) and (max-width:1200px) {
#API .section4 .first-table {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
    #API .section4 .second-table {
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    #API .section4 .head h2{
        font-size: 24px
    }
    #API .section4 .head h4{
    font-size: 12px
    }

}
@media (max-width:767px) {
#API .section4 .first-table {
    padding-left: 1% !important;
    padding-right: 1% !important;
}
    #API .section4 .second-table {
    padding-left: 1% !important;
    padding-right: 1% !important;
    }

}
@media (min-width:320px) and (max-width:550px){
   #API .section4 .head h2{
        font-size: 14px
    }
    #API .section4 .head h4{
    font-size: 9px
    }
}

@media (min-width:551px) and (max-width:767px){
   #API .section4 .head h2{
        font-size: 20px
    }
    #API .section4 .head h4{
    font-size: 14px
    }
}
/*End Section 4*/

/*Start Section 5*/
#API .section5 {
    height:70%;
    max-height:650px
}
#API .section5.bg-gredient {
    width:100%;
    background:url(../img/BG.jpg) center center no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height:70%;
    max-height:650px;
    position:relative;
    padding-top:2%;
    padding-bottom:4%
}
#API .section5.bg-gredient:before {
    content:'';
    height:100%;
    max-height:650px;
    background-image: linear-gradient(to bottom right,
    #ff1c00,
    #ff1c00);
    opacity:.6;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
#API .section5 .opacity- {
    height:100%;
    position:relative
}
#API .section5 .opacity- > div {
    color:#fff;
    height:100%;
    text-align:center;
    vertical-align:middle;
    width:100%;
    color:#fff
}
#API .section5 h2 {
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 2.8%;
    margin-top: 2%;
}
#API .section5 h3 {
    font-size: 14px;
    color:#fff;
    margin-bottom:9%;
    margin-left: 21%;
}
#API .section5 span {
    color:#fff;
    font-size:68px
}
#API .section5 span:hover .section5 h3 {
    color:#000;
}
#API .section5 .icon-24 {
    font-size:44px;
    position:relative;
    top:16%
}
#API .section5 .icon-23 {
    font-size: 52px;
    position: relative;
    top: 11%;
}
#API .circle-api {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden!important;
    position: relative;
    left: 39%;
    padding: 4%;
   text-shadow:0 0 #bd6473,1px 1px #bd6473,2px 2px #bd6473,3px 3px #bd6473,4px 4px #bd6473,5px 5px #bd6473,
            6px 6px #bd6473,7px 7px #bd6473,8px 8px #bd6473,9px 9px #bd6473,10px 10px #bd6473,11px 11px #bd6473,12px 12px #bd6473,13px 13px #bd6473,14px 14px #bd6473,15px 15px #bd6473,16px 16px #bd6473,17px 17px #bd6473,18px 18px #bd6473,19px 19px #bd6473,20px 20px #bd6473,21px 21px #bd6473,22px 22px #bd6473,23px 23px #bd6473,24px 24px #bd6473,25px 25px #bd6473,26px 26px #bd6473,27px 27px #bd6473,28px 28px #bd6473,29px 29px #bd6473,30px 30px #bd6473,31px 31px #bd6473,32px 32px #bd6473,33px 33px #bd6473,34px 34px #bd6473,35px 35px #bd6473,36px 36px #bd6473,37px 37px #bd6473,38px 38px #bd6473,39px 39px #bd6473,40px 40px #bd6473,41px 41px #bd6473,42px 42px #bd6473,43px 43px #bd6473,44px 44px #bd6473,45px 45px #bd6473,46px 46px #bd6473,47px 47px #bd6473,48px 48px #bd6473,49px 49px #bd6473,50px 50px #bd6473,51px 51px #bd6473,52px 52px #bd6473,53px 53px #bd6473,54px 54px #bd6473,55px 55px #bd6473,56px 56px #bd6473,57px 57px #bd6473,58px 58px #bd6473,59px 59px #bd6473,60px 60px #bd6473,61px 61px #bd6473,62px 62px #bd6473,63px 63px #bd6473,64px 64px #bd6473,65px 65px #bd6473,66px 66px #bd6473,67px 67px #bd6473,68px 68px #bd6473,69px 69px #bd6473,70px 70px #bd6473,71px 71px #bd6473,72px 72px #bd6473,73px 73px #bd6473,74px 74px #bd6473,75px 75px #bd6473,76px 76px #bd6473,77px 77px #bd6473,78px 78px #bd6473,79px 79px #bd6473,80px 80px #bd6473,81px 81px #bd6473,82px 82px #bd6473,83px 83px #bd6473,84px 84px #bd6473,85px 85px #bd6473
}
#API .container-api {
    padding-left: 20%;
    padding-right: 24%;
}
#API .section5 .second-api {
    margin-top: 1%;
    padding-bottom: 1%;
}

/*============================
API Section5 Media Query
===============================*/
@media (min-width:320px) and (max-width:399px) {
    #API .section5 h2 {
        font-size: 14px !important
    }
}
@media (min-width:400px) and (max-width:500px) {
    #API .section5 h2 {
        font-size: 19px !important
    }
}

/*End Section 5*/













