.affiliates.section1 {
	background:  url("../img/BG.jpg") no-repeat fixed center center /cover rgba(0, 0, 0, 0);
	height: 80%;
	width: 100%;
	background-attachment: fixed;
	max-height: 870px;
  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);
}
.affiliates.section1:before {
	background-image: linear-gradient(to right bottom, #42C89F, #00D13B);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.6;
	position: absolute;
	right: 0;
	top: 0;
	height: 80%;
	max-height: 870px;
}
.affiliates.section1 .container {
	background: url("../img/aff.png") no-repeat 50% 50%;
	margin: auto;
	background-size: auto 87%;
	position: relative;
	height: 100%;
}
.affiliates.section1 .row {
	color: #5C5C5C;
	left: 39%;
	position: absolute;
	text-align: center;
	top: 43%;
	width: 26%;
}
.affiliates.section1 .row h2 {
	color: #5c5c5c;
	font-size: 30px;
	font-family:bold_;
}
.affiliates.section1 .row span {
  font-size: 11px;
  font-family: light;
}
/**********************section 2 *****************/
#affiliates .cont:hover{
	box-shadow:1px 1px 3px 2px #CCCCCC;
}
#affiliates .section2 {
	background: none repeat scroll 0 0 #F8F8F8;
	height: auto;
	margin-bottom: 0;
	padding-bottom: 50px;
	padding-top: 25px;
	position: relative;
}
#affiliates .section2 .boxscont3 h4 {

	text-transform: uppercase;
}
#affiliates .section2  h4 {
	text-align: center;
	color: #8a8a8a;
	font-family: light;
}

#affiliates .section2 > .container > .row > h4 {
  text-align: center;
  color: #8a8a8a;
  font-family: light;
  font-size: 20px;
}

.separateline {
	border-top: 2px solid #747474;
	display: block;
	margin: auto;
	width: 160px;
	position: relative;
	height: 50px;
}
.separateline .angle {
	border-color: #747474 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 12px 12px 0;
	height: 0;
	left: 42%;
	position: absolute;
	top: -2px;
	width: 0;
}
.separateline .angle2 {
	border-color: #F8F8F8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 11px 11px 0;
	height: 0;
	left: 43%;
	position: absolute;
	top: -2.5px;
	width: 0;
}
#affiliates .section2 div.cont {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	height: 235px;
	padding: 16px;
	position: relative;
}
#affiliates .section2 div.cont p {
	font-size: 15px;
	font-family: light;
	margin-bottom: 0px;
}
#affiliates .section2 div.cont div {
	margin-bottom: 12px;
}
.starlist {
	position: absolute;
	bottom: 0px;
	left: 16px;
	width: 100%;
}
#affiliates .section2 .affbox h4 {
	text-align: left;
}
#affiliates .section2 svg {
	height: 15px;
	width: 16px;
}
#affiliates .section2 .affbox1 div.cont {
	background: none repeat scroll 0 0 #5567DE;
}
#affiliates .section2 .affbox1 h4 {
	color: #5567DE;
}
#affiliates .section2 .affbox2 div.cont {
	background: none repeat scroll 0 0 #5ca2e0;
}
#affiliates .section2 .affbox2 h4 {
	color: #5ca2e0;
}
#affiliates .section2 .affbox3 div.cont {
	background: none repeat scroll 0 0 #7676c6;
}
#affiliates .section2 .affbox3 h4 {
	color: #7676c6;
}
#affiliates .section2 .affbox4 div.cont {
	background: none repeat scroll 0 0 #885fc1;
}
#affiliates .section2 .affbox4 h4 {
	color: #885fc1;
}
#affiliates .section2 .boxscont2 {
	margin-top: 30px;
}
#affiliates .section2 .btn-default {
	box-shadow: none;
}
.btn-default {
	background-color: #33CCFF;
	border-color: #33CCFF;
	box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	transition: all 0.5s ease-in-out 0s;
	width: 100%;
}
.btn-default:hover {
	background-color: #1CB9EB;
	border-color: #1CB9EB;
	color:#fff;
}
#affiliates .section2 .boxscont3 {
	text-align: center;
	padding-top: 30px;
}
#affiliates .section2 .boxscont3 .btn-default {
	width: 220px;
}

/****************** Section3 start *****************/

#affiliates .section3 h3 {
	text-align: center;
	color: #606060;
	font-family: light;
}
#affiliates .section3 ul {
	list-style: none;
	margin-top: 95px;
	font-family: light;
}

#affiliates .section3 ul li {
  margin-bottom: 7px;
}

#affiliates .section3 .content {
	background: url("../img/screen.png") no-repeat scroll center top rgba(0, 0, 0, 0);
	overflow: hidden;
	position: relative;
	width: 100%;
	background-size: 100% auto;
	padding-bottom:27%;
}
#affiliates .content .video {
	margin-left: 3%;
	margin-top: 12px;
	overflow: hidden;
	position: relative;
	width: 93%;
}
.right_checked {
	background: none repeat scroll 0 0 #00CD5C;
	border-radius: 50%;
	color: #FFFFFF;
	display: inline-block;
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	margin-right: 20px;
	text-align: center;
	width: 18px;
}
.col-md-5.right_content {
	color: #7A7A7A;
}
/****************** footer start *****************/
footer {
	clear: both;
}
/******************page loader *******************/
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/skopeintro.jpg) no-repeat 50% 50% #f8f8f8;
}
/********************Videos CSS *******************/
.videospage.section1 {
	width: 100%;
	height: 100%;
	background:  url("../img/BG.jpg") center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 80%;
	max-height: 870px;
	box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.5) inset;
}
.videospage.section1:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #008c00, #ccab3a);
	opacity: .6;
	height: 80%;
	max-height: 870px;
}
.section1.videospage .container {
	display: table;
	height: 100%;
	position: relative;
}
.section1.videospage .container .row{
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color:#fff;
}
.section1.videospage .container .row h2{
	font-size: 50px;
	font-family: bold_;
}
.section1.videospage .container .row span{
	font-size: 16px;
	font-family: light;
}
.viddiv iframe{
/*	height: 275px;
    width: 100%;*/
  height: 220px;
  width: 97%;
}

.videobox  p{
  width:97%;
  font-family: light;
  color: grey;
    font-weight: 100 !important;
    margin-bottom: 0 !important
}
.videobox  h4{
	width:97%;
	font-family: light;
    font-size: 20px 
}

#videospage{
background-color: #F5F5F5;
    padding-top: 1px;
}
#videospage .section2{
	margin-top: 35px;
}
#videospage .videobox{
	margin-bottom:35px;
	padding-right: 25px;
}
/******************* Responsive ******************/

@media (max-width: 768px){

.affiliates.section1 .container {
  background-size: auto 65%;
 }

 .affiliates.section1 .row {
  left: 40%;
  top: 44%;
}

}

@media (min-width: 550px) and (max-width: 768px) {
	.affiliates .col-xs-12 {
		width: 50%;
	}
}
@media (min-width: 320px) and (max-width: 530px) {
	.affiliates.section1 .container {
		background-size:100% auto;
	}
	.se-pre-con{
		background-size:100% auto;
	}
}
@media (min-width: 320px) and (max-width: 360px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}	
	.affiliates.section1 .row {
		left: 25%;
		top: 43%;
		width: 60%;
	}
	.affiliates.section1 .row h2 {
		font-size: 19px;
	}
	.affiliates.section1 .row span {
		font-size: 10px;
	}
}
@media (min-width: 360px) and (max-width: 379px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}
	
	.affiliates.section1 .row {
		left: 30%;
		top: 45%;
		width: 52%;
	}
	.affiliates.section1 .row h2 {
		font-size: 20px;
	}
	.affiliates.section1 .row span {
		font-size: 10px;
	}

}
@media (min-width: 360px) and (max-width: 479px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}	
}
@media (min-width: 480px) and (max-width: 640px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}
	
	.affiliates.section1 .row {
		left: 35%;
		top: 47%;
		width: 38%;
	}
	.affiliates.section1 .row h2 {
		font-size: 20px;
	}
	.affiliates.section1 .row span {
		font-size: 10px;
	}
}
@media (min-width: 550px) and (max-width: 640px) {
	#affiliates .section2 div.cont{
		 height: 260px;
	}
}
@media (min-width: 600px) and (max-width: 639px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}
	

	.affiliates.section1 .row {
		left: 24%;
		top: 50%;
		width: 60%;
	}
	.affiliates.section1 .row h2 {
		font-size: 32px;
	}
	.affiliates.section1 .row span {
		font-size: 11px;
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.starlist{
		width: 85%;
	}
	#affiliates .section2 div.cont{
		height: 300px;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	#affiliates .section3 ul{
		margin-top:0px;
	}
	
	.affiliates.section1 .row {
		left: 22%;
		top: 52%;
		width: 60%;
	}
	.affiliates.section1 .row h2 {
		font-size: 30px;
	}
	.affiliates.section1 .row span {
		font-size: 11px;
	}
}
@media (min-width: 1024px) and (max-width: 1279px) {
	
	.affiliates.section1 .row {

		left: 22%;
		top: 50%;
		width: 60%;
	}
	.affiliates.section1 .row h2 {
		font-size: 30px;
	}
	.affiliates.section1 .row span {
		font-size: 11px;
	}
}
@media (min-width: 1280px) and (max-width: 1920px) {
	.affiliates.section1 .row {

		left: 22%;
		top: 50%;
		width: 60%;
	}
}



@media (max-width: 600px){

.affiliates.section1 .container {
  background-size: auto 50%;
 }
 
}

@media (max-width: 480px){
.affiliates.section1 .row h2 {
  font-size: 20px;
  }

  .affiliates.section1 .row {
  left: 42%;
}
  
}

@media (max-width: 400px){
	.affiliates.section1 .container {
  background-size: auto 37%;
}
}

@media (max-width: 380px){

.affiliates.section1 .row {
  left: 30%;
}

}

@media (max-width: 360px){

.affiliates.section1 .row {
  left: 25.5%;
  top:45%;
}

}