@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-d031xj');
	src:url('fonts/icomoon.eot?#iefix-d031xj') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-d031xj') format('truetype'),
		url('fonts/icomoon.woff?-d031xj') format('woff'),
		url('fonts/icomoon.svg?-d031xj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-education:before {
	content: "\e600";
}
.icon-government:before {
	content: "\e601";
}
.icon-HR:before {
	content: "\e602";
}
.icon-icon-birthday:before {
	content: "\e603";
}
.icon-icon-chat:before {
	content: "\e604";
}
.icon-icon-circle-message:before {
	content: "\e605";
}
.icon-iconcircle-school:before {
	content: "\e606";
}
.icon-iconcircle-tel:before {
	content: "\e607";
}
.icon-icon-clock:before {
	content: "\e608";
}
.icon-icon-danger:before {
	content: "\e609";
}
.icon-icon-facebook:before {
	content: "\e60a";
}
.icon-icon-family:before {
	content: "\e60b";
}
.icon-iconfire:before {
	content: "\e60c";
}
.icon-iconglases:before {
	content: "\e60d";
}
.icon-iconjob:before {
	content: "\e60e";
}
.icon-icon-job:before {
	content: "\e60f";
}
.icon-icon-list:before {
	content: "\e610";
}
.icon-icon-map:before {
	content: "\e611";
}
.icon-iconmarker:before {
	content: "\e612";
}
.icon-icon-marker-map:before {
	content: "\e613";
}
.icon-icon-menu:before {
	content: "\e614";
}
.icon-icon-message:before {
	content: "\e615";
}
.icon-iconone:before {
	content: "\e616";
}
.icon-iconperson:before {
	content: "\e617";
}
.icon-iconphoto:before {
	content: "\e618";
}
.icon-icon-plus:before {
	content: "\e619";
}
.icon-iconprint:before {
	content: "\e61a";
}
.icon-iconprofile:before {
	content: "\e61b";
}
.icon-icon-school:before {
	content: "\e61c";
}
.icon-iconstar:before {
	content: "\e61d";
}
.icon-icontel:before {
	content: "\e61e";
}
.icon-iconzoom:before {
	content: "\e61f";
}
.icon-insurance:before {
	content: "\e620";
}