

.wedgit_search {
	/*background: url("../img/search_top_bg.png") no-repeat top;*/
	/*width:503px;*/
	width:620px;
	margin: auto;
/*	margin-left: 28%;*/
	/*padding-top: 73px;
	margin-top: 40px;*/
}
.wedgit_search > form {
	float: left;
	width: 100%;
}
.wedgit_search .top_content {
	/*background: url("../img/search_wedgit.png");*/
	padding: 15px;
	float: left;
	width: 100%;
}
.wedgit_search .top_content .search_fields {
	background: #ffffff;
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	padding-top: 1px;
	border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	-moz-border-radius: 12px 12px 0 0;
}
.placeholder_color::-webkit-input-placeholder {
   color: rgb(48, 48, 48)
   font-size: 11px;
   font-style: normal;
   font-weight: bold;
}

.placeholder_color:-moz-placeholder { /* Firefox 18- */
    color: rgb(48, 48, 48)  
   font-size: 11px;
   font-style: normal;
   font-weight: bold;
}

.placeholder_color::-moz-placeholder {  /* Firefox 19+ */
     color: rgb(48, 48, 48) 
   font-size: 11px;
   font-style: normal;
   font-weight: bold;
}

.placeholder_color:-ms-input-placeholder {  
    color: rgb(48, 48, 48)
   font-size: 11px; 
   font-style: normal;
   font-weight: bold;
}
.wedgit_search .top_content .search_fields input, .headerSearchFormContainer input[type="text"] {
	height: 30px;
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
  color: rgb(48, 48, 48);
}
.wedgit_search .top_content .search_fields > div, .wedgit_search .top_content .search_fields .small_filters > div {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	float: left;
	width: 100%;
	position: relative;
}
.wedgit_search .top_content .search_fields .small_filters > div {
	display: none;
}
.wedgit_search .top_content .search_fields .info_text {
	padding: 10px 15px;
	float: left;
	width: 100%;
	border: 1px solid transparent;
	border-bottom: 1px solid #E2E2E2;
	margin-top: -1px;
	position: relative;
}

.wedgit_search .search_fields_content:last-child > .info_text {
  border-bottom: none !important;
}

.wedgit_search .top_content .search_fields .info_text:first-child {/*margin-top: 0;*/
}
.wedgit_search .top_content span.addField, .wedgit_search .top_content span.removeField {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 1;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #FFFCFC;
  color: #bababa;
/*  font-style: re;*/
  line-height: 16px;
  border-radius: 15%;
  border: 1px solid #bababa;
  font-size: 13px;
}

.wedgit_search .top_content span.removeField {
	font-size: 11px;
}

.wedgit_search .top_content span.removeField {
	line-height: 16px !important;
}
.wedgit_search .top_content span.addField:hover, .wedgit_search .top_content span.removeField:hover {
  background-color: #bababa;
  color: white;
}
.wedgit_search ..info_text {
  color:  #aaaaaa;
}
.wedgit_search .top_content .search_fields .info_text{
	color:  #aaaaaa;
}
.wedgit_search .top_content .search_fields .info_text.active, .wedgit_search .top_content .search_fields .info_text:hover {
/*	border: 1px solid #00cd5c;
	background: rgba(0, 205, 92, 0.04);*/
	color:#aaaaaa;
}
.search_name > img,.search_location > img{
 width:22px;
 height:20px;
 margin-right: 5px;
}

.wedgit_search .top_content .search_fields .personal_info div {
	float: left;
	margin-right: 5px;
}
.wedgit_search .top_content .search_fields .personal_info .search_name input {
	width: 150px;
   font-size: 13px;
   font-family: light;
}
.wedgit_search .top_content .search_fields .personal_info .search_location input {
	width: 150px;
    font-size: 13px;
    font-family: light;
}
.wedgit_search .top_content .search_fields .personal_info .search_zip input {
	width: 50px;
}
.wedgit_search .top_content .search_fields .birth_date input, .wedgit_search .top_content .search_fields .occupation input, .wedgit_search .top_content .search_fields .school input, .wedgit_search .top_content .search_fields .info_text input {
	width: 420px;
	font-size: 13px;
   font-family: light;
   font-weight: bold;
}
.wedgit_search .top_content .search_fields .personal_info input:focus,.wedgit_search .top_content .search_fields .personal_info input:active{
	outline:none;
	border:none;
}
.wedgit_search .top_content .search_fields .info_text {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.wedgit_search .search_btn {
	width: 100%;
	/*background: #00cd5c;*/
	font-size: 30px;
	margin-top: 25px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	/*background: rgba(41,203,63,0.8);
	 border: 1px solid #29cb3f;*/
	display: block;
	margin: 10px auto 0;
	color: #FFFFFF;
}
.wedgit_search .search_btn, .report_search {
	background: #00cd5c;
	border-color: #00cd5c;
}
.wedgit_search .search_btn:disabled, .report_search:disabled {
	opacity: 1;
}
.wedgit_search .search_btn:hover, .report_search:hover {
	background-color: #00dd63 !important;
	box-shadow: none !important;
	border-color: #00dd63 !important;
}
.wedgit_search .search_btn.loading, .report_search.loading {
	background-image: url("../img/icons/search-loader.gif");
	background-repeat: no-repeat;
	background-position: 25px center;
	transition: none;
}
input.loading, .btn.loading {
	background-image: url("../img/icons/loader_small.gif") !important;
	background-repeat: no-repeat !important;
	background-position: 25px center !important;
	transition: none;
}
.cg-loading {
	background-image: url("../img/icons/input-loader.gif") !important;
	background-repeat: no-repeat !important;
	background-position: 99% center !important;
	transition: none;
}
.search_filters {
	margin: -73px 0 0;
	float: left;
	width: 100%;
	margin-bottom: 2px;
}
.wedgit_search .filter {
/*	width: 97px;
	height: 97px;*/
	width: 90px;
    height: 90px;
	float: left;
	margin-right: 35px;
	background-color:#444444;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	/*background-size: 580%;*/
	   background-size: 25px 25px;
  background-origin: content-box;
  background-position: center center;
	/*transition: background-image 0s ease-in-out;*/
	-webkit-box-shadow: 0px 0px 0px 5px #fff;
	-moz-box-shadow: 0px 0px 0px 5px #fff;
	box-shadow: 0px 0px 0px 5px #fff;
}
.wedgit_search .filter:last-child {
	margin-right: 0;
}
/*
 .wedgit_search .filter_1 {background-position: 29px 8px;}
 .wedgit_search .filter_2 {background-position: -94px 11px;}
 .wedgit_search .filter_3 {background-position: -215px 11px;}
 .wedgit_search .filter_4 {background-position: -342px 15px;}
 .wedgit_search .filter_5 {background-position: -465px 11px;}
 */
.wedgit_search .filter_1 {
/*	background-position: 29px 10px;*/
/*background-image: url("../../img/first_section/user.png");*/
  /*background-position: 23px 4px ;*/
}
.wedgit_search .filter_2 {
/*	background-position: -90px 13px;*/
/*background-image: url("../../img/first_section/phone.png");*/
/*  background-position: -97px 9px ;*/
}
.wedgit_search .filter_3 {
/*	background-position: -209px 13px;*/
/*background-image: url("../../img/first_section/message.png");*/
/*    background-size: 25px 18px !important;*/
/*  background-position: -214px 8px ;*/
}
.wedgit_search .filter_4 {
/*	background-position: -333px 17px;*/
/*background-size: 25px 35px !important;*/
/*background-image: url("../../img/first_section/home.png");*/
/*background-position: -340px 9px;*/
}
.wedgit_search .filter_5 {
/*	background-position: -450px 15px;*/
/*background-image: url("../../img/first_section/account.png");*/
 /* background-position: -457px 10px ;*/
/*  background-size: 42px 20px !important;*/
}
.wedgit_search .filter.active {
	background-color: #000;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
	box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
}
/*
 .wedgit_search .filter_1.active {background-position: 29px -109px;}
 .wedgit_search .filter_2.active {background-position: -94px -107px;}
 .wedgit_search .filter_3.active {background-position: -215px -106px;}
 .wedgit_search .filter_4.active {background-position: -342px -102px;}
 .wedgit_search .filter_5.active {background-position: -465px -106px;}
 */
@media (min-width: 768px) {
	.wedgit_search .filter:hover {
		background-color: #000;
		-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
		-moz-box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
		box-shadow: 0px 0px 0px 5px rgba(0, 205, 92, 1);
	}
	/*
	 .wedgit_search .filter_1:hover {background-position: 29px -109px;}
	 .wedgit_search .filter_2:hover {background-position: -94px -107px;}
	 .wedgit_search .filter_3:hover {background-position: -215px -106px;}
	 .wedgit_search .filter_4:hover {background-position: -342px -102px;}
	 .wedgit_search .filter_5:hover {background-position: -465px -106px;}*/
}
@media (max-width: 767px) {
	.wedgit_search .filter_1 {
		/*background-position: -7% -7%;*/
	}
	.wedgit_search .filter_2 {
		/*background-position: 20% -11%;*/
	}
	.wedgit_search .filter_3 {
		/*background-position: 46% -11%;*/
	}
	.wedgit_search .filter_4 {
		/*background-position: 73% -14%;*/
	}
	.wedgit_search .filter_5 {
		/*background-position: 99% -11%;*/
	}
	/*
	 .wedgit_search .filter_1 {background-position: -7% -7%;}
	 .wedgit_search .filter_2 {background-position: 20% -9%;}
	 .wedgit_search .filter_3 {background-position: 46% -8%;}
	 .wedgit_search .filter_4 {background-position: 73% -9%;}
	 .wedgit_search .filter_5 {background-position: 99% -8%;}

	 .wedgit_search .filter_1.active {background-position: -7% 98%;}
	 .wedgit_search .filter_2.active {background-position: 20% 95%;}
	 .wedgit_search .filter_3.active {background-position: 46% 94%;}
	 .wedgit_search .filter_4.active {background-position: 73% 94%;}
	 .wedgit_search .filter_5.active {background-position: 99% 94%;}*/
}

.wedgit_search .bottom_content {
	/*min-height: 105px;*/
	width: 100%;
	float: left;
/*	background: url("../images/search_bottom.png") no-repeat;*/
	padding-bottom: 1.6%;
	/*background-color: rgba(255, 255, 255, 0.35);*/
	background-size: 100%;
}
.wedgit_search .bottom_content .search_option {
    float: left;
    height: 60px;
    margin: 0;
    padding: 5px 1%;
    position: relative;
    text-align: center;
    width: 20%;
    z-index:0;
    cursor: pointer;
    outline: 0;
    border:none;
}
.search_option.occupation_option:hover,.search_option.occupation_option:active{
  background: #454545 none repeat scroll 0 0
}
 .search_option.search_btns:hover, .search_option.search_btns:active{
  background: #454545 none repeat scroll 0 0
}
.search_option.age_option:hover,.search_option.age_option:active{
  background: #454545 none repeat scroll 0 0
}
 .search_option.school_option:hover,.search_option.school_option:active{
  background: #454545 none repeat scroll 0 0
}
.wedgit_search .search_option.btn_search_href:hover{
	  background: #01BB55 none repeat scroll 0 0;
}
.wedgit_search .search_option.age_option,
.wedgit_search .search_option.occupation_option,
.wedgit_search .search_option.school_option {
	 width: 16%;
}
.wedgit_search .search_option.btn_search_href {
    background: #00cd5c none repeat scroll 0 0;
    border-color: #00cd5c;
    border-radius: 0 0 12px;
    -moz-border-radius: 0 0 12px;
    -webkit-border-radius: 0 0 12px;
     width: 32%;
}
a.btn_seacrhs {
    color: #fff;
    display: block;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 300;
/*    font-family: regular;*/
}
a.btn_seacrhs:hover,a.btn_seacrhs:active,a.btn_seacrhs:focus{
	text-decoration: none;
	color:white;
	border:none;
	outline: none;
}
.btn_seacrhs{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}
.search_option.search_btns {
	border-radius: 0 0 0 12px;
    -moz-border-radius: 0 0 0 12px;
    -webkit-border-radius: 0 0 0 12px;
}
.search_option.age_option,.search_option.school_option {
    background: #303030 none repeat scroll 0 0;
}
.search_option.occupation_option,.search_option.search_btns {
   background: #303030 none repeat scroll 0 0;
}
.wedgit_search .bottom_content .search_option{
	position: relative;
}
.wedgit_search .bottom_content .search_option label {
/*	  width: 35px;
	  height: 25px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 0px;
	/*background-position: center;*/
	/*background-image: url("../images/icons/icons2.png");
	background-size: 358%;
	cursor: pointer;
	line-height: 0 !important;*/
	 height: 100%;
	 display: block;
	 width: 100%;
	 margin: 0;
	 cursor: pointer;
	 position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.wedgit_search .bottom_content .search_option label >span.select_all
{
	width: 35px;  
	height: 25px;   
	border-radius: 50%; 
	-webkit-border-radius: 50%;   
	-moz-border-radius: 50%; 
	background-repeat: no-repeat;  
	display: inline-block;  
	margin-bottom: 0px;   /* background-position: center; */   
/*    background-image: url(../images/icons/icons2.png);  */
    background-size: 358%;
    cursor: pointer;  
    line-height: 0 !important;
    cursor: pointer;
}

.wedgit_search .bottom_content .search_option label >span.age
{
	width: 35px;
	height: 25px;
	border-radius: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 0px;
/*	background-image: url("../images/icons/icons2.png");*/
	background-size: 358% auto;
	cursor: pointer;
	line-height: 0 !important;
	background-position: 29% 25%;
	cursor: pointer;
}

.wedgit_search .bottom_content .search_option label >span.job
{
	width: 35px;
	height: 25px;
	border-radius: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 0px;
/*	background-image: url("../images/icons/icons2.png");*/
	background-size: 358% auto;
	cursor: pointer;
	line-height: 0 !important;
	background-position: 61% 25%;
	cursor: pointer;
}

.wedgit_search .bottom_content .search_option label >span.school_{
	width: 35px;
	height: 25px;
	border-radius: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 0px;
/*	background-image: url("../images/icons/icons2.png");*/
	background-size: 358% auto;
	cursor: pointer;
	line-height: 0;
	background-position: 93.5% 25%;
	cursor: pointer;
}

.wedgit_search .bottom_content .search_option label.active {
  background: #454545 none repeat scroll 0 0;
}
.wedgit_search .bottom_content .search_option span {
	display: block;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	font-weight: 300;
	margin-top: 1px;
}
.wedgit_search .bottom_content .search_option.search_all {
	width: 180px;
}
.wedgit_search .bottom_content .search_option.search_all label {
	background-color: #00cd5c;
	/*background-image: url("../images/icons/search.png");
	 background-position: 12px 12px;*/
	background-position: 0px 35%;
}
.wedgit_search .bottom_content .search_option.search_all label:hover {
	background-color: #00e35e;
}
.search_option.age_option label {
	/*background-color: #ffc834;*/
	/*background-image: url("../images/icons/age.png");*/
	background-position: 29% 25%;
}
.search_option.age_option label:hover {
	/*background-color: #ffd64b;*/
}
.search_option.occupation_option label {
	/*background-color: #ff8181;*/
	/*background-image: url("../images/icons/occupation.png");*/
	background-position: 61% 25%;
}
.search_option.occupation_option label:hover {
	/*background-color: #ff9b99;*/
}
.search_option.school_option label {
	/*background-color: #e2a2e6;*/
	/*background-image: url("../images/icons/school.png");*/
	background-position: 93.5% 25%;
}
.search_option.school_option label:hover {
	/*background-color: #f5c0f8;*/
}
.search_option label input {
	cursor: pointer;
	display: none;
}
.customOverlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(187, 187, 187, 0.6);
	width: 100%;
	height: 100%;
	display: none;
	transition: none;
}
.popupContainer {
	opacity: 0;
	visibility: hidden;
	background: rgba(60, 60, 60, 0.8);
	overflow-y: scroll;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999999;
	text-align: center;
}
.popContent img {
	display: none;
	border: 1px solid #CCCCCC;
}
.popContent > img {
	width: 100%;
}
.myPopup {
	/*-webkit-transform: scale(0.2) translate(200px,-200px);
	 -moz-transform: scale(0.2) translate(200px,-200px);
	 -o-transform: scale(0.2) translate(200px,-200px);
	 -ms-transform: scale(0.2) translate(200px,-200px);
	 transform: scale(0.2) translate(200px,-200px);
	 display: inline-block;
	 position: relative;
	 */
	position: absolute;
	width: 60%;
	margin: 100px 0;
	/*min-height: 100%;*/
	left: 20%;
	display: none;
	background: rgba(255,255,255,0.8);
}
.popupContainer .myPopup * {
	transition: none;
}
.popupContainer.active {
	opacity: 1;
	visibility: visible;
}
.popupContainer.active .myPopup.loaded {
	/*-webkit-transform: scale(1) translate(0px,0px);
	 -moz-transform: scale(1) translate(0px,0px);
	 -o-transform: scale(1) translate(0px,0px);
	 -ms-transform: scale(1) translate(0px,0px);
	 transform: scale(1) translate(0px,0px);
	 */
	display: block;
}
.search_result_popup {
	position: absolute;
	top: 52px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 111111;
	background: rgba(231, 231, 231, 0.6);
	/*-webkit-transform: scale(0.2) translate(200px,-200px);
	 -moz-transform: scale(0.2) translate(200px,-200px);
	 -o-transform: scale(0.2) translate(200px,-200px);
	 -ms-transform: scale(0.2) translate(200px,-200px);
	 transform: scale(0.2) translate(200px,-200px);*/
	opacity: 0;
	visibility: hidden;
}
.search_result_popup.active {
	/*-webkit-transform: scale(1) translate(0px,0px);
	 -moz-transform: scale(1) translate(0px,0px);
	 -o-transform: scale(1) translate(0px,0px);
	 -ms-transform: scale(1) translate(0px,0px);
	 transform: scale(1) translate(0px,0px);*/
	opacity: 1;
	visibility: visible;
}
.search_result_popup .container {
	background: #FFFFFF;
	margin: 40px auto;
	padding-bottom: 5px;
	max-width: 100%;
}
.pop_header {
	background: #2a84ff;
	text-align: center;
	position: relative;
}
.pop_header h1 {
	color: #FFFFFF !important;
	margin: 0 !important;
	font-size: 29px;
	padding: 15px;
}
.close_pop {
	position: absolute;
	top: 13px;
	right: 13px;
	background: #76ABF3;
	color: #fff;
	border: 1px solid #A7CBFD;
}
.myPopup .close_pop {
	top: -16px;
	right: -16px;
	background: #FFFFFF;
	color: #76ABF3;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	border-color: #CCCCCC;
}
.close_pop:focus, .close_pop:active {
	color: #FFFFFF !important;
}
.founded_persons {
	margin: 15px -15px;
	padding: 0 15px 0;
	/*max-height: 400px;
	 overflow-y: auto;
	 overflow-x: hidden;*/
}
.search_result_popup table {
	width: 100%;
	font-size: 15px;
	margin: 0;
	color: #666;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}


/** jquery ui **/
.ui-datepicker .ui-widget-header {
	background: #2B84FD !important;
	color: #FFFFFF !important;
}
.ui-datepicker .ui-datepicker-today a {
	background: #2B84FD !important;
	border: 1px solid #2B84FD !important;
	color: #FFFFFF !important;
}
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default {
	border: 1px solid #2a84ff !important;
	background: #FFF !important;
	color: #000 !important;
	font-weight: normal !important;
}
.ui-datepicker .ui-widget-content button.ui-state-default {
	background: #2B84FD !important;
	color: #FFFFFF !important;
	opacity: 1 !important;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px !important;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 2px !important;
}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active, .ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-content .ui-state-hover, .ui-datepicker .ui-widget-header .ui-state-hover, .ui-datepicker .ui-state-focus, .ui-datepicker .ui-widget-content .ui-state-focus, .ui-datepicker .ui-widget-header .ui-state-focus, .ui-datepicker .ui-widget-content button.ui-state-default:hover {
	background: #00CD5C !important;
	border: 1px solid #00CD5C !important;
	color: #FFFFFF !important;
}
.ui-icon {
	background: none !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 4px !important;
	border: 1px solid #FFFFFF !important;
	line-height: 22px;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	color: #FFFFFF;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\f104";
	line-height: 22px;
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\f105";
	line-height: 22px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: none !important;
}
.ui-datepicker-calendar th {
	font-weight: normal !important;
}
.ui-datepicker .ui-datepicker-title select {
	padding: 2px;
	color: #555 !important;
	background-color: #fff;
	background-image: none;
	border: 1px solid #2a84ff;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.account_pop .accountSectionContent .accountTable {
	width: 100%;
}
.nicescroll-rails {
	transition: none;
}
.payByCardInfo .tooltip.top {
	min-width: 200px;
}
.checkAll {
	font-size: 12px;
	float: right;
	line-height: 16px;
	margin: 0 10px 0 0;
	cursor: pointer;
}
.headerNameSearchOption {
	display: none;
}
.locs_spec {
	text-transform: capitalize;
}
.account_pop .termsPage > h1, .account_pop .faqPage > h1 {
	margin: 25px 0;
}

.wedgit_search .top_content .search_fields .search_fields_content.firstVisible .info_text.active:first-child, .wedgit_search .top_content .search_fields .search_fields_content.firstVisible .info_text:first-child:hover {
	/*-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;*/
}

.wedgit_search .top_content .search_fields .search_fields_content.lastVisible .info_text.active:last-child, .wedgit_search .top_content .search_fields .search_fields_content.lastVisible .info_text:last-child:hover {
	/*-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
}

#searches-grid table th:nth-child(2) {
	width: 10%;
}
#searches-grid table th:nth-child(3) {
	width: 30%;
}
#searches-grid table th:last-child {
	width: 15%;
}


.delete_result:hover {
	background-position: -62px;
}
.liveEditToolBarBottom > div > .delete_result.disabled {
	background-position: 8px;
	opacity: 0.3 !important;
	border: 1px solid #8F8F8F !important;
}
.liveEditToolBarBottom > div > .changeListBtn {
	width: 20px;
	border-radius: 0;
}
.ChangesList ul {
	padding: 0;
	margin: 0;
	list-style: none;
	min-width: 200px;
}
.ChangesList ul li {
	margin: 0 0 5px;
	padding: 0 0 5px;
	border-bottom: 1px solid #CCCCCC;
	padding-right: 20px;
	position: relative;
}
.ChangesList ul li:last-child {
	border-bottom: 0;
}
.ChangesList ul li i {
	cursor: pointer;
	position: absolute;
	padding: 2px;
	border: 1px solid #CCCCCC;
	right: 0;
	top: 0;
	border-radius: 3px;
}
.ChangesList ul li i:hover {
	background: #EAEAEA;
}
#account-theme-form .sp-replacer {
	visibility: hidden;
	position: absolute;
	top: 6px;
	left: 10px;
}
.pac-container {
	z-index: 9999999;
}
.printInvoice {
	zoom: 75%;
	margin-bottom: 200px;
}
.sp-input {
	background-color: #ffffff !important;
	border: 1px solid #cccccc !important;
	padding: 6px 5px !important;
}

.search_fields_content .dob_more:first-child input.datepicker,
.search_fields_content .dob_more input.date_p
{
	display: none;
}
.search_fields_content .dob_more:first-child input.date_p{
	display: inline-block;
}