

@media (max-width: 1100px){
	.wedgit_search {
		/*margin-left: 25%;*/
	}
}

@media (max-width: 992px){
	.wedgit_search {
		/*margin-left: 17%;*/
	}
}

/*@media (min-width:690px) and (max-width: 768px){
  .search_filters {
  margin: -12% 0 0;
  width: 110% !important;
  }
}*/
@media (min-width: 690px) and (max-width: 768px) {
.wedgit_search .filter {
  margin-right: 37px !important;
}
.wedgit_search .filter:last-child {
  margin-right: 0px !important;
}
}

@media (min-width: 655px) and (max-width: 689px){
	.wedgit_search .filter {
  margin-right: 27px !important;
}
.wedgit_search .filter:last-child {
  margin-right: 0px !important;
}
}

@media (max-width: 654px) and (min-width: 651px){
.wedgit_search .filter {
  margin-right: 10px !important;
}
}

@media (max-width: 768px) {
/*.wedgit_search .bottom_content {
	width: 90%;
}
.wedgit_search .top_content .search_fields {
	width: 90%;
}*/
	.wedgit_search {
		background-size: 100%;
		max-width: 100%;
	    /*margin-left: 14%;*/
	}
	.wedgit_search .filter {
		width: auto;
		height: auto;
		/*margin-right: 5%;*/
		padding: 5%;
		/*background-size: 580%;*/
	}
	.search_filters {
		margin: -12% 0 0;
		width:100%;
	}
	/*.wedgit_search .filter_1 {background-position: 90% 100%;}
	.wedgit_search .filter_2 {background-position: 94% 104%;}
	.wedgit_search .filter_3 {background-position: 98% 98%;}
	.wedgit_search .filter_4 {background-position: 108% 115%;}
	.wedgit_search .filter_5 {background-position: 94% 90%;}
	.wedgit_search .bottom_content{background-size: 100%;}*/
	.wedgit_search .bottom_content .search_option.search_all {width: 30%;}
	.wedgit_search .bottom_content .search_option {padding: 2.2% 2.8% 0;}

}



@media (max-width: 654px) {
/*	.wedgit_search {padding-top: 12%;}*/
	.wedgit_search .top_content .search_fields .personal_info div:last-child {float: left;}
	.wedgit_search .top_content .search_fields .birth_date input,
	.wedgit_search .top_content .search_fields .occupation input,
	.wedgit_search .top_content .search_fields .school input,
	.wedgit_search .top_content .search_fields .info_text input {
		max-width: 100%;
	}
.wedgit_search .filter{
	  box-shadow: 0px 0px 0px 2px #fff;
}

.wedgit_search .filter:hover {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 205, 92, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 205, 92, 1);
  box-shadow: 0px 0px 0px 2px rgba(0, 205, 92, 1);
}

}
@media (max-width: 630px) {
	.wedgit_search{margin-left: auto;}
	.wedgit_search .top_content .search_fields .personal_info div {width: 100%;}
	.wedgit_search .top_content .search_fields .personal_info div.search_name {
		border-bottom: 1px solid #E2E2E2;
		margin-bottom: 5px;
	}
}
@media (max-width: 610px) {
/*	header .row .headerSearchFormContainer {display: none;}*/
}
@media (max-width: 600px) {

	.wedgit_search .bottom_content .search_option label {
		/*padding: 30%;*/
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		/*margin-bottom: 8%;*/
	}
	.wedgit_search .bottom_content .search_option.search_all label {
		width: 40px;
		height: 40px;
		/*margin-bottom: 3%;*/
	}
	.wedgit_search .bottom_content .search_option {width: 14%; padding: 2% 0 0;}

    .wedgit_search .bottom_content .search_option label >span.select_all,.wedgit_search .bottom_content .search_option label >span.age,.wedgit_search .bottom_content .search_option label >span.school_,.wedgit_search .bottom_content .search_option label >span.job{
    	margin-bottom: 5px;
    }
/* 
    section.home div.wedgit_search .top_content .bottom_content span.icon {
	  line-height: 1.5;
   }
*/}




@media (max-width: 480px) {

	/*.wedgit_search .bottom_content .search_option label {background-size: 85%;}*/
	/*wedgit_search .bottom_content .search_option.age_option label {background-size: 70%;}*/
	.wedgit_search .filter.active {
		-webkit-box-shadow: 0px 0px 0px 2px rgba(0, 205, 92, 1);
		-moz-box-shadow: 0px 0px 0px 2px rgba(0, 205, 92, 1);
		box-shadow: 0px 0px 0px 2px rgba(0, 205, 92, 1);
	}
	.wedgit_search .bottom_content .search_option span {
		font-size: 9px;
		font-weight: bold;
	}

	.wedgit_search {
		/*padding-top: 0;
		background: none;*/
	}
	.wedgit_search > form > div {
		display: inline-block;
		width: 100%;
		/*border-radius: 10px;
		background: url("../images/search_wedgit.png");*/
	}
	.wedgit_search .top_content {
		padding: 8px;
		/*background: none;*/
	}
	.wedgit_search .top_content .search_fields {margin-top: 8px;}
	.search_filters {/*margin-top: 0;*/}
	.wedgit_search .bottom_content {
		/*background: none;*/
		border-radius: 0 0 10px 10px;
	}

	.wedgit_search .bottom_content .search_option {/*width: 20%;*/ width: 19%;}
	.wedgit_search .bottom_content .search_option label,
	.wedgit_search .bottom_content .search_option.search_all label {width: 32px; height: 32px; padding: 0 !important;}
	

}
@media (max-width: 440px) {

	.wedgit_search .bottom_content .search_option {padding-top: 1.5%;}
}
@media (max-width: 400px) {

	.wedgit_search .top_content .search_fields .personal_info .search_location input,
	.wedgit_search .top_content .search_fields .birth_date input,
	.wedgit_search .top_content .search_fields .occupation input,
	.wedgit_search .top_content .search_fields .school input,
	.wedgit_search .top_content .search_fields .info_text input {width: 69%;}
	.wedgit_search .bottom_content .search_option label,
	.wedgit_search .bottom_content .search_option.search_all label {width: 30px; height: 30px; padding: 0 !important;}

}


@media (max-width: 340px) {
	.wedgit_search .bottom_content .search_option {padding: 1.8% 0 0;}
	
	.wedgit_search .bottom_content .search_option label,
	.wedgit_search .bottom_content .search_option.search_all label {width: 25px; height: 25px; padding: 0 !important;}
}

@media (max-width: 767px) {
	.wedgit_search .bottom_content .search_option label.active {
		/*-webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
		-moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
		box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
		*/
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

.wedgit_search .top_content{
  width:100%;
}

.wedgit_search .filter{
  margin:0px;
  margin-right:22px ;
}

	.wedgit_search .bottom_content .search_option.search_all label.active {background-color: #00e35e;}
}
@media (min-width: 481px) and (max-width: 654px) {
	.wedgit_search {width: 430px;}
/*	.wedgit_search {padding-top: 52px;}*/
	.search_filters {margin: -50px 0 0;}
	.wedgit_search .bottom_content .search_option label,
	.wedgit_search .bottom_content .search_option.search_all label {
		width: 40px;
		height: 40px;
		padding: 0 !important;
		/*margin-bottom: 4px;*/
	}
	.wedgit_search .bottom_content .search_option {
		padding: 7px 0 0;
		width: 16%;
	}
	.wedgit_search .bottom_content .search_option:last-child{
		width: 36%;
	}
	.wedgit_search .bottom_content .search_option span{
		font-size:8px;
	}
	.wedgit_search .top_content .search_fields .birth_date input,
	.wedgit_search .top_content .search_fields .occupation input,
	.wedgit_search .top_content .search_fields .school input,
	.wedgit_search .top_content .search_fields .info_text input {width: 290px;}
	.wedgit_search .filter.active {
		-webkit-box-shadow: 0px 0px 0px 3px rgba(0, 205, 92, 1);
		-moz-box-shadow: 0px 0px 0px 3px rgba(0, 205, 92, 1);
		box-shadow: 0px 0px 0px 3px rgba(0, 205, 92, 1);
	}
}

@media (min-width: 401px) and (max-width: 480px) {
	.wedgit_search {width: 350px;}
/*	.wedgit_search {padding-top: 42px;}*/
	.wedgit_search .bottom_content .search_option label,
	.wedgit_search .bottom_content .search_option.search_all label {
		width: 32px;
		height: 32px;
		padding: 0 !important;
	}
	.search_filters {margin: -40px 0 0;}
	.wedgit_search .top_content .search_fields .birth_date input,
	.wedgit_search .top_content .search_fields .occupation input,
	.wedgit_search .top_content .search_fields .school input,
	.wedgit_search .top_content .search_fields .info_text input {width: 200px}
	.wedgit_search .bottom_content .search_option {padding-top: 5px;}
}

@media (max-width: 400px) {
	.wedgit_search {width: 265px; max-width: auto;}
/*	.wedgit_search {padding-top: 32px;}*/
	.wedgit_search .bottom_content .search_option label,
	.wedgit_search .bottom_content .search_option.search_all label {
		width: 35px;
		height: 25px;
		padding: 0 !important;
		/*margin-bottom: 0;*/
	}
	.wedgit_search .bottom_content .search_option {padding-top: 4px;}
	.wedgit_search .search_btn {
		margin-top: 10px;
		font-size: 22px;
		border-radius: 8px;
	}
	.wedgit_search h4 {font-size: 15px;}
	.search_filters {margin: -30px 0 0;}
	.wedgit_search .top_content .search_fields .birth_date input,
	.wedgit_search .top_content .search_fields .occupation input,
	.wedgit_search .top_content .search_fields .school input,
	.wedgit_search .top_content .search_fields .info_text input,
	.wedgit_search .top_content .search_fields .personal_info .search_name input {width: 130px;}
}

@media (max-width:530px){

/*
FIRST SECTION
=============================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:18px ;
}
/*
FIRST SECTION
===========================================*/
}
@media (max-width: 480px){
.wedgit_search .filter {
  margin: 0px;
  margin-right: 14px;
}
.wedgit_search .bottom_content .search_option:last-child{
 width:24%;
}
.wedgit_search .filter{
   background-size: 20px 20px;
}
.wedgit_search .filter_3{
   background-size: 20px 15px !important;
}
.wedgit_search .filter_4{background-size: 20px 28px !important;}
.wedgit_search .filter_5{  background-size: 30px 15px !important;}

a.btn_seacrhs {
  font-size: 15px;
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  bottom: 0;
}


.wedgit_search .bottom_content .search_option label >span.school_{
		  background-position: 95.5% 25%;
}
.wedgit_search .bottom_content .search_option label >span.job{
	background-position: 62% 25%;
}
.wedgit_search .bottom_content .search_option label >span.age{
	  background-position: 31% 25%;
}
.wedgit_search .top_content .search_fields .info_text {
  padding: 10px 15px 2px 15px;
 }

}

@media (max-width: 400px){
	/*
FIRST SECTION
======================================*/
.wedgit_search .filter{
  margin:0px;
  margin-right:12px ;
}
.wedgit_search .bottom_content .search_option label >span.school_{
  background-position: 94.5% 25%;
}
.wedgit_search .bottom_content .search_option label >span.job{
  background-position: 60% 25%;
}
.wedgit_search .bottom_content .search_option label >span.age{
    background-position: 28% 25%;
}
.wedgit_search .bottom_content .search_option label >span.select_all{
	  background-position: 0% 25%;
}
/*
FIRST SECTION
========================================*/

}





